@layer wa-theme {
  :where(:root),
  :host,
  .wa-theme-tailspin {
    h1,
    h2,
    h3,
    h4 {
      letter-spacing: calc(1em * -0.03);
    }

    wa-avatar {
      --background-color: var(--wa-color-neutral-fill-quiet);
      --text-color: var(--wa-color-neutral-on-quiet);
    }

    a,
    wa-badge,
    wa-tag {
      font-weight: var(--wa-font-weight-semibold);
    }

    :is(wa-button, button, input:where([type='button'], [type='reset'], [type='submit'])):not([appearance='plain']) {
      --box-shadow: var(--wa-shadow-s);
    }

    wa-callout {
      border-radius: var(--wa-border-radius-m);

      &::part(icon) {
        opacity: 0.6;
      }
    }

    wa-radio,
    input[type='radio'] {
      --checked-icon-color: var(--wa-color-surface-default);
      --checked-icon-scale: 0.4;

      &:checked,
      &:state(checked)::part(control) {
        background-color: var(--wa-form-control-activated-color);
      }
    }

    wa-switch {
      --background-color: var(--wa-color-neutral-fill-normal);
      --border-color: transparent;
      --height: calc(var(--thumb-size) * (18 / 14));
      --thumb-color: white;
      --thumb-color-checked: var(--thumb-color);
      --thumb-size: 1.25em;
      --thumb-shadow: var(--wa-shadow-s);
      --width: calc(var(--thumb-size) * (32 / 14));
    }

    wa-tab {
      color: var(--wa-color-text-quiet);
    }
  }
}
