:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
:where([class^='wa-palette-'], [class*=' wa-palette-']),
.wa-success-cyan {
  --wa-color-success-95: var(--wa-color-cyan-95);
  --wa-color-success-90: var(--wa-color-cyan-90);
  --wa-color-success-80: var(--wa-color-cyan-80);
  --wa-color-success-70: var(--wa-color-cyan-70);
  --wa-color-success-60: var(--wa-color-cyan-60);
  --wa-color-success-50: var(--wa-color-cyan-50);
  --wa-color-success-40: var(--wa-color-cyan-40);
  --wa-color-success-30: var(--wa-color-cyan-30);
  --wa-color-success-20: var(--wa-color-cyan-20);
  --wa-color-success-10: var(--wa-color-cyan-10);
  --wa-color-success-05: var(--wa-color-cyan-05);
  --wa-color-success: var(--wa-color-cyan);

  --wa-color-success-lt-50: var(--wa-color-cyan-lt-50);
  --wa-color-success-gte-50: var(--wa-color-cyan-gte-50);

  --wa-color-success-lt-60: var(--wa-color-cyan-lt-60);
  --wa-color-success-gte-60: var(--wa-color-cyan-gte-60);

  --wa-color-success-lt-70: var(--wa-color-cyan-lt-70);
  --wa-color-success-gte-70: var(--wa-color-cyan-gte-70);

  --wa-color-success-max-50: var(--wa-color-cyan-max-50);
  --wa-color-success-min-50: var(--wa-color-cyan-min-50);
  --wa-color-success-max-60: var(--wa-color-cyan-max-60);
  --wa-color-success-min-60: var(--wa-color-cyan-min-60);
  --wa-color-success-max-70: var(--wa-color-cyan-max-70);
  --wa-color-success-min-70: var(--wa-color-cyan-min-70);

  --wa-color-success-on: var(--wa-color-cyan-on);
}
