:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
:where([class^='wa-palette-'], [class*=' wa-palette-']),
.wa-success-indigo {
  --wa-color-success-95: var(--wa-color-indigo-95);
  --wa-color-success-90: var(--wa-color-indigo-90);
  --wa-color-success-80: var(--wa-color-indigo-80);
  --wa-color-success-70: var(--wa-color-indigo-70);
  --wa-color-success-60: var(--wa-color-indigo-60);
  --wa-color-success-50: var(--wa-color-indigo-50);
  --wa-color-success-40: var(--wa-color-indigo-40);
  --wa-color-success-30: var(--wa-color-indigo-30);
  --wa-color-success-20: var(--wa-color-indigo-20);
  --wa-color-success-10: var(--wa-color-indigo-10);
  --wa-color-success-05: var(--wa-color-indigo-05);
  --wa-color-success: var(--wa-color-indigo);

  --wa-color-success-lt-50: var(--wa-color-indigo-lt-50);
  --wa-color-success-gte-50: var(--wa-color-indigo-gte-50);

  --wa-color-success-lt-60: var(--wa-color-indigo-lt-60);
  --wa-color-success-gte-60: var(--wa-color-indigo-gte-60);

  --wa-color-success-lt-70: var(--wa-color-indigo-lt-70);
  --wa-color-success-gte-70: var(--wa-color-indigo-gte-70);

  --wa-color-success-max-50: var(--wa-color-indigo-max-50);
  --wa-color-success-min-50: var(--wa-color-indigo-min-50);
  --wa-color-success-max-60: var(--wa-color-indigo-max-60);
  --wa-color-success-min-60: var(--wa-color-indigo-min-60);
  --wa-color-success-max-70: var(--wa-color-indigo-max-70);
  --wa-color-success-min-70: var(--wa-color-indigo-min-70);

  --wa-color-success-on: var(--wa-color-indigo-on);
}
