@layer wa-success {
  :where(:root),
  :host,
  :where([class^='wa-theme-'], [class*=' wa-theme-']),
  :where([class^='wa-palette-'], [class*=' wa-palette-']),
  .wa-success-red {
    --wa-color-success-95: var(--wa-color-red-95);
    --wa-color-success-90: var(--wa-color-red-90);
    --wa-color-success-80: var(--wa-color-red-80);
    --wa-color-success-70: var(--wa-color-red-70);
    --wa-color-success-60: var(--wa-color-red-60);
    --wa-color-success-50: var(--wa-color-red-50);
    --wa-color-success-40: var(--wa-color-red-40);
    --wa-color-success-30: var(--wa-color-red-30);
    --wa-color-success-20: var(--wa-color-red-20);
    --wa-color-success-10: var(--wa-color-red-10);
    --wa-color-success-05: var(--wa-color-red-05);
    --wa-color-success: var(--wa-color-red);

    --wa-color-success-lt-50: var(--wa-color-red-lt-50);
    --wa-color-success-gte-50: var(--wa-color-red-gte-50);

    --wa-color-success-lt-60: var(--wa-color-red-lt-60);
    --wa-color-success-gte-60: var(--wa-color-red-gte-60);

    --wa-color-success-lt-70: var(--wa-color-red-lt-70);
    --wa-color-success-gte-70: var(--wa-color-red-gte-70);

    --wa-color-success-max-50: var(--wa-color-red-max-50);
    --wa-color-success-min-50: var(--wa-color-red-min-50);
    --wa-color-success-max-60: var(--wa-color-red-max-60);
    --wa-color-success-min-60: var(--wa-color-red-min-60);
    --wa-color-success-max-70: var(--wa-color-red-max-70);
    --wa-color-success-min-70: var(--wa-color-red-min-70);

    --wa-color-success-on: var(--wa-color-red-on);
  }
}
