:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
:where([class^='wa-palette-'], [class*=' wa-palette-']),
.wa-success-yellow {
  --wa-color-success-95: var(--wa-color-yellow-95);
  --wa-color-success-90: var(--wa-color-yellow-90);
  --wa-color-success-80: var(--wa-color-yellow-80);
  --wa-color-success-70: var(--wa-color-yellow-70);
  --wa-color-success-60: var(--wa-color-yellow-60);
  --wa-color-success-50: var(--wa-color-yellow-50);
  --wa-color-success-40: var(--wa-color-yellow-40);
  --wa-color-success-30: var(--wa-color-yellow-30);
  --wa-color-success-20: var(--wa-color-yellow-20);
  --wa-color-success-10: var(--wa-color-yellow-10);
  --wa-color-success-05: var(--wa-color-yellow-05);
  --wa-color-success: var(--wa-color-yellow);

  --wa-color-success-lt-50: var(--wa-color-yellow-lt-50);
  --wa-color-success-gte-50: var(--wa-color-yellow-gte-50);

  --wa-color-success-lt-60: var(--wa-color-yellow-lt-60);
  --wa-color-success-gte-60: var(--wa-color-yellow-gte-60);

  --wa-color-success-lt-70: var(--wa-color-yellow-lt-70);
  --wa-color-success-gte-70: var(--wa-color-yellow-gte-70);

  --wa-color-success-max-50: var(--wa-color-yellow-max-50);
  --wa-color-success-min-50: var(--wa-color-yellow-min-50);
  --wa-color-success-max-60: var(--wa-color-yellow-max-60);
  --wa-color-success-min-60: var(--wa-color-yellow-min-60);
  --wa-color-success-max-70: var(--wa-color-yellow-max-70);
  --wa-color-success-min-70: var(--wa-color-yellow-min-70);

  --wa-color-success-on: var(--wa-color-yellow-on);
}
