/* Should move to wa-page's light DOM styles once this is possible */
:is(html, body):has(wa-page) {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/**
 Because headers are sticky, this is needed to make sure page fragment anchors scroll down past the headers / subheaders and are visible.
 IE: `<a href="#id-for-h2">` anchors.
 */
wa-page :is(*, *:after, *:before) {
  scroll-margin-top: var(--scroll-margin-top);
}
