---
layout: page-outline
---
{% set forTag = forTag or (page.url | split('/') | last) %}
{% if description %}
  <div class="index-summary">{{ description | markdown | safe }}</div>
{% endif %}

<div id="block-filter">
  <wa-input type="search" placeholder="Search {{ title }}" clearable autofocus>
	<wa-icon slot="prefix" name="search"></wa-icon>
  </wa-input>
</div>

{% set allPages = allPages or collections[forTag] %}
{% if allPages and allPages.length > 0 %}
{% include "grouped-pages.njk" %}
{% endif %}

<link href="/assets/styles/filter.css" rel="stylesheet">
<script type="module" src="/assets/scripts/filter.js"></script>

{% if content | trim %}
<wa-divider style="--spacing: var(--wa-space-3xl)"></wa-divider> {# Temp fix for spacing issue #}
{{ content | safe }}
{% endif %}
