{% set hasSidebar = true %}
{% set hasOutline = true %}

{% extends '../_includes/base.njk' %}

{# Component header #}
{% block beforeContent %}
  <h1 class="title">{{ title }}</h1>
  <div class="component-info">

    {% for className in classes %}
      <code class="class">.{{ className }}</code>
    {% endfor %}
    {% include '../_includes/status.njk' %}
  </div>
  {% if description -%}
    <p class="summary">{{ description | inlineMarkdown | safe }}</p>
  {%- endif %}

{% endblock %}

{# Content #}
{% block content %}
  {{ content | safe }}
{% endblock %}
