{% set ancestors = page.url | ancestors %}

{% if ancestors.length > 0 %}
  <wa-breadcrumb id="docs-breadcrumbs">
  {% for ancestor in ancestors %}
    {% if ancestor.page.url != "/" %}
    <wa-breadcrumb-item href="{{ ancestor.page.url }}">{{ ancestor.data.title }}</wa-breadcrumb-item>
    {% endif %}
  {% endfor %}
  <wa-breadcrumb-item>{# Current page #}</wa-breadcrumb-item>
  </wa-breadcrumb>
  {% else %}
{% endif %}
