{# Color scheme selector #}
<wa-select class="color-scheme-selector" appearance="filled" size="small" value="auto" pill title="Press \ to toggle">
  <wa-icon class="only-light" slot="prefix" name="sun" variant="regular"></wa-icon>
  <wa-icon class="only-dark" slot="prefix" name="moon" variant="regular"></wa-icon>
  <wa-option value="light">
    <wa-icon slot="prefix" name="sun" variant="regular"></wa-icon>
    Light
  </wa-option>
  <wa-option value="dark">
    <wa-icon slot="prefix" name="moon" variant="regular"></wa-icon>
    Dark
  </wa-option>
  <wa-divider></wa-divider>
  <wa-option value="auto">
    <wa-icon class="only-light" slot="prefix" name="sun" variant="regular"></wa-icon>
    <wa-icon class="only-dark" slot="prefix" name="moon" variant="regular"></wa-icon>
    System
  </wa-option>
</wa-select>
