<table class="colors wa-palette-{{ paletteId }}">
  <thead>
    <tr>
      <th></th>
      {% for tint_bg in tints -%}
        {% for tint_fg in tints | reverse -%}
          {% if (tint_fg - tint_bg) | abs == difference %}
          <th>{{ tint_fg }} on {{ tint_bg }}</th>
          {% endif %}
        {%- endfor -%}
      {%- endfor %}
    </tr>
  </thead>
{% for hue in hues -%}
<tr>
  <th>{{ hue | capitalize }}</th>
  {% for tint_bg in tints -%}
    {% set color_bg = palettes[paletteId][hue][tint_bg] %}
    {% for tint_fg in tints | reverse -%}
      {% set color_fg = palettes[paletteId][hue][tint_fg] %}
      {% if (tint_fg - tint_bg) | abs == difference %}
      <td>
        <div class="color swatch" style="background-color: var(--wa-color-{{ hue }}-{{ tint_bg }}); color: var(--wa-color-{{ hue }}-{{ tint_fg }})">
          {% set contrast_wcag = '' %}
          {% if color_fg and color_bg %}
            {% set contrast_wcag = color_bg.contrast(color_fg, 'WCAG21') %}
          {% endif %}
          {% if contrast_wcag %}
          {{ contrast_wcag | number({maximumSignificantDigits: 2}) }}
          {% else %}
          {{ tint_fg }} on {{ tint_bg }}
          {% endif %}
        </div>
      </td>
      {% endif %}
    {%- endfor -%}
  {%- endfor -%}
</tr>
{%- endfor %}
</table>
