{# Preset theme selector #}
<wa-dropdown class="preset-theme-selector">
  <wa-button slot="trigger" appearance="filled" size="small" pill caret>
    <wa-icon slot="prefix" name="paintbrush" variant="regular"></wa-icon>
    <span class="preset-theme-selector__text">Default</span>
  </wa-button>
  <wa-menu>
    <wa-menu-item type="checkbox" value="default" data-description="Your trusty companion, like a perfectly broken-in pair of jeans.">Default</wa-menu-item>
    <wa-menu-item type="checkbox" value="classic" data-description="Timeless elegance that never goes out of style.">Classic</wa-menu-item>
    <wa-menu-item type="checkbox" value="awesome" data-description="Punchy and vibrant, the rockstar of themes.">Awesome</wa-menu-item>
    <wa-menu-item type="checkbox" value="active" data-description="Energetic and tactile, always in motion.">Active</wa-menu-item>
    <wa-menu-item type="checkbox" value="brutalist" data-description="Sharp, square, and unapologetically bold.">Brutalist</wa-menu-item>
    <wa-menu-item data-alpha="remove" type="checkbox" value="glassy" data-description="TODO">Glassy</wa-menu-item>
    <wa-menu-item type="checkbox" value="mellow" data-description="Soft and soothing, like a lazy Sunday morning.">Mellow</wa-menu-item>
    <wa-menu-item type="checkbox" value="tailspin" data-description="Like a bird in flight, guiding you from there to here.">Tailspin</wa-menu-item>
    <wa-menu-item data-alpha="remove" type="checkbox" value="playful" data-description="TODO">Playful</wa-menu-item>
    <wa-menu-item data-alpha="remove" type="checkbox" value="premium" data-description="TODO">Premium</wa-menu-item>
  </wa-menu>
</wa-dropdown>
