
<wa-details {{ (('/' + tag + '/') in page.url) | attr('open') }}>
  <h2 slot="summary">
    {% set groupUrl %}/docs/{{ tag }}/{% endset %}
    {% if groupUrl | getCollectionItemFromUrl %}
      <a href="{{ groupUrl }}" title="Overview">{{ title or (tag | capitalize) }}
        <wa-icon name="grid-2"></wa-icon>
      </a>
    {% else %}
      {{ title or (tag | capitalize) }}
    {% endif %}
  </h2>
  <ul>
    {% for page in collections[tag] | sort %}
      {% if not page.data.parent -%}
        {% include 'sidebar-link.njk' %}
      {%- endif %}
    {% endfor %}
  </ul>
</wa-details>
