{# Getting started #}
<h2>Getting Started</h2>
<ul>
  <li><a href="/docs/installation">Installation</a></li>
  <li><a href="/docs/usage">Usage</a></li>
  <li><a href="/docs/customizing">Customizing</a></li>
  <li><a href="/docs/form-controls">Form Controls</a></li>
  <li><a href="/docs/localization">Localization</a></li>
</ul>

{# Resources #}
<h2>Resources</h2>
<ul>
  <li><a href="https://github.com/shoelace-style/webawesome-alpha/discussions" target="_blank">Help &amp; Support</a></li>
  <li><a href="/docs/resources/community">Community</a></li>
  <li><a href="/docs/resources/accessibility">Accessibility</a></li>
  <li><a href="/docs/resources/contributing">Contributing</a></li>
  <li><a href="/docs/resources/changelog">Changelog</a></li>
</ul>

{% for tag, title in {
  'themes': 'Themes',
  'components': 'Components',
  'native': 'Native Styles',
  'utilities': 'Style Utilities',
  'layout': 'Layout',
  'patterns': 'Patterns',
  'tokens': 'Design Tokens'
} %}
  {% include 'sidebar-group.njk' %}
{% endfor %}
