@import url('/assets/styles/theme-icons.css');
@import url('/assets/vue/components/panel.css');
@import url('/assets/vue/components/scrollable.css');
@import url('/assets/vue/components/ui-slider.css');
:root {
  --ui-border: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-surface-border);
}

html,
body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.sidebar {
  max-width: 22rem;
}

wa-card {
  .page-name {
    display: flex;
    gap: var(--wa-space-xs);
  }
}

wa-page > header {
  flex: 1;
  padding-block: var(--wa-space-s);

  .title {
    display: flex;
    margin: 0 auto;
    gap: var(--wa-space-xs);
    align-items: center;
    text-indent: 4lh;

    .editable-text {
      text-indent: 0;
    }

    h1 {
      font-size: var(--wa-font-size-l);
      margin: 0;
    }

    wa-icon-button {
      transition: var(--wa-transition-slow);
    }

    &:not(:hover, :focus-within, :has(input)) wa-icon-button {
      opacity: 0;
    }
  }

  &::part(menu) {
    overflow: initial;
  }
}

.preview-header {
  padding-block: var(--wa-space-s) 0;

  wa-radio-group {
    margin-left: auto;

    &::part(form-control) {
      display: flex;
      gap: var(--wa-space-xs);
      align-items: center;
    }
  }
}

.preview-container {
  padding: var(--wa-space-m);
  display: grid;
  height: 100%;
  max-inline-size: 140ch;
  margin: auto;

  wa-comparison {
    height: 100%;

    &::part(base),
    &::part(before),
    &::part(after) {
      height: 100%;
    }
  }

  iframe.preview {
    border-radius: var(--wa-border-radius-m);
    border: var(--ui-border);
    width: 100%;
    height: 100%;
  }
}

wa-tab::part(base) {
  padding-bottom: var(--wa-space-xs);
}

wa-tab-panel:empty {
  --padding: 0;
}

wa-radio-group.card-picker {
  &::part(form-control-input) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
    gap: var(--wa-space-l);
  }

  wa-radio {
    display: flex;
    margin: 0 !important;
  }
}

.panel-content {
  &:is(.panel[data-value='styles'] *) {
    gap: var(--wa-space-l);
  }

  > wa-divider {
    --spacing: 0;
  }

  > wa-callout {
    margin-bottom: 0;

    &[size='small'][variant='danger'] {
      font-weight: var(--wa-font-weight-semibold);
    }
  }

  > footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .next {
      margin-inline-start: auto;
    }
  }
}

.panel wa-card {
  --spacing: var(--wa-space-s);
  position: relative;

  .coming-soon {
    position: absolute;
    top: calc(-1 * var(--wa-space-2xs));
    left: 50%;
    translate: -50% 0;
  }
}

wa-card wa-icon.angle-right {
  margin-inline-start: auto;
  align-self: center;
  font-size: var(--wa-font-size-l);
  color: var(--wa-color-text-quiet);
}

.dimensionality-card {
  .page-name .wa-caption-m {
    display: none;
  }
}

.ui-slider {
  .corner,
  .borders,
  .spacing {
    aspect-ratio: 1;
    width: max(var(--wa-font-size-l), var(--wa-border-radius-l) * 1.25);
  }

  .corner,
  .borders {
    --border-color: var(--wa-color-border-normal);
    background-color: var(--wa-color-fill-quiet);
    border-color: var(--border-color, var(--wa-color-border-normal));
    border-style: solid;
    border-width: var(--border-width, var(--wa-border-width-m));

    &:is(wa-button:hover *) {
      background-color: var(--wa-color-fill-normal);
    }
  }

  .corner {
    border-bottom: none;
    border-left: none;
    border-top-right-radius: var(--border-radius);
  }

  .spacing {
    display: grid;

    grid-template-columns: 3fr 2fr;
    gap: calc(2px + var(--spacing) * 2px);
    border-radius: 2px;

    div {
      padding: calc(2px + var(--spacing) * 1px);
      border-radius: inherit;
      background-color: var(--wa-color-border-quiet);
    }

    div:nth-child(3) {
      grid-column: 2;
      grid-row: 1 / 3;
    }
  }

  &:hover,
  &:focus-within {
    .corner,
    .borders {
      --border-color: var(--wa-color-brand);
    }

    .spacing {
      background-color: lab(from var(--wa-color-brand) l a b / 10%);

      &:is(wa-button:hover *) {
        background-color: lab(from var(--wa-color-brand) l a b / 15%);

        div {
          background-color: var(--wa-color-border-normal);
        }
      }
    }
  }
}
