.ui-slider {
  display: grid;
  grid-template:
    'label label label'
    'min slider max';
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: var(--wa-space-2xs);

  wa-slider {
    display: block;
    grid-area: slider;
    width: 100%;
  }

  &:has(.ui-slider-min) wa-slider {
    &::part(label) {
      margin-inline-start: calc(-1 * (var(--wa-space-s) + 1rem + 2 * var(--wa-border-width-m)));
    }
  }

  .clear-button {
    vertical-align: middle;
    margin-inline-start: var(--wa-space-xs);
    font-size: var(--wa-font-size-xs);
  }
}

.ui-slider-header {
  grid-area: label;
}

.ui-slider-min,
.ui-slider-max {
  width: min-content;
}

.ui-slider-min {
  grid-area: min;
  margin-inline-start: calc(-1 * var(--wa-space-s));
}

.ui-slider-max {
  grid-area: max;
  margin-inline-end: calc(-1 * var(--wa-space-s));
}
