@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('../default/typography.css');

@layer wa-theme {
  :where(:root),
  :host,
  .wa-theme-awesome {
    /**
   * Typography
   */
    --wa-font-family-body: Quicksand, sans-serif;

    --wa-font-weight-light: 400;
    --wa-font-weight-normal: 500;
    --wa-font-weight-semibold: 600;
    --wa-font-weight-bold: 700;

    --wa-font-weight-action: var(--wa-font-weight-bold);
  }
}
