@layer wa-success {
  :where(:root),
  :host,
  :where([class^='wa-theme-'], [class*=' wa-theme-']),
  :where([class^='wa-palette-'], [class*=' wa-palette-']),
  .wa-success-gray {
    --wa-color-success-95: var(--wa-color-gray-95);
    --wa-color-success-90: var(--wa-color-gray-90);
    --wa-color-success-80: var(--wa-color-gray-80);
    --wa-color-success-70: var(--wa-color-gray-70);
    --wa-color-success-60: var(--wa-color-gray-60);
    --wa-color-success-50: var(--wa-color-gray-50);
    --wa-color-success-40: var(--wa-color-gray-40);
    --wa-color-success-30: var(--wa-color-gray-30);
    --wa-color-success-20: var(--wa-color-gray-20);
    --wa-color-success-10: var(--wa-color-gray-10);
    --wa-color-success-05: var(--wa-color-gray-05);
    --wa-color-success: var(--wa-color-gray);

    --wa-color-success-lt-50: var(--wa-color-gray-lt-50);
    --wa-color-success-gte-50: var(--wa-color-gray-gte-50);

    --wa-color-success-lt-60: var(--wa-color-gray-lt-60);
    --wa-color-success-gte-60: var(--wa-color-gray-gte-60);

    --wa-color-success-lt-70: var(--wa-color-gray-lt-70);
    --wa-color-success-gte-70: var(--wa-color-gray-gte-70);

    --wa-color-success-max-50: var(--wa-color-gray-max-50);
    --wa-color-success-min-50: var(--wa-color-gray-min-50);
    --wa-color-success-max-60: var(--wa-color-gray-max-60);
    --wa-color-success-min-60: var(--wa-color-gray-min-60);
    --wa-color-success-max-70: var(--wa-color-gray-max-70);
    --wa-color-success-min-70: var(--wa-color-gray-min-70);

    --wa-color-success-on: var(--wa-color-gray-on);
  }
}
