:host {
  display: inline-flex;
  gap: 0.5em;
  border-radius: var(--wa-border-radius-m);
  align-items: center;
  background-color: var(--background-color, var(--wa-color-fill-quiet));
  border-color: var(--border-color, transparent);
  border-style: var(--wa-border-style);
  border-width: var(--wa-border-width-s);
  color: var(--text-color, var(--wa-color-on-normal));
  font-size: inherit;
  line-height: 1;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  height: calc(var(--wa-form-control-height) * 0.8);
  line-height: calc(var(--wa-form-control-height) - var(--wa-form-control-border-width) * 2);
  padding: 0 0.75em;
}

.content {
  font-size: var(--wa-font-size-smaller);
}

[part='remove-button'] {
  color: inherit;
  line-height: 1;
}

[part='remove-button']::part(base) {
  padding: 0;
  height: 1em;
  width: 1em;
}

:host(:hover) > [part='remove-button']::part(base) {
  color: color-mix(in oklab, currentColor, var(--wa-color-mix-hover));
}

:host(:active) > [part='remove-button']::part(base) {
  color: color-mix(in oklab, currentColor, var(--wa-color-mix-active));
}

/*
 * Pill modifier
 */
:host([pill]) {
  border-radius: var(--wa-border-radius-pill);
}
