/** TODO: This should probably get abstracted into an actual package. */
.diff-dialog-toggle {
  position: absolute;
  top: 0;
  right: 0;
}
.diff-debugger {
  position: relative;
  border: 4px solid red;
}
.diff-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr);
  max-height: 80vh;
  gap: 16px;
}
.diff-grid > * {
  height: 100%;
}
.diff-dialog {
  max-width: 90vw;
  width: 90vw;
}
.diff-dialog ins {
  text-decoration: none;
}
.diff-dialog pre {
  border: 1px solid transparent;
  height: 100%;
  max-height: calc(100% - 2em);
}
.diff-dialog code {
  height: 100%;
}
.diff-dialog del {
  text-decoration: none;
}
