@layer wa-theme {
  :where(:root),
  :host,
  .wa-theme-active {
    --wa-theme-active-shadow-pop-out:
      inset 0 0.0625rem 0 0.0625rem rgb(255 255 255 / 0.15) /* shine */,
      inset 0 0.0625rem 0.125rem 0 rgb(255 255 255 / 0.2) /* inner highlight */,
      inset 0 -0.125rem 0.0625rem 0 rgb(0 0 0 / 0.2) /* inner shadow */;
    --wa-theme-active-shadow-punch-in:
      inset 0 0 0 0 transparent /* shine */, inset 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.15) /* inner highlight */,
      inset 0 -0.0625rem 0.25rem 0 rgb(0 0 0 / 0.15) /* inner shadow */;

    :is(wa-button, button, input:where([type='button'], [type='reset'], [type='submit'])):not(
        [appearance~='plain'],
        .wa-plain
      ) {
      &:where(:not(wa-button)),
      &::part(base) {
        border-width: 0px;
        box-shadow:
          var(--wa-theme-active-shadow-pop-out),
          inset 0 0 0 var(--border-width) var(--border-color, var(--background-color, transparent));
        padding-inline: calc(var(--wa-form-control-padding-inline) + var(--border-width));
      }

      &:not([disabled], [loading]):active {
        &:where(:not(wa-button)),
        &::part(base) {
          box-shadow:
            var(--wa-theme-active-shadow-punch-in),
            inset 0 0 0 var(--border-width) var(--border-color-active, var(--background-color-active, transparent));
        }
      }
    }

    wa-card {
      box-shadow: var(--wa-theme-active-shadow-pop-out);
    }

    input:not([type='button'], [type='reset'], [type='submit'], :checked),
    select,
    textarea,
    :is(wa-checkbox, wa-radio, wa-switch):not(:state(checked)),
    wa-input,
    wa-select,
    wa-textarea {
      &:not([appearance='filled']):not([disabled]) {
        --box-shadow: inset var(--wa-shadow-s);
      }
    }
    input[type='range'],
    wa-slider,
    wa-switch {
      --thumb-shadow: var(--wa-theme-active-shadow-pop-out);
    }

    wa-progress-bar {
      &::part(base) {
        box-shadow: inset var(--wa-shadow-s);
      }

      &::part(indicator) {
        box-shadow: inset 0 -0.5em 1em -0.5em oklch(from var(--indicator-color) calc(l - 0.1) c h);
      }
    }
  }
}
