@layer wa-theme {
  :where(:root),
  :host,
  .wa-theme-active {
    wa-radio,
    input[type='radio'] {
      --checked-icon-color: var(--wa-color-brand-on-loud);
      --checked-icon-scale: 0.4;

      &:checked,
      &:state(checked)::part(control) {
        background-color: var(--wa-form-control-activated-color);
      }
    }
  }
}
