---
title: Style Utilities
description: Style utilities are preset rules that let you efficiently customize styles for components and native elements alike.
  See the [installation instructions](#installation) to use style utilities in your project.
layout: overview
categories: ["layout"]
override:tags: []
---

{% markdown %}
## Installation

To use all Web Awesome page styles (including [native styles](/docs/utilities/native/)), include the following stylesheet in your project:

```html
<link rel="stylesheet" href="{% cdnUrl 'styles/webawesome.css' %}" />
```

Or, to _only_ include utilities:

```html
<link rel="stylesheet" href="{% cdnUrl 'styles/utilities.css' %}" />
```
{% endmarkdown %}
