@layer wa-theme {
  /**
 * Component Styles
 */
  :where(:root),
  :host,
  .wa-theme-mellow {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      letter-spacing: calc(1em * -0.02);
    }

    wa-callout {
      border-width: var(--wa-panel-border-width) var(--wa-panel-border-width) var(--wa-panel-border-width)
        calc(var(--wa-panel-border-width) * 4);
    }

    wa-card::part(header) {
      border-bottom-style: dotted;
    }
    wa-card::part(footer) {
      border-top-style: dotted;
    }

    input[type='radio'],
    wa-radio {
      --checked-icon-scale: 0.6;
    }
  }
}
