@import url('preview/app.css');

html {
  background: transparent;
}

html,
body,
.theme-showcase {
  height: 100vh;
  overflow: hidden;
}

#mix_and_match {
  font-weight: var(--wa-font-weight-semibold);
  color: var(--wa-color-text-quiet);
  margin-block-end: var(--wa-space-xs);

  html:not(.is-remixed) {
    display: none;
  }

  wa-icon {
    vertical-align: -0.15em;
  }

  > strong {
    margin-inline-end: var(--wa-space-2xs);
  }

  wa-badge {
    > a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.theme-showcase {
  isolation: isolate;
  background-color: var(--wa-color-surface-lowered);
  border-radius: var(--wa-border-radius-l);
  overflow: hidden;

  @media (width < 500px) {
    flex-flow: column;
  }

  header {
    min-width: min(25ch, 100vw);
    align-self: center;
    padding: var(--wa-space-xl);
    box-sizing: border-box;

    h1 {
      margin-bottom: var(--wa-space-2xs);
    }

    wa-breadcrumb-item:not(:first-of-type, :last-of-type) {
      display: none;
    }

    p:empty {
      display: none;
    }
  }
}
