:host {
  display: block;
}

:host([appearance='filled']) {
  --background-color: var(--wa-color-neutral-fill-quiet);
  --border-color: var(--background-color);
}

.control,
.size-adjuster {
  grid-area: 1 / 1 / 2 / 2;
}

.size-adjuster {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.control {
  border: none;
  background: none;
  box-shadow: none;
  cursor: inherit;
  -webkit-appearance: none;
}

.control::-webkit-search-decoration,
.control::-webkit-search-cancel-button,
.control::-webkit-search-results-button,
.control::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.control:focus {
  outline: none;
}

/*
 * Resize types
 */

.textarea--resize-none .control {
  resize: none;
}

.textarea--resize-vertical .control {
  resize: vertical;
}

.textarea--resize-auto .control {
  height: auto;
  resize: none;
  overflow-y: hidden;
}
