@layer wa-brand {
  :where(:root),
  :host,
  :where([class^='wa-theme-'], [class*=' wa-theme-']),
  :where([class^='wa-palette-'], [class*=' wa-palette-']),
  .wa-brand-orange {
    --wa-color-brand-95: var(--wa-color-orange-95);
    --wa-color-brand-90: var(--wa-color-orange-90);
    --wa-color-brand-80: var(--wa-color-orange-80);
    --wa-color-brand-70: var(--wa-color-orange-70);
    --wa-color-brand-60: var(--wa-color-orange-60);
    --wa-color-brand-50: var(--wa-color-orange-50);
    --wa-color-brand-40: var(--wa-color-orange-40);
    --wa-color-brand-30: var(--wa-color-orange-30);
    --wa-color-brand-20: var(--wa-color-orange-20);
    --wa-color-brand-10: var(--wa-color-orange-10);
    --wa-color-brand-05: var(--wa-color-orange-05);
    --wa-color-brand: var(--wa-color-orange);

    --wa-color-brand-lt-50: var(--wa-color-orange-lt-50);
    --wa-color-brand-gte-50: var(--wa-color-orange-gte-50);

    --wa-color-brand-lt-60: var(--wa-color-orange-lt-60);
    --wa-color-brand-gte-60: var(--wa-color-orange-gte-60);

    --wa-color-brand-lt-70: var(--wa-color-orange-lt-70);
    --wa-color-brand-gte-70: var(--wa-color-orange-gte-70);

    --wa-color-brand-max-50: var(--wa-color-orange-max-50);
    --wa-color-brand-min-50: var(--wa-color-orange-min-50);
    --wa-color-brand-max-60: var(--wa-color-orange-max-60);
    --wa-color-brand-min-60: var(--wa-color-orange-min-60);
    --wa-color-brand-max-70: var(--wa-color-orange-max-70);
    --wa-color-brand-min-70: var(--wa-color-orange-min-70);

    --wa-color-brand-on: var(--wa-color-orange-on);
  }
}
