@layer wa-danger {
  :where(:root),
  :host,
  :where([class^='wa-theme-'], [class*=' wa-theme-']),
  :where([class^='wa-palette-'], [class*=' wa-palette-']),
  .wa-danger-blue {
    --wa-color-danger-95: var(--wa-color-blue-95);
    --wa-color-danger-90: var(--wa-color-blue-90);
    --wa-color-danger-80: var(--wa-color-blue-80);
    --wa-color-danger-70: var(--wa-color-blue-70);
    --wa-color-danger-60: var(--wa-color-blue-60);
    --wa-color-danger-50: var(--wa-color-blue-50);
    --wa-color-danger-40: var(--wa-color-blue-40);
    --wa-color-danger-30: var(--wa-color-blue-30);
    --wa-color-danger-20: var(--wa-color-blue-20);
    --wa-color-danger-10: var(--wa-color-blue-10);
    --wa-color-danger-05: var(--wa-color-blue-05);
    --wa-color-danger: var(--wa-color-blue);

    --wa-color-danger-lt-50: var(--wa-color-blue-lt-50);
    --wa-color-danger-gte-50: var(--wa-color-blue-gte-50);

    --wa-color-danger-lt-60: var(--wa-color-blue-lt-60);
    --wa-color-danger-gte-60: var(--wa-color-blue-gte-60);

    --wa-color-danger-lt-70: var(--wa-color-blue-lt-70);
    --wa-color-danger-gte-70: var(--wa-color-blue-gte-70);

    --wa-color-danger-max-50: var(--wa-color-blue-max-50);
    --wa-color-danger-min-50: var(--wa-color-blue-min-50);
    --wa-color-danger-max-60: var(--wa-color-blue-max-60);
    --wa-color-danger-min-60: var(--wa-color-blue-min-60);
    --wa-color-danger-max-70: var(--wa-color-blue-max-70);
    --wa-color-danger-min-70: var(--wa-color-blue-min-70);

    --wa-color-danger-on: var(--wa-color-blue-on);
  }
}
