:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
:where([class^='wa-palette-'], [class*=' wa-palette-']),
.wa-danger-gray {
  --wa-color-danger-95: var(--wa-color-gray-95);
  --wa-color-danger-90: var(--wa-color-gray-90);
  --wa-color-danger-80: var(--wa-color-gray-80);
  --wa-color-danger-70: var(--wa-color-gray-70);
  --wa-color-danger-60: var(--wa-color-gray-60);
  --wa-color-danger-50: var(--wa-color-gray-50);
  --wa-color-danger-40: var(--wa-color-gray-40);
  --wa-color-danger-30: var(--wa-color-gray-30);
  --wa-color-danger-20: var(--wa-color-gray-20);
  --wa-color-danger-10: var(--wa-color-gray-10);
  --wa-color-danger-05: var(--wa-color-gray-05);
  --wa-color-danger: var(--wa-color-gray);

  --wa-color-danger-lt-50: var(--wa-color-gray-lt-50);
  --wa-color-danger-gte-50: var(--wa-color-gray-gte-50);

  --wa-color-danger-lt-60: var(--wa-color-gray-lt-60);
  --wa-color-danger-gte-60: var(--wa-color-gray-gte-60);

  --wa-color-danger-lt-70: var(--wa-color-gray-lt-70);
  --wa-color-danger-gte-70: var(--wa-color-gray-gte-70);

  --wa-color-danger-max-50: var(--wa-color-gray-max-50);
  --wa-color-danger-min-50: var(--wa-color-gray-min-50);
  --wa-color-danger-max-60: var(--wa-color-gray-max-60);
  --wa-color-danger-min-60: var(--wa-color-gray-min-60);
  --wa-color-danger-max-70: var(--wa-color-gray-max-70);
  --wa-color-danger-min-70: var(--wa-color-gray-min-70);

  --wa-color-danger-on: var(--wa-color-gray-on);
}
