@layer wa-neutral {
  :where(:root),
  :host,
  :where([class^='wa-theme-'], [class*=' wa-theme-']),
  :where([class^='wa-palette-'], [class*=' wa-palette-']),
  .wa-neutral-green {
    --wa-color-neutral-95: var(--wa-color-green-95);
    --wa-color-neutral-90: var(--wa-color-green-90);
    --wa-color-neutral-80: var(--wa-color-green-80);
    --wa-color-neutral-70: var(--wa-color-green-70);
    --wa-color-neutral-60: var(--wa-color-green-60);
    --wa-color-neutral-50: var(--wa-color-green-50);
    --wa-color-neutral-40: var(--wa-color-green-40);
    --wa-color-neutral-30: var(--wa-color-green-30);
    --wa-color-neutral-20: var(--wa-color-green-20);
    --wa-color-neutral-10: var(--wa-color-green-10);
    --wa-color-neutral-05: var(--wa-color-green-05);
    --wa-color-neutral: var(--wa-color-green);

    --wa-color-neutral-lt-50: var(--wa-color-green-lt-50);
    --wa-color-neutral-gte-50: var(--wa-color-green-gte-50);

    --wa-color-neutral-lt-60: var(--wa-color-green-lt-60);
    --wa-color-neutral-gte-60: var(--wa-color-green-gte-60);

    --wa-color-neutral-lt-70: var(--wa-color-green-lt-70);
    --wa-color-neutral-gte-70: var(--wa-color-green-gte-70);

    --wa-color-neutral-max-50: var(--wa-color-green-max-50);
    --wa-color-neutral-min-50: var(--wa-color-green-min-50);
    --wa-color-neutral-max-60: var(--wa-color-green-max-60);
    --wa-color-neutral-min-60: var(--wa-color-green-min-60);
    --wa-color-neutral-max-70: var(--wa-color-green-max-70);
    --wa-color-neutral-min-70: var(--wa-color-green-min-70);

    --wa-color-neutral-on: var(--wa-color-green-on);
  }
}
