@layer wa-neutral {
  :where(:root),
  :host,
  :where([class^='wa-theme-'], [class*=' wa-theme-']),
  :where([class^='wa-palette-'], [class*=' wa-palette-']),
  .wa-neutral-red {
    --wa-color-neutral-95: var(--wa-color-red-95);
    --wa-color-neutral-90: var(--wa-color-red-90);
    --wa-color-neutral-80: var(--wa-color-red-80);
    --wa-color-neutral-70: var(--wa-color-red-70);
    --wa-color-neutral-60: var(--wa-color-red-60);
    --wa-color-neutral-50: var(--wa-color-red-50);
    --wa-color-neutral-40: var(--wa-color-red-40);
    --wa-color-neutral-30: var(--wa-color-red-30);
    --wa-color-neutral-20: var(--wa-color-red-20);
    --wa-color-neutral-10: var(--wa-color-red-10);
    --wa-color-neutral-05: var(--wa-color-red-05);
    --wa-color-neutral: var(--wa-color-red);

    --wa-color-neutral-lt-50: var(--wa-color-red-lt-50);
    --wa-color-neutral-gte-50: var(--wa-color-red-gte-50);

    --wa-color-neutral-lt-60: var(--wa-color-red-lt-60);
    --wa-color-neutral-gte-60: var(--wa-color-red-gte-60);

    --wa-color-neutral-lt-70: var(--wa-color-red-lt-70);
    --wa-color-neutral-gte-70: var(--wa-color-red-gte-70);

    --wa-color-neutral-max-50: var(--wa-color-red-max-50);
    --wa-color-neutral-min-50: var(--wa-color-red-min-50);
    --wa-color-neutral-max-60: var(--wa-color-red-max-60);
    --wa-color-neutral-min-60: var(--wa-color-red-min-60);
    --wa-color-neutral-max-70: var(--wa-color-red-max-70);
    --wa-color-neutral-min-70: var(--wa-color-red-min-70);

    --wa-color-neutral-on: var(--wa-color-red-on);
  }
}
