@import url('../color/bright.css');
@import url('default/color-semantic.css');
@import url('default/space.css');
@import url('default/outlines.css');
@import url('default/typography.css');
@import url('default/rounding.css');
@import url('default/shadows.css');
@import url('default/transitions.css');
@import url('default/groups.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root,
:host,
.wa-theme-awesome,
.wa-light {
  color-scheme: light;
  color: var(--wa-color-text-normal);

  /**
   * Foundational Colors
   */
  --wa-color-text-normal: var(--wa-color-gray-20);

  /**
   * Semantic Colors
   */
  --wa-color-brand-fill-quiet: var(--wa-color-blue-95);
  --wa-color-brand-fill-normal: var(--wa-color-blue-90);
  --wa-color-brand-fill-loud: var(--wa-color-blue-70);
  --wa-color-brand-border-quiet: var(--wa-color-blue-70);
  --wa-color-brand-border-normal: var(--wa-color-blue-50);
  --wa-color-brand-border-loud: var(--wa-color-blue-30);
  --wa-color-brand-on-quiet: var(--wa-color-blue-40);
  --wa-color-brand-on-normal: var(--wa-color-blue-40);
  --wa-color-brand-on-loud: var(--wa-color-text-normal);

  --wa-color-success-fill-quiet: var(--wa-color-teal-95);
  --wa-color-success-fill-normal: var(--wa-color-teal-90);
  --wa-color-success-fill-loud: var(--wa-color-teal-80);
  --wa-color-success-border-quiet: var(--wa-color-teal-70);
  --wa-color-success-border-normal: var(--wa-color-teal-50);
  --wa-color-success-border-loud: var(--wa-color-teal-30);
  --wa-color-success-on-quiet: var(--wa-color-teal-40);
  --wa-color-success-on-normal: var(--wa-color-teal-40);
  --wa-color-success-on-loud: var(--wa-color-text-normal);

  --wa-color-warning-fill-quiet: var(--wa-color-yellow-95);
  --wa-color-warning-fill-normal: var(--wa-color-yellow-90);
  --wa-color-warning-fill-loud: var(--wa-color-yellow-80);
  --wa-color-warning-border-quiet: var(--wa-color-yellow-70);
  --wa-color-warning-border-normal: var(--wa-color-yellow-50);
  --wa-color-warning-border-loud: var(--wa-color-yellow-30);
  --wa-color-warning-on-quiet: var(--wa-color-yellow-40);
  --wa-color-warning-on-normal: var(--wa-color-yellow-40);
  --wa-color-warning-on-loud: var(--wa-color-text-normal);

  --wa-color-danger-fill-quiet: var(--wa-color-red-95);
  --wa-color-danger-fill-normal: var(--wa-color-red-90);
  --wa-color-danger-fill-loud: var(--wa-color-red-70);
  --wa-color-danger-border-quiet: var(--wa-color-red-70);
  --wa-color-danger-border-normal: var(--wa-color-red-50);
  --wa-color-danger-border-loud: var(--wa-color-red-30);
  --wa-color-danger-on-quiet: var(--wa-color-red-40);
  --wa-color-danger-on-normal: var(--wa-color-red-40);
  --wa-color-danger-on-loud: var(--wa-color-text-normal);

  --wa-color-neutral-fill-quiet: var(--wa-color-gray-95);
  --wa-color-neutral-fill-normal: var(--wa-color-gray-90);
  --wa-color-neutral-fill-loud: var(--wa-color-gray-80);
  --wa-color-neutral-border-quiet: var(--wa-color-gray-70);
  --wa-color-neutral-border-normal: var(--wa-color-gray-50);
  --wa-color-neutral-border-loud: var(--wa-color-gray-30);
  --wa-color-neutral-on-quiet: var(--wa-color-gray-40);
  --wa-color-neutral-on-normal: var(--wa-color-gray-40);
  --wa-color-neutral-on-loud: var(--wa-color-text-normal);

  /**
   * Typography
   */
  --wa-font-family-body: Quicksand, sans-serif;
  --wa-font-family-heading: var(--wa-font-family-body);
  --wa-font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  --wa-font-family-longform: ui-serif, serif;

  --wa-font-weight-light: 400;
  --wa-font-weight-normal: 500;
  --wa-font-weight-semibold: 600;
  --wa-font-weight-bold: 700;

  --wa-font-weight-body: var(--wa-font-weight-normal);
  --wa-font-weight-heading: var(--wa-font-weight-bold);
  --wa-font-weight-action: var(--wa-font-weight-bold);

  /**
   * Spacing
   */
  --wa-space-scale: 1.25;

  /**
   * Borders
   */
  --wa-border-width-scale: 2;

  /**
   * Rounding
   */
  --wa-border-radius-scale: 1.5;

  /**
   * Shadows
   */
  --wa-shadow-offset-y-scale: 2;
  --wa-shadow-blur-scale: 0;
  --wa-shadow-spread-scale: 0;

  /**
   * Transitions
   */
  --wa-transition-easing: ease-in;

  /**
   * Component Groups
   */

  /* Form controls */
  --wa-form-control-activated-color: var(--wa-color-neutral-border-loud);
  --wa-form-control-border-color: var(--wa-color-neutral-border-normal);

  --wa-form-control-label-color: var(--wa-color-text-normal);
  --wa-form-control-label-font-weight: var(--wa-font-weight-bold);
  --wa-form-control-label-line-height: var(--wa-line-height-normal);

  /* Tooltips */
  --wa-tooltip-arrow-size: 0.375rem;

  --wa-tooltip-background-color: var(--wa-color-text-normal);

  --wa-tooltip-border-radius: var(--wa-border-radius-s);

  --wa-tooltip-content-color: var(--wa-color-surface-default);
  --wa-tooltip-font-size: var(--wa-font-size-s);
  --wa-tooltip-line-height: var(--wa-line-height-normal);
}

.wa-dark,
:is(:host-context(.wa-dark)) {
  color-scheme: dark;
  color: var(--wa-color-text-normal);

  /**
   * Foundational Colors
   */
  --wa-color-surface-raised: var(--wa-color-gray-10);
  --wa-color-surface-default: var(--wa-color-gray-05);
  --wa-color-surface-lowered: color-mix(in oklab, var(--wa-color-surface-default), black 20%);
  --wa-color-surface-border: var(--wa-color-gray-20);

  --wa-color-text-normal: var(--wa-color-gray-95);
  --wa-color-text-quiet: var(--wa-color-gray-60);
  --wa-color-text-link: var(--wa-color-blue-70);

  --wa-color-overlay-modal: color-mix(in oklab, black 60%, transparent);
  --wa-color-overlay-inline: color-mix(in oklab, var(--wa-color-gray-50) 10%, transparent);

  --wa-color-shadow: color-mix(in oklab, black calc(var(--wa-shadow-blur-scale) * 32% + 40%), transparent);

  --wa-color-focus: var(--wa-color-blue-60);

  --wa-color-mix-hover: black 8%;
  --wa-color-mix-active: black 16%;

  /**
   * Semantic Colors
   */
  --wa-color-brand-fill-quiet: var(--wa-color-blue-10);
  --wa-color-brand-fill-normal: var(--wa-color-blue-20);
  --wa-color-brand-fill-loud: var(--wa-color-blue-50);
  --wa-color-brand-border-quiet: var(--wa-color-blue-30);
  --wa-color-brand-border-normal: var(--wa-color-blue-50);
  --wa-color-brand-border-loud: var(--wa-color-blue-80);
  --wa-color-brand-on-quiet: var(--wa-color-blue-70);
  --wa-color-brand-on-normal: var(--wa-color-blue-80);
  --wa-color-brand-on-loud: white;

  --wa-color-success-fill-quiet: var(--wa-color-teal-10);
  --wa-color-success-fill-normal: var(--wa-color-teal-20);
  --wa-color-success-fill-loud: var(--wa-color-teal-50);
  --wa-color-success-border-quiet: var(--wa-color-teal-30);
  --wa-color-success-border-normal: var(--wa-color-teal-50);
  --wa-color-success-border-loud: var(--wa-color-teal-80);
  --wa-color-success-on-quiet: var(--wa-color-teal-70);
  --wa-color-success-on-normal: var(--wa-color-teal-80);
  --wa-color-success-on-loud: white;

  --wa-color-warning-fill-quiet: var(--wa-color-yellow-10);
  --wa-color-warning-fill-normal: var(--wa-color-yellow-20);
  --wa-color-warning-fill-loud: var(--wa-color-yellow-70);
  --wa-color-warning-border-quiet: var(--wa-color-yellow-30);
  --wa-color-warning-border-normal: var(--wa-color-yellow-50);
  --wa-color-warning-border-loud: var(--wa-color-yellow-80);
  --wa-color-warning-on-quiet: var(--wa-color-yellow-70);
  --wa-color-warning-on-normal: var(--wa-color-yellow-80);
  --wa-color-warning-on-loud: var(--wa-color-yellow-05);

  --wa-color-danger-fill-quiet: var(--wa-color-red-10);
  --wa-color-danger-fill-normal: var(--wa-color-red-20);
  --wa-color-danger-fill-loud: var(--wa-color-red-50);
  --wa-color-danger-border-quiet: var(--wa-color-red-30);
  --wa-color-danger-border-normal: var(--wa-color-red-50);
  --wa-color-danger-border-loud: var(--wa-color-red-80);
  --wa-color-danger-on-quiet: var(--wa-color-red-70);
  --wa-color-danger-on-normal: var(--wa-color-red-80);
  --wa-color-danger-on-loud: white;

  --wa-color-neutral-fill-quiet: var(--wa-color-gray-10);
  --wa-color-neutral-fill-normal: var(--wa-color-gray-20);
  --wa-color-neutral-fill-loud: var(--wa-color-gray-50);
  --wa-color-neutral-border-quiet: var(--wa-color-gray-30);
  --wa-color-neutral-border-normal: var(--wa-color-gray-50);
  --wa-color-neutral-border-loud: var(--wa-color-gray-80);
  --wa-color-neutral-on-quiet: var(--wa-color-gray-70);
  --wa-color-neutral-on-normal: var(--wa-color-gray-80);
  --wa-color-neutral-on-loud: white;

  /**
   * Component Groups
   */

  /* Form controls */
  --wa-form-control-background-color: var(--wa-color-surface-default);

  --wa-form-control-activated-color: var(--wa-color-neutral-border-loud);
  --wa-form-control-border-color: var(--wa-color-neutral-border-normal);

  --wa-form-control-label-color: var(--wa-color-text-normal);

  --wa-form-control-value-color: var(--wa-color-text-normal);

  --wa-form-control-placeholder-color: var(--wa-color-gray-60);

  --wa-form-control-required-content-color: inherit;
}

/* #region Custom Styles */
wa-badge {
  border-radius: var(--wa-border-radius-m);
  font-weight: var(--wa-font-weight-bold);
  text-transform: uppercase;
}

:is(
    button,
    input:where([type='button'], [type='reset'], [type='submit']),
    wa-button,
    wa-radio-group > wa-radio-button,
    .wa-button
  ):not([appearance='plain'], .wa-plain) {
  --wa-transition-slow: 0;
  --wa-transition-normal: 0;
  --wa-transition-fast: 0;

  --border-color: var(--text-color);
  --border-color-hover: var(--border-color);
  --border-color-active: var(--border-color);
  box-shadow: var(--wa-shadow-offset-x-s) var(--wa-shadow-offset-y-s) var(--wa-shadow-blur-s) var(--wa-shadow-spread-s)
    var(--border-color);
  --background-color-active: var(--border-color);
  --text-color-active: var(--background-color);

  margin-bottom: var(--wa-shadow-offset-y-s);

  &:is([appearance='outlined'], .wa-outlined) {
    --background-color: var(--wa-color-surface-default);
  }

  &:not([disabled], [loading]):active,
  &::part(checked) {
    box-shadow: none;
    transform: translateY(var(--wa-shadow-offset-y-s));
  }

  .wa-dark & {
    --border-color: var(--wa-color-border-quiet);
  }
}

wa-callout {
  &:is([appearance~='outlined'], .wa-outlined) {
    border-color: var(--wa-color-border-normal);
  }
  &:not([appearance~='accent'], .wa-accent) {
    color: var(--wa-color-text-normal);
  }
  &:not([appearance~='accent'], .wa-accent) {
    --icon-color: var(--wa-color-border-normal);
  }
}

wa-card {
  background-color: var(--wa-color-surface-raised);
}
wa-card::part(header) {
  border-bottom-style: dotted;
}
wa-card::part(footer) {
  border-top-style: dotted;
}

input[type='checkbox'],
wa-checkbox {
  --checked-icon-color: var(--wa-color-surface-default);
}

wa-radio-group > wa-radio-button {
  &::part(base):active,
  &::part(checked) {
    --background-color: var(--border-color);
    --background-color-hover: var(--border-color);
    --border-color: var(--wa-color-neutral-border-loud);
    --text-color: var(--wa-color-surface-default);
  }
}

wa-switch {
  --height: 1.5em;
}

wa-tag {
  font-weight: var(--wa-font-weight-bold);
}

:is(
    input:where(
        :not(
          [type='button'],
          [type='checkbox'],
          [type='color'],
          [type='file'],
          [type='hidden'],
          [type='image'],
          [type='radio'],
          [type='range'],
          [type='reset'],
          [type='submit']
        )
      ),
    select,
    textarea,
    wa-input,
    wa-select,
    wa-textarea,
    .wa-text-field
  ):not(:focus, [appearance='filled'], .wa-filled) {
  --box-shadow: inset var(--wa-shadow-s);
}
/* #endregion */
