@import url('brutalist/color.css');
@import url('default/space.css');
@import url('default/outlines.css');
@import url('brutalist/typography.css');
@import url('default/rounding.css');
@import url('default/shadows.css');
@import url('default/transitions.css');
@import url('default/groups.css');
@import url('brutalist/overrides.css');

@layer wa-theme {
  :where(:root),
  :host,
  .wa-theme-brutalist,
  .wa-dark,
  .wa-light,
  .wa-invert {
    /**
   * Spacing
   */
    --wa-space-scale: 1.125;

    /**
   * Borders
   */
    --wa-border-width-scale: 2;

    /**
   * Rounding
   */
    --wa-border-radius-scale: 0;

    /**
   * Shadows
   */
    --wa-shadow-blur-scale: 0;
    --wa-shadow-offset-x-scale: var(--wa-shadow-offset-y-scale);
    --wa-shadow-offset-y-scale: 4;

    /**
   * Component Groups
   */
    --wa-form-control-activated-color: var(--wa-color-neutral-fill-loud);

    /**
   * Icons
   */
    --wa-icon-family: sharp;
  }
}
