@import url('default/color.css');
@import url('default/color-semantic.css');
@import url('default/space.css');
@import url('default/outlines.css');
@import url('default/typography.css');
@import url('default/rounding.css');
@import url('default/shadows.css');
@import url('default/transitions.css');
@import url('default/groups.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@300..700&family=Space+Mono:wght@400;700&display=swap');

:where(:root),
:host,
.wa-theme-brutalist,
.wa-light,
.wa-dark .wa-invert {
  color-scheme: light;
  color: var(--wa-color-text-normal);

  /**
   * Foundational Colors
   */
  --wa-color-surface-border: var(--wa-color-gray-10);

  --wa-color-text-link: var(--wa-color-gray-40);

  --wa-color-shadow: rgb(0 0 0 / 0.2);

  --wa-color-mix-hover: white 10%;
  --wa-color-mix-active: white 20%;

  /**
   * Semantic Colors
   */
  --wa-color-brand-fill-quiet: var(--wa-color-blue-95);
  --wa-color-brand-fill-normal: var(--wa-color-blue-90);
  --wa-color-brand-fill-loud: var(--wa-color-blue-50);
  --wa-color-brand-border-quiet: var(--wa-color-blue-80);
  --wa-color-brand-border-normal: var(--wa-color-blue-60);
  --wa-color-brand-border-loud: var(--wa-color-blue-40);
  --wa-color-brand-on-quiet: var(--wa-color-blue-40);
  --wa-color-brand-on-normal: var(--wa-color-blue-40);
  --wa-color-brand-on-loud: white;

  --wa-color-success-fill-quiet: var(--wa-color-green-95);
  --wa-color-success-fill-normal: var(--wa-color-green-90);
  --wa-color-success-fill-loud: var(--wa-color-green-50);
  --wa-color-success-border-quiet: var(--wa-color-green-80);
  --wa-color-success-border-normal: var(--wa-color-green-60);
  --wa-color-success-border-loud: var(--wa-color-green-40);
  --wa-color-success-on-quiet: var(--wa-color-green-40);
  --wa-color-success-on-normal: var(--wa-color-green-40);
  --wa-color-success-on-loud: white;

  --wa-color-warning-fill-quiet: var(--wa-color-yellow-95);
  --wa-color-warning-fill-normal: var(--wa-color-yellow-90);
  --wa-color-warning-fill-loud: var(--wa-color-yellow-50);
  --wa-color-warning-border-quiet: var(--wa-color-yellow-80);
  --wa-color-warning-border-normal: var(--wa-color-yellow-60);
  --wa-color-warning-border-loud: var(--wa-color-yellow-40);
  --wa-color-warning-on-quiet: var(--wa-color-yellow-40);
  --wa-color-warning-on-normal: var(--wa-color-yellow-40);
  --wa-color-warning-on-loud: white;

  --wa-color-danger-fill-quiet: var(--wa-color-red-95);
  --wa-color-danger-fill-normal: var(--wa-color-red-90);
  --wa-color-danger-fill-loud: var(--wa-color-red-50);
  --wa-color-danger-border-quiet: var(--wa-color-red-80);
  --wa-color-danger-border-normal: var(--wa-color-red-60);
  --wa-color-danger-border-loud: var(--wa-color-red-40);
  --wa-color-danger-on-quiet: var(--wa-color-red-40);
  --wa-color-danger-on-normal: var(--wa-color-red-40);
  --wa-color-danger-on-loud: white;

  --wa-color-neutral-fill-quiet: var(--wa-color-gray-90);
  --wa-color-neutral-fill-normal: var(--wa-color-gray-70);
  --wa-color-neutral-fill-loud: var(--wa-color-gray-20);
  --wa-color-neutral-border-quiet: var(--wa-color-gray-80);
  --wa-color-neutral-border-normal: var(--wa-color-gray-40);
  --wa-color-neutral-border-loud: var(--wa-color-gray-20);
  --wa-color-neutral-on-quiet: var(--wa-color-gray-10);
  --wa-color-neutral-on-normal: var(--wa-color-gray-30);
  --wa-color-neutral-on-loud: white;

  /**
   * Typography
   */
  --wa-font-family-body: 'Space Grotesk', sans-serif;
  --wa-font-family-heading: 'IBM Plex Sans Condensed', sans-serif;
  --wa-font-family-code: 'Space Mono', monospace;
  --wa-font-family-longform: ui-serif, serif;

  --wa-font-weight-bold: 700;

  --wa-font-weight-heading: var(--wa-font-weight-semibold);

  /**
   * Spacing
   */
  --wa-space-scale: 1.125;

  /**
   * Borders
   */
  --wa-border-width-scale: 2;

  /**
   * Rounding
   */
  --wa-border-radius-scale: 0;

  /**
   * Shadows
   */
  --wa-shadow-blur-scale: 0;

  --wa-shadow-offset-x-scale: 4;

  --wa-shadow-offset-y-scale: 4;

  /**
   * Component Groups
   */
  --wa-form-control-activated-color: var(--wa-color-neutral-fill-loud);
}

.wa-dark,
.wa-invert,
:is(:host-context(.wa-dark)) {
  color-scheme: dark;
  color: var(--wa-color-text-normal);

  /**
   * Foundational Colors
   */
  --wa-color-surface-raised: var(--wa-color-gray-05);
  --wa-color-surface-default: var(--wa-color-gray-10);
  --wa-color-surface-lowered: var(--wa-color-gray-05);
  --wa-color-surface-border: var(--wa-color-gray-40);

  --wa-color-text-normal: var(--wa-color-gray-95);
  --wa-color-text-quiet: var(--wa-color-gray-60);
  --wa-color-text-link: var(--wa-color-gray-70);

  --wa-color-overlay-modal: color-mix(in oklab, black 60%, transparent);
  --wa-color-overlay-inline: color-mix(in oklab, var(--wa-color-gray-50) 10%, transparent);

  --wa-color-shadow: rgb(0 0 0 / 0.5);

  --wa-color-focus: var(--wa-color-blue-60);

  --wa-color-mix-hover: black 8%;
  --wa-color-mix-active: black 16%;

  /**
   * Semantic Colors
   */
  --wa-color-brand-fill-quiet: var(--wa-color-blue-20);
  --wa-color-brand-fill-normal: var(--wa-color-blue-30);
  --wa-color-brand-fill-loud: var(--wa-color-blue-70);
  --wa-color-brand-border-quiet: var(--wa-color-blue-30);
  --wa-color-brand-border-normal: var(--wa-color-blue-40);
  --wa-color-brand-border-loud: var(--wa-color-blue-80);
  --wa-color-brand-on-quiet: var(--wa-color-blue-80);
  --wa-color-brand-on-normal: var(--wa-color-blue-95);
  --wa-color-brand-on-loud: var(--wa-color-blue-10);

  --wa-color-success-fill-quiet: var(--wa-color-green-20);
  --wa-color-success-fill-normal: var(--wa-color-green-30);
  --wa-color-success-fill-loud: var(--wa-color-green-70);
  --wa-color-success-border-quiet: var(--wa-color-green-30);
  --wa-color-success-border-normal: var(--wa-color-green-40);
  --wa-color-success-border-loud: var(--wa-color-green-80);
  --wa-color-success-on-quiet: var(--wa-color-green-80);
  --wa-color-success-on-normal: var(--wa-color-green-95);
  --wa-color-success-on-loud: var(--wa-color-green-10);

  --wa-color-warning-fill-quiet: var(--wa-color-yellow-20);
  --wa-color-warning-fill-normal: var(--wa-color-yellow-30);
  --wa-color-warning-fill-loud: var(--wa-color-yellow-70);
  --wa-color-warning-border-quiet: var(--wa-color-yellow-30);
  --wa-color-warning-border-normal: var(--wa-color-yellow-40);
  --wa-color-warning-border-loud: var(--wa-color-yellow-80);
  --wa-color-warning-on-quiet: var(--wa-color-yellow-80);
  --wa-color-warning-on-normal: var(--wa-color-yellow-95);
  --wa-color-warning-on-loud: var(--wa-color-yellow-10);

  --wa-color-danger-fill-quiet: var(--wa-color-red-20);
  --wa-color-danger-fill-normal: var(--wa-color-red-30);
  --wa-color-danger-fill-loud: var(--wa-color-red-70);
  --wa-color-danger-border-quiet: var(--wa-color-red-30);
  --wa-color-danger-border-normal: var(--wa-color-red-40);
  --wa-color-danger-border-loud: var(--wa-color-red-80);
  --wa-color-danger-on-quiet: var(--wa-color-red-80);
  --wa-color-danger-on-normal: var(--wa-color-red-95);
  --wa-color-danger-on-loud: var(--wa-color-red-10);

  --wa-color-neutral-fill-quiet: var(--wa-color-gray-20);
  --wa-color-neutral-fill-normal: var(--wa-color-gray-30);
  --wa-color-neutral-fill-loud: var(--wa-color-gray-70);
  --wa-color-neutral-border-quiet: var(--wa-color-gray-50);
  --wa-color-neutral-border-normal: var(--wa-color-gray-80);
  --wa-color-neutral-border-loud: var(--wa-color-gray-90);
  --wa-color-neutral-on-quiet: var(--wa-color-gray-80);
  --wa-color-neutral-on-normal: var(--wa-color-gray-95);
  --wa-color-neutral-on-loud: var(--wa-color-gray-10);
}

/**
 * Component Styles
 */
:where(:root),
:host,
.wa-theme-brutalist {
  blockquote,
  pre {
    border-inline-start: var(--wa-border-style) var(--wa-border-width-m) var(--wa-color-surface-border);
  }
  wa-badge {
    text-transform: uppercase;
  }

  wa-callout,
  wa-tag {
    border-inline-start-color: var(--border-color, var(--wa-color-border-loud));
    border-inline-start-width: var(--wa-border-width-s);

    &:not([appearance~='outlined'], .wa-outlined) {
      border-block-start-width: 0;
      border-block-end-width: 0;
      border-inline-end-width: 0;
    }

    &:not([appearance~='accent'], .wa-accent) {
      --icon-color: var(--wa-color-fill-loud);
      --text-color: var(--wa-color-text-normal);
    }
  }

  wa-callout {
    --spacing: var(--wa-space-s) var(--wa-space-m);

    &::part(icon) {
      --spacing: var(--wa-space-m);
    }
  }

  wa-carousel {
    --pagination-color: var(--wa-color-neutral-fill-normal);
  }

  wa-carousel::part(scroll-container) {
    padding: var(--wa-shadow-offset-y-s) var(--wa-shadow-offset-x-s); /* make room for the box-shadow */
  }

  wa-carousel::part(pagination-item),
  wa-image-comparer::part(handle),
  wa-progress-bar::part(base),
  wa-slider::part(base),
  input[type='range'],
  wa-switch::part(control),
  wa-switch::part(thumb) {
    border-radius: var(--wa-border-radius-square);
  }

  wa-carousel-item {
    border: var(--wa-panel-border-width) var(--wa-panel-border-style) var(--wa-color-surface-border);
    box-shadow: var(--wa-shadow-s);
  }

  :is(
    input:where(
        :not(
          [type='button'],
          [type='checkbox'],
          [type='color'],
          [type='file'],
          [type='hidden'],
          [type='image'],
          [type='radio'],
          [type='range'],
          [type='reset'],
          [type='submit']
        )
      ),
    select,
    textarea,
    wa-input,
    wa-select,
    wa-textarea,
    .wa-text-field
  ) {
    --border-width: 0 0 var(--wa-form-control-border-width) var(--wa-form-control-border-width);
  }

  wa-rating {
    --symbol-color-active: var(--wa-color-neutral-fill-loud);
  }
}
