@import url('../color/classic.css');
@import url('default/color-semantic.css');
@import url('default/space.css');
@import url('default/outlines.css');
@import url('default/typography.css');
@import url('default/rounding.css');
@import url('default/shadows.css');
@import url('default/transitions.css');
@import url('default/groups.css');

:root,
:host,
.wa-theme-classic,
.wa-light {
  color-scheme: light;

  /**
   * Semantic Colors
   */
  --wa-color-brand-fill-quiet: var(--wa-color-blue-95);
  --wa-color-brand-fill-normal: var(--wa-color-blue-90);
  --wa-color-brand-fill-loud: var(--wa-color-blue-50);
  --wa-color-brand-border-quiet: var(--wa-color-blue-90);
  --wa-color-brand-border-normal: var(--wa-color-blue-80);
  --wa-color-brand-border-loud: var(--wa-color-blue-60);
  --wa-color-brand-on-quiet: var(--wa-color-blue-50);
  --wa-color-brand-on-normal: var(--wa-color-blue-40);
  --wa-color-brand-on-loud: white;

  --wa-color-success-fill-quiet: var(--wa-color-green-95);
  --wa-color-success-fill-normal: var(--wa-color-green-90);
  --wa-color-success-fill-loud: var(--wa-color-green-50);
  --wa-color-success-border-quiet: var(--wa-color-green-90);
  --wa-color-success-border-normal: var(--wa-color-green-80);
  --wa-color-success-border-loud: var(--wa-color-green-60);
  --wa-color-success-on-quiet: var(--wa-color-green-50);
  --wa-color-success-on-normal: var(--wa-color-green-40);
  --wa-color-success-on-loud: white;

  --wa-color-warning-fill-quiet: var(--wa-color-yellow-95);
  --wa-color-warning-fill-normal: var(--wa-color-yellow-90);
  --wa-color-warning-fill-loud: var(--wa-color-yellow-50);
  --wa-color-warning-border-quiet: var(--wa-color-yellow-90);
  --wa-color-warning-border-normal: var(--wa-color-yellow-80);
  --wa-color-warning-border-loud: var(--wa-color-yellow-60);
  --wa-color-warning-on-quiet: var(--wa-color-yellow-50);
  --wa-color-warning-on-normal: var(--wa-color-yellow-40);
  --wa-color-warning-on-loud: white;

  --wa-color-danger-fill-quiet: var(--wa-color-red-95);
  --wa-color-danger-fill-normal: var(--wa-color-red-90);
  --wa-color-danger-fill-loud: var(--wa-color-red-50);
  --wa-color-danger-border-quiet: var(--wa-color-red-90);
  --wa-color-danger-border-normal: var(--wa-color-red-80);
  --wa-color-danger-border-loud: var(--wa-color-red-60);
  --wa-color-danger-on-quiet: var(--wa-color-red-50);
  --wa-color-danger-on-normal: var(--wa-color-red-40);
  --wa-color-danger-on-loud: white;

  --wa-color-neutral-fill-quiet: var(--wa-color-gray-95);
  --wa-color-neutral-fill-normal: var(--wa-color-gray-90);
  --wa-color-neutral-fill-loud: var(--wa-color-gray-40);
  --wa-color-neutral-border-quiet: var(--wa-color-gray-90);
  --wa-color-neutral-border-normal: var(--wa-color-gray-80);
  --wa-color-neutral-border-loud: var(--wa-color-gray-50);
  --wa-color-neutral-on-quiet: var(--wa-color-gray-40);
  --wa-color-neutral-on-normal: var(--wa-color-gray-30);
  --wa-color-neutral-on-loud: white;

  /**
   * Typography
   */
  --wa-font-family-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --wa-font-family-heading: var(--wa-font-family-body);
  --wa-font-family-code: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --wa-font-family-longform: Georgia, 'Times New Roman', serif;

  --wa-link-decoration-default: underline;

  /**
   * Focus
   */
  --wa-focus-ring: var(--wa-focus-ring-style) var(--wa-focus-ring-width)
    color-mix(in oklab, var(--wa-color-focus) 60%, transparent);

  /**
   * Rounding
   */
  --wa-border-radius-scale: 0.7;

  /**
   * Shadows
   */
  --wa-shadow-offset-y-scale: 0.0625;
  --wa-shadow-spread-scale: 0;

  /**
   * Transitions
   */
  --wa-transition-slow: 250ms;
  --wa-transition-normal: 150ms;
  --wa-transition-fast: 50ms;

  /**
   * Component Groups
   */

  /* Form controls */
  --wa-form-control-border-color: var(--wa-color-neutral-border-normal);

  /* Panels */
  --wa-panel-border-radius: var(--wa-border-radius-m);

  /* Tooltips */
  --wa-tooltip-background-color: var(--wa-color-text-normal);
  --wa-tooltip-content-color: var(--wa-color-surface-default);
}

.wa-dark,
:is(:host-context(.wa-dark)) {
  color-scheme: dark;
  color: var(--wa-color-text-normal);

  /**
   * Foundational Colors
   */
  --wa-color-surface-raised: var(--wa-color-gray-10);
  --wa-color-surface-default: var(--wa-color-gray-05);
  --wa-color-surface-lowered: color-mix(in oklab, var(--wa-color-surface-default), black 20%);
  --wa-color-surface-border: var(--wa-color-gray-20);

  --wa-color-text-normal: var(--wa-color-gray-80);
  --wa-color-text-quiet: var(--wa-color-gray-60);
  --wa-color-text-link: var(--wa-color-blue-70);

  --wa-color-overlay-modal: color-mix(in oklab, black 60%, transparent);
  --wa-color-overlay-inline: color-mix(in oklab, var(--wa-color-gray-50) 10%, transparent);

  --wa-color-shadow: color-mix(
    in oklab,
    var(--wa-color-gray-05) calc(var(--wa-shadow-blur-scale) * 32% + 40%),
    transparent
  );

  --wa-color-focus: var(--wa-color-blue-60);

  --wa-color-mix-hover: black 8%;
  --wa-color-mix-active: black 16%;

  /**
   * Semantic Colors
   */
  --wa-color-brand-fill-quiet: var(--wa-color-blue-20);
  --wa-color-brand-fill-normal: var(--wa-color-blue-30);
  --wa-color-brand-fill-loud: var(--wa-color-blue-70);
  --wa-color-brand-border-quiet: var(--wa-color-blue-30);
  --wa-color-brand-border-normal: var(--wa-color-blue-40);
  --wa-color-brand-border-loud: var(--wa-color-blue-50);
  --wa-color-brand-on-quiet: var(--wa-color-blue-70);
  --wa-color-brand-on-normal: var(--wa-color-blue-80);
  --wa-color-brand-on-loud: var(--wa-color-gray-10);

  --wa-color-success-fill-quiet: var(--wa-color-green-20);
  --wa-color-success-fill-normal: var(--wa-color-green-30);
  --wa-color-success-fill-loud: var(--wa-color-green-70);
  --wa-color-success-border-quiet: var(--wa-color-green-30);
  --wa-color-success-border-normal: var(--wa-color-green-40);
  --wa-color-success-border-loud: var(--wa-color-green-50);
  --wa-color-success-on-quiet: var(--wa-color-green-70);
  --wa-color-success-on-normal: var(--wa-color-green-80);
  --wa-color-success-on-loud: var(--wa-color-gray-10);

  --wa-color-warning-fill-quiet: var(--wa-color-yellow-20);
  --wa-color-warning-fill-normal: var(--wa-color-yellow-30);
  --wa-color-warning-fill-loud: var(--wa-color-yellow-70);
  --wa-color-warning-border-quiet: var(--wa-color-yellow-30);
  --wa-color-warning-border-normal: var(--wa-color-yellow-40);
  --wa-color-warning-border-loud: var(--wa-color-yellow-50);
  --wa-color-warning-on-quiet: var(--wa-color-yellow-70);
  --wa-color-warning-on-normal: var(--wa-color-yellow-80);
  --wa-color-warning-on-loud: var(--wa-color-gray-10);

  --wa-color-danger-fill-quiet: var(--wa-color-red-20);
  --wa-color-danger-fill-normal: var(--wa-color-red-30);
  --wa-color-danger-fill-loud: var(--wa-color-red-60);
  --wa-color-danger-border-quiet: var(--wa-color-red-30);
  --wa-color-danger-border-normal: var(--wa-color-red-40);
  --wa-color-danger-border-loud: var(--wa-color-red-50);
  --wa-color-danger-on-quiet: var(--wa-color-red-70);
  --wa-color-danger-on-normal: var(--wa-color-red-80);
  --wa-color-danger-on-loud: var(--wa-color-gray-10);

  --wa-color-neutral-fill-quiet: var(--wa-color-gray-10);
  --wa-color-neutral-fill-normal: var(--wa-color-gray-20);
  --wa-color-neutral-fill-loud: var(--wa-color-gray-60);
  --wa-color-neutral-border-quiet: var(--wa-color-gray-20);
  --wa-color-neutral-border-normal: var(--wa-color-gray-30);
  --wa-color-neutral-border-loud: var(--wa-color-gray-50);
  --wa-color-neutral-on-quiet: var(--wa-color-gray-60);
  --wa-color-neutral-on-normal: var(--wa-color-gray-70);
  --wa-color-neutral-on-loud: var(--wa-color-gray-05);
}

/**
 * Component Styles
 */
wa-avatar {
  --background-color: var(--wa-color-neutral-fill-loud);
  --text-color: var(--wa-color-neutral-on-loud);
}

button,
input:where([type='button'], [type='reset'], [type='submit']),
wa-button,
.wa-button,
wa-radio-button {
  font-size: var(--wa-size-smaller);
}

wa-radio-button {
  --background-color-active: color-mix(in oklab, var(--background-color-hover), var(--wa-color-mix-active));
  --background-color-hover: var(--wa-form-control-activated-color);
  --border-color: var(--wa-form-control-border-color);
  --border-color-active: var(--background-color-active);
  --border-color-hover: var(--background-color-hover);
  --text-color-active: var(--text-color-hover);
  --text-color-hover: var(--wa-color-brand-on-loud);
  --indicator-color: var(--wa-background-color);

  &[checked] {
    --background-color: var(--wa-form-control-activated-color);
    --border-color: var(--background-color);
    --text-color: var(--wa-color-brand-on-loud);
  }
}

wa-breadcrumb {
  font-size: var(--wa-font-size-s);
}

wa-callout {
  --spacing: var(--wa-space-l);
  font-size: var(--wa-size-smaller);

  &:is([appearance~='outlined'], .wa-outlined) {
    border-width: var(--wa-border-width-l) var(--wa-border-width-s) var(--wa-border-width-s) var(--wa-border-width-s);
    border-color: var(--border-color, var(--wa-color-border-loud)) var(--wa-color-surface-border)
      var(--wa-color-surface-border) var(--wa-color-surface-border);

    &:not([appearance~='accent'], .wa-accent) {
      --border-color: var(--wa-color-fill-loud);
    }
  }
  &:not([appearance~='accent'], .wa-accent) {
    --icon-color: var(--wa-color-fill-loud);
    --text-color: var(--wa-color-text-normal);
  }
}

wa-card {
  --background-color: var(--wa-color-surface-raised);
}

wa-carousel {
  --box-shadow: var(--wa-shadow-s);
  --pagination-color-active: var(--wa-color-neutral-fill-loud);
}

wa-dialog,
wa-drawer {
  --spacing: var(--wa-space-l);
}

:is(
    input:where(
        :not(
          [type='button'],
          [type='checkbox'],
          [type='color'],
          [type='file'],
          [type='hidden'],
          [type='image'],
          [type='radio'],
          [type='range'],
          [type='reset'],
          [type='submit']
        )
      ),
    select,
    textarea,
    wa-input,
    wa-select,
    wa-textarea,
    .wa-text-field
  ):not([appearance='filled'], .wa-filled) {
  --wa-focus-ring: var(--wa-focus-ring-style) var(--wa-focus-ring-width)
    color-mix(in oklab, var(--wa-color-focus), transparent 50%);
  --wa-focus-ring-offset: 0;
}

input[type='radio'],
wa-radio {
  --background-color-checked: var(--border-color-checked);
  --checked-icon-color: var(--wa-color-surface-default);
  --checked-icon-scale: 0.4;
}

input[type='range'],
wa-slider {
  --thumb-gap: 0;
}

wa-switch {
  --background-color: var(--wa-color-gray-50);
  --border-color: var(--background-color);
  --height: calc(1em * var(--wa-form-control-value-line-height) - var(--border-width) * 2);
  --thumb-color: var(--wa-color-surface-default);
  --thumb-size: calc(var(--height) + 4px);
  --width: calc(var(--height) * 2);

  &::part(thumb) {
    border: var(--wa-border-width-s) var(--wa-border-style) var(--background-color);
  }
  &[checked]::part(thumb) {
    border-color: var(--background-color-checked);
  }
}

wa-progress-bar {
  --height: 1rem;
}

wa-tab {
  font-size: var(--wa-font-size-s);
}
