@import url('../color/elegant.css');
@import url('default/color-semantic.css');
@import url('default/space.css');
@import url('default/outlines.css');
@import url('default/typography.css');
@import url('default/rounding.css');
@import url('default/shadows.css');
@import url('default/transitions.css');
@import url('default/groups.css');

:where(:root),
:host,
.wa-theme-glassy,
.wa-light {
  color-scheme: light;
  color: var(--wa-color-text-normal);

  /**
   * Semantic Colors
   */
  --wa-color-brand-fill-quiet: var(--wa-color-teal-95);
  --wa-color-brand-fill-normal: var(--wa-color-teal-90);
  --wa-color-brand-fill-loud: var(--wa-color-teal-50);
  --wa-color-brand-border-quiet: var(--wa-color-teal-90);
  --wa-color-brand-border-normal: var(--wa-color-teal-80);
  --wa-color-brand-border-loud: var(--wa-color-teal-60);
  --wa-color-brand-on-quiet: var(--wa-color-teal-40);
  --wa-color-brand-on-normal: var(--wa-color-teal-30);
  --wa-color-brand-on-loud: white;

  /**
   * Shadows
   */
  --wa-shadow-blur-scale: 3;
}

.wa-dark,
:is(:host-context(.wa-dark)) {
  color-scheme: dark;
  color: var(--wa-color-text-normal);

  /**
   * Foundational Colors
   */
  --wa-color-surface-raised: var(--wa-color-gray-10);
  --wa-color-surface-default: var(--wa-color-gray-05);
  --wa-color-surface-lowered: color-mix(in oklab, var(--wa-color-surface-default), black 10%);
  --wa-color-surface-border: var(--wa-color-gray-20);

  --wa-color-text-normal: var(--wa-color-gray-95);
  --wa-color-text-quiet: var(--wa-color-gray-60);
  --wa-color-text-link: var(--wa-color-teal-70);

  --wa-color-overlay-modal: color-mix(in oklab, black 60%, transparent);
  --wa-color-overlay-inline: color-mix(in oklab, var(--wa-color-gray-50) 10%, transparent);

  --wa-color-shadow: color-mix(in oklab, black calc(var(--wa-shadow-blur-scale) * 32% + 40%), transparent);

  --wa-color-focus: var(--wa-color-teal-60);

  --wa-color-mix-hover: black 8%;
  --wa-color-mix-active: black 16%;

  /**
   * Semantic Colors
   */
  --wa-color-brand-fill-quiet: var(--wa-color-teal-10);
  --wa-color-brand-fill-normal: var(--wa-color-teal-20);
  --wa-color-brand-fill-loud: var(--wa-color-teal-50);
  --wa-color-brand-border-quiet: var(--wa-color-teal-20);
  --wa-color-brand-border-normal: var(--wa-color-teal-30);
  --wa-color-brand-border-loud: var(--wa-color-teal-40);
  --wa-color-brand-on-quiet: var(--wa-color-teal-60);
  --wa-color-brand-on-normal: var(--wa-color-teal-70);
  --wa-color-brand-on-loud: white;

  --wa-color-success-fill-quiet: var(--wa-color-green-10);
  --wa-color-success-fill-normal: var(--wa-color-green-20);
  --wa-color-success-fill-loud: var(--wa-color-green-50);
  --wa-color-success-border-quiet: var(--wa-color-green-20);
  --wa-color-success-border-normal: var(--wa-color-green-30);
  --wa-color-success-border-loud: var(--wa-color-green-40);
  --wa-color-success-on-quiet: var(--wa-color-green-60);
  --wa-color-success-on-normal: var(--wa-color-green-70);
  --wa-color-success-on-loud: white;

  --wa-color-warning-fill-quiet: var(--wa-color-yellow-10);
  --wa-color-warning-fill-normal: var(--wa-color-yellow-20);
  --wa-color-warning-fill-loud: var(--wa-color-yellow-50);
  --wa-color-warning-border-quiet: var(--wa-color-yellow-20);
  --wa-color-warning-border-normal: var(--wa-color-yellow-30);
  --wa-color-warning-border-loud: var(--wa-color-yellow-40);
  --wa-color-warning-on-quiet: var(--wa-color-yellow-60);
  --wa-color-warning-on-normal: var(--wa-color-yellow-70);
  --wa-color-warning-on-loud: white;

  --wa-color-danger-fill-quiet: var(--wa-color-red-10);
  --wa-color-danger-fill-normal: var(--wa-color-red-20);
  --wa-color-danger-fill-loud: var(--wa-color-red-50);
  --wa-color-danger-border-quiet: var(--wa-color-red-20);
  --wa-color-danger-border-normal: var(--wa-color-red-30);
  --wa-color-danger-border-loud: var(--wa-color-red-40);
  --wa-color-danger-on-quiet: var(--wa-color-red-60);
  --wa-color-danger-on-normal: var(--wa-color-red-70);
  --wa-color-danger-on-loud: white;

  --wa-color-neutral-fill-quiet: var(--wa-color-gray-10);
  --wa-color-neutral-fill-normal: var(--wa-color-gray-20);
  --wa-color-neutral-fill-loud: var(--wa-color-gray-90);
  --wa-color-neutral-border-quiet: var(--wa-color-gray-20);
  --wa-color-neutral-border-normal: var(--wa-color-gray-30);
  --wa-color-neutral-border-loud: var(--wa-color-gray-40);
  --wa-color-neutral-on-quiet: var(--wa-color-gray-60);
  --wa-color-neutral-on-normal: var(--wa-color-gray-70);
  --wa-color-neutral-on-loud: var(--wa-color-gray-05);
}

/**
 * Component Styles
 */
:where(:root),
:host,
.wa-theme-glassy {
  wa-button:not([appearance='plain']) {
    box-shadow:
      inset 0 0.0625rem 0 0 rgb(255 255 255 / 0.2) /* shine */,
      inset 0 0.125rem 0 0 rgb(255 255 255 / 0.1) /* top highlight */,
      inset 0 1.25em 0 0 rgb(255 255 255 / 0.1) /* upper tint */,
      inset 0 -1.125em 0 0 rgb(0 0 0 / 0.04) /* lower shade */,
      inset 0 -0.0625rem 0 0 rgb(0 0 0 / 0.2) /* bottom highlight */,
      var(--wa-shadow-s) /* outer shadow */;

    margin-bottom: var(--wa-shadow-offset-y-s);
    transition: transform var(--wa-transition-fast);

    &:not([disabled]) {
      &:hover {
        box-shadow:
          inset 0 0.0625rem 0 0 rgb(255 255 255 / 0.2) /* shine */,
          inset 0 0.125rem 0 0 rgb(255 255 255 / 0.1) /* top highlight */,
          inset 0 1.25em 0 0 rgb(255 255 255 / 0.1) /* upper tint */,
          inset 0 -1.125em 0 0 rgb(0 0 0 / 0.04) /* lower shade */,
          inset 0 -0.0625rem 0 0 rgb(0 0 0 / 0.1) /* bottom highlight */,
          var(--wa-shadow-m) /* outer shadow */;
      }

      &:active {
        box-shadow:
          inset 0 -0.0625rem 0 0 rgb(255 255 255 / 0.1) /* shine */,
          inset 0 0.125rem 0 0 rgb(0 0 0 / 0.1) /* top highlight */,
          inset 0 1.25em 0 0 rgb(255 255 255 / 0.08) /* upper tint */,
          inset 0 -1.125em 0 0 rgb(0 0 0 / 0.04) /* lower shade */,
          inset 0 -0.125rem 0 0 rgb(255 255 255 / 0.04) /* bottom highlight */,
          0 0 0 0 transparent /* outer shadow */;

        transform: translateY(var(--wa-shadow-offset-y-s));
      }
    }
  }

  wa-checkbox,
  wa-input:not(:focus),
  wa-radio,
  wa-select {
    --box-shadow: inset var(--wa-shadow-s), inset 0 1.25em 0 0 rgb(0 0 0 / 0.02) /* upper tint */,
      inset 0 -1.125em 0 0 rgb(255 255 255 / 0.05) /* lower shade */;
  }

  wa-checkbox:state(checked),
  wa-radio:state(checked) {
    --box-shadow: inset 0 0.0625rem 0 0 rgb(255 255 255 / 0.2) /* shine */,
      inset 0 0.125rem 0 0 rgb(255 255 255 / 0.05) /* top highlight */,
      inset 0 -0.0625rem 0 0 rgb(0 0 0 / 0.2) /* bottom highlight */, var(--wa-shadow-s) /* outer shadow */;
  }

  wa-textarea:not(:focus) {
    &:not([appearance='filled']):not([disabled]) {
      --box-shadow: var(--wa-shadow-s);
    }
  }

  wa-switch {
    --box-shadow: inset var(--wa-shadow-s);
    --thumb-shadow: inset 0 0.0625rem 0 0 rgb(255 255 255 / 0.2) /* shine */,
      inset 0 0.125rem 0 0 rgb(255 255 255 / 0.05) /* top highlight */,
      inset 0 calc(var(--height) * 0.25) 0 0 rgb(255 255 255 / 0.04) /* upper tint */,
      inset 0 calc(var(--height) * -0.25) 0 0 rgb(0 0 0 / 0.04) /* lower shade */,
      inset 0 -0.0625rem 0 0 rgb(0 0 0 / 0.2) /* bottom highlight */, var(--wa-shadow-s) /* outer shadow */;
  }

  wa-progress-bar {
    box-shadow: inset var(--wa-shadow-s);

    &::part(indicator) {
      box-shadow:
        inset 0 0.0625rem 0 0 rgb(255 255 255 / 0.2) /* shine */,
        inset 0 0.125rem 0 0 rgb(255 255 255 / 0.1) /* top highlight */,
        inset 0 0.625rem 0 0 rgb(255 255 255 / 0.1) /* upper tint */,
        inset 0 -0.5rem 0 0 rgb(0 0 0 / 0.04) /* lower shade */,
        inset 0 -0.0625rem 0 0 rgb(0 0 0 / 0.2) /* bottom highlight */,
        var(--wa-shadow-s) /* outer shadow */;
    }
  }
}
