@import url('mellow/color.css');
@import url('default/space.css');
@import url('default/outlines.css');
@import url('mellow/typography.css');
@import url('default/rounding.css');
@import url('default/shadows.css');
@import url('default/transitions.css');
@import url('default/groups.css');
@import url('mellow/overrides.css');

:where(:root),
:host,
.wa-theme-mellow,
.wa-dark,
.wa-light,
.wa-invert {
  /**
   * Spacing
   */
  --wa-space-scale: 1.125;

  /**
   * Borders
   */
  --wa-border-width-scale: 1.5;

  /**
   * Focus
   */
  --wa-focus-ring-width: 0.25rem;

  /**
   * Shadows
   */
  --wa-shadow-offset-y-scale: 0;

  /**
   * Component Groups
   */
  --wa-form-control-border-color: var(--wa-color-neutral-border-normal);

  /**
   * Icons
   */
  --wa-icon-family: duotone;
  --wa-icon-variant: light;
}
