@import url('playful/color.css');
@import url('default/space.css');
@import url('default/outlines.css');
@import url('playful/typography.css');
@import url('default/rounding.css');
@import url('default/shadows.css');
@import url('default/transitions.css');
@import url('default/groups.css');
@import url('playful/dimension.css');
@import url('playful/overrides.css');

:where(:root),
:host,
.wa-theme-playful,
.wa-dark,
.wa-light,
.wa-invert {
  /**
   * Borders
   */
  --wa-border-width-scale: 3;

  /**
   * Focus
   */
  --wa-focus-ring-width: 0.25rem;

  /**
   * Rounding
   */
  --wa-border-radius-scale: 2;

  /**
   * Shadows
   */
  --wa-shadow-blur-scale: 3;
  --wa-shadow-offset-y-scale: 2;

  /**
   * Component Groups
   */
  --wa-form-control-border-color: var(--wa-color-neutral-border-normal);
  --wa-form-control-border-radius: min(var(--wa-border-radius-pill), calc(var(--wa-form-control-height) * 0.6));
}
