@import url('premium/color.css');
@import url('default/space.css');
@import url('default/outlines.css');
@import url('premium/typography.css');
@import url('default/rounding.css');
@import url('default/shadows.css');
@import url('default/transitions.css');
@import url('default/groups.css');
@import url('premium/overrides.css');

:where(:root),
:host,
.wa-theme-premium,
.wa-dark,
.wa-light,
.wa-invert {
  /**
   * Borders
   */
  --wa-border-width-scale: 1.5;

  /**
    * Rounding
    */
  --wa-border-radius-scale: 0.5;

  /**
   * Component Groups
   */
  --wa-form-control-activated-color: var(--wa-color-neutral-fill-loud);
  --wa-form-control-background-color: transparent;
  --wa-form-control-value-line-height: var(--wa-line-height-normal);

  /**
   * Icons
   */
  --wa-icon-family: sharp;
  --wa-icon-variant: regular;
}
