@import url('../color/anodized.css');
@import url('default/color-semantic.css');
@import url('default/space.css');
@import url('default/outlines.css');
@import url('default/typography.css');
@import url('default/rounding.css');
@import url('default/shadows.css');
@import url('default/transitions.css');
@import url('default/groups.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

:where(:root),
:host,
.wa-theme-premium,
.wa-light,
.wa-dark .wa-invert {
  color-scheme: light;
  color: var(--wa-color-text-normal);

  /**
   * Foundational Colors
   */
  --wa-color-surface-border: var(--wa-color-gray-80);

  --wa-color-text-link: var(--wa-color-teal-40);

  --wa-color-focus: var(--wa-color-teal-60);

  --wa-color-mix-hover: white 10%;
  --wa-color-mix-active: var(--wa-color-surface-default) 5%;

  /**
   * Semantic Colors
   */
  --wa-color-brand-fill-quiet: var(--wa-color-teal-95);
  --wa-color-brand-fill-normal: var(--wa-color-teal-90);
  --wa-color-brand-fill-loud: var(--wa-color-teal-80);
  --wa-color-brand-border-quiet: var(--wa-color-teal-80);
  --wa-color-brand-border-normal: var(--wa-color-teal-70);
  --wa-color-brand-border-loud: var(--wa-color-teal-50);
  --wa-color-brand-on-quiet: var(--wa-color-teal-40);
  --wa-color-brand-on-normal: var(--wa-color-teal-30);
  --wa-color-brand-on-loud: var(--wa-color-teal-20);

  --wa-color-success-fill-quiet: var(--wa-color-green-95);
  --wa-color-success-fill-normal: var(--wa-color-green-90);
  --wa-color-success-fill-loud: var(--wa-color-green-80);
  --wa-color-success-border-quiet: var(--wa-color-green-80);
  --wa-color-success-border-normal: var(--wa-color-green-70);
  --wa-color-success-border-loud: var(--wa-color-green-50);
  --wa-color-success-on-quiet: var(--wa-color-green-40);
  --wa-color-success-on-normal: var(--wa-color-green-30);
  --wa-color-success-on-loud: var(--wa-color-green-20);

  --wa-color-warning-fill-quiet: var(--wa-color-yellow-95);
  --wa-color-warning-fill-normal: var(--wa-color-yellow-90);
  --wa-color-warning-fill-loud: var(--wa-color-yellow-80);
  --wa-color-warning-border-quiet: var(--wa-color-yellow-80);
  --wa-color-warning-border-normal: var(--wa-color-yellow-70);
  --wa-color-warning-border-loud: var(--wa-color-yellow-50);
  --wa-color-warning-on-quiet: var(--wa-color-yellow-40);
  --wa-color-warning-on-normal: var(--wa-color-yellow-30);
  --wa-color-warning-on-loud: var(--wa-color-yellow-20);

  --wa-color-danger-fill-quiet: var(--wa-color-red-95);
  --wa-color-danger-fill-normal: var(--wa-color-red-90);
  --wa-color-danger-fill-loud: var(--wa-color-red-70);
  --wa-color-danger-border-quiet: var(--wa-color-red-80);
  --wa-color-danger-border-normal: var(--wa-color-red-70);
  --wa-color-danger-border-loud: var(--wa-color-red-50);
  --wa-color-danger-on-quiet: var(--wa-color-red-40);
  --wa-color-danger-on-normal: var(--wa-color-red-30);
  --wa-color-danger-on-loud: var(--wa-color-red-10);

  --wa-color-neutral-fill-quiet: var(--wa-color-gray-95);
  --wa-color-neutral-fill-normal: var(--wa-color-gray-90);
  --wa-color-neutral-fill-loud: var(--wa-color-gray-30);
  --wa-color-neutral-border-quiet: var(--wa-color-gray-80);
  --wa-color-neutral-border-normal: var(--wa-color-gray-70);
  --wa-color-neutral-border-loud: var(--wa-color-gray-50);
  --wa-color-neutral-on-quiet: var(--wa-color-gray-40);
  --wa-color-neutral-on-normal: var(--wa-color-gray-30);
  --wa-color-neutral-on-loud: var(--wa-color-gray-95);

  /**
   * Typography
   */
  --wa-font-family-heading: 'Playfair Display', serif;
  --wa-font-family-body: 'DM Sans', sans-serif;
  --wa-font-family-longform: 'Playfair', serif;

  --wa-font-weight-heading: var(--wa-font-weight-semibold);
  --wa-font-weight-body: var(--wa-font-weight-normal);
  --wa-font-weight-action: var(--wa-font-weight-semibold);

  --wa-line-height-condensed: 1.1;
  --wa-line-height-normal: 1.5;
  --wa-line-height-expanded: 2;

  --wa-link-decoration-default: underline color-mix(in oklab, currentColor 40%, transparent);

  /**
   * Borders
   */
  --wa-border-width-scale: 1.5;

  /**
    * Rounding
    */
  --wa-border-radius-scale: 0.5;

  /**
   * Component Groups
   */
  --wa-form-control-activated-color: var(--wa-color-neutral-fill-loud);

  --wa-form-control-background-color: transparent;

  --wa-form-control-value-line-height: var(--wa-line-height-normal);
}

.wa-dark,
.wa-invert,
:is(:host-context(.wa-dark)) {
  color-scheme: dark;
  color: var(--wa-color-text-normal);

  /**
   * Foundational Colors
   */
  --wa-color-surface-raised: var(--wa-color-gray-30);
  --wa-color-surface-default: var(--wa-color-gray-20);
  --wa-color-surface-lowered: var(--wa-color-gray-10);
  --wa-color-surface-border: var(--wa-color-gray-30);

  --wa-color-text-normal: var(--wa-color-gray-95);
  --wa-color-text-quiet: var(--wa-color-gray-80);
  --wa-color-text-link: var(--wa-color-teal-80);

  --wa-color-focus: var(--wa-color-teal-60);

  --wa-color-mix-hover: white 20%;
  --wa-color-mix-active: var(--wa-color-surface-default) 10%;

  /**
    * Semantic Colors
    */
  --wa-color-brand-fill-quiet: var(--wa-color-teal-30);
  --wa-color-brand-fill-normal: var(--wa-color-teal-40);
  --wa-color-brand-fill-loud: var(--wa-color-teal-80);
  --wa-color-brand-border-quiet: var(--wa-color-teal-30);
  --wa-color-brand-border-normal: var(--wa-color-teal-40);
  --wa-color-brand-border-loud: var(--wa-color-teal-70);
  --wa-color-brand-on-quiet: var(--wa-color-teal-70);
  --wa-color-brand-on-normal: var(--wa-color-teal-90);
  --wa-color-brand-on-loud: var(--wa-color-teal-20);

  --wa-color-success-fill-quiet: var(--wa-color-green-30);
  --wa-color-success-fill-normal: var(--wa-color-green-40);
  --wa-color-success-fill-loud: var(--wa-color-green-80);
  --wa-color-success-border-quiet: var(--wa-color-green-30);
  --wa-color-success-border-normal: var(--wa-color-green-40);
  --wa-color-success-border-loud: var(--wa-color-green-70);
  --wa-color-success-on-quiet: var(--wa-color-green-70);
  --wa-color-success-on-normal: var(--wa-color-green-90);
  --wa-color-success-on-loud: var(--wa-color-green-20);

  --wa-color-warning-fill-quiet: var(--wa-color-yellow-30);
  --wa-color-warning-fill-normal: var(--wa-color-yellow-40);
  --wa-color-warning-fill-loud: var(--wa-color-yellow-80);
  --wa-color-warning-border-quiet: var(--wa-color-yellow-30);
  --wa-color-warning-border-normal: var(--wa-color-yellow-40);
  --wa-color-warning-border-loud: var(--wa-color-yellow-70);
  --wa-color-warning-on-quiet: var(--wa-color-yellow-70);
  --wa-color-warning-on-normal: var(--wa-color-yellow-90);
  --wa-color-warning-on-loud: var(--wa-color-yellow-20);

  --wa-color-danger-fill-quiet: var(--wa-color-red-30);
  --wa-color-danger-fill-normal: var(--wa-color-red-40);
  --wa-color-danger-fill-loud: var(--wa-color-red-70);
  --wa-color-danger-border-quiet: var(--wa-color-red-30);
  --wa-color-danger-border-normal: var(--wa-color-red-40);
  --wa-color-danger-border-loud: var(--wa-color-red-70);
  --wa-color-danger-on-quiet: var(--wa-color-red-70);
  --wa-color-danger-on-normal: var(--wa-color-red-90);
  --wa-color-danger-on-loud: var(--wa-color-red-10);

  --wa-color-neutral-fill-quiet: var(--wa-color-gray-30);
  --wa-color-neutral-fill-normal: var(--wa-color-gray-40);
  --wa-color-neutral-fill-loud: var(--wa-color-gray-90);
  --wa-color-neutral-border-quiet: var(--wa-color-gray-30);
  --wa-color-neutral-border-normal: var(--wa-color-gray-40);
  --wa-color-neutral-border-loud: var(--wa-color-gray-70);
  --wa-color-neutral-on-quiet: var(--wa-color-gray-70);
  --wa-color-neutral-on-normal: var(--wa-color-gray-90);
  --wa-color-neutral-on-loud: var(--wa-color-gray-20);

  /**
   * Component Groups
   */
  --wa-form-control-activated-color: var(--wa-color-neutral-fill-loud);
}

/**
 * Component Styles
 */
:where(:root),
:host,
.wa-theme-premium {
  wa-rating {
    --symbol-color-active: var(--wa-color-text-quiet);
  }

  button,
  input:where([type='button'], [type='reset'], [type='submit']),
  wa-button,
  .wa-button {
    font-size: var(--wa-size-smaller);
    text-transform: uppercase;
  }

  wa-callout {
    font-size: var(--wa-size-smaller);
  }

  input[type='checkbox'],
  wa-checkbox {
    --checked-icon-color: var(--wa-color-surface-default);
  }

  wa-badge,
  wa-tag {
    text-transform: uppercase;
  }

  input[type='radio'],
  wa-radio {
    --background-color-checked: var(--border-color-checked);
    --checked-icon-color: var(--wa-color-surface-default);
    --checked-icon-scale: 0.4;
  }

  wa-switch {
    --thumb-color-checked: var(--wa-color-surface-default);
  }
}
