:host {
  display: block;
  position: relative;
  text-align: start;
  background-color: var(--wa-color-surface-raised);
  border: var(--wa-border-style) var(--wa-border-width-s) var(--wa-color-surface-border);
  border-radius: var(--wa-border-radius-m);
  padding: 0.5em 0;
  overflow: auto;
  overscroll-behavior: none;
}

::slotted(wa-divider) {
  --spacing: 0.5em;
}
