:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
:where([class^='wa-palette-'], [class*=' wa-palette-']),
.wa-brand-gray {
  --wa-color-brand-95: var(--wa-color-gray-95);
  --wa-color-brand-90: var(--wa-color-gray-90);
  --wa-color-brand-80: var(--wa-color-gray-80);
  --wa-color-brand-70: var(--wa-color-gray-70);
  --wa-color-brand-60: var(--wa-color-gray-60);
  --wa-color-brand-50: var(--wa-color-gray-50);
  --wa-color-brand-40: var(--wa-color-gray-40);
  --wa-color-brand-30: var(--wa-color-gray-30);
  --wa-color-brand-20: var(--wa-color-gray-20);
  --wa-color-brand-10: var(--wa-color-gray-10);
  --wa-color-brand-05: var(--wa-color-gray-05);
  --wa-color-brand: var(--wa-color-gray);

  --wa-color-brand-lt-50: var(--wa-color-gray-lt-50);
  --wa-color-brand-gte-50: var(--wa-color-gray-gte-50);

  --wa-color-brand-lt-60: var(--wa-color-gray-lt-60);
  --wa-color-brand-gte-60: var(--wa-color-gray-gte-60);

  --wa-color-brand-lt-70: var(--wa-color-gray-lt-70);
  --wa-color-brand-gte-70: var(--wa-color-gray-gte-70);

  --wa-color-brand-max-50: var(--wa-color-gray-max-50);
  --wa-color-brand-min-50: var(--wa-color-gray-min-50);
  --wa-color-brand-max-60: var(--wa-color-gray-max-60);
  --wa-color-brand-min-60: var(--wa-color-gray-min-60);
  --wa-color-brand-max-70: var(--wa-color-gray-max-70);
  --wa-color-brand-min-70: var(--wa-color-gray-min-70);

  --wa-color-brand-on: var(--wa-color-gray-on);
}
