@import url('base.css');

:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
:where([class^='wa-palette-'], [class*=' wa-palette-']),
.wa-brand-yellow {
  --wa-color-brand-95: var(--wa-color-yellow-95);
  --wa-color-brand-90: var(--wa-color-yellow-90);
  --wa-color-brand-80: var(--wa-color-yellow-80);
  --wa-color-brand-70: var(--wa-color-yellow-70);
  --wa-color-brand-60: var(--wa-color-yellow-60);
  --wa-color-brand-50: var(--wa-color-yellow-50);
  --wa-color-brand-40: var(--wa-color-yellow-40);
  --wa-color-brand-30: var(--wa-color-yellow-30);
  --wa-color-brand-20: var(--wa-color-yellow-20);
  --wa-color-brand-10: var(--wa-color-yellow-10);
  --wa-color-brand-05: var(--wa-color-yellow-05);
  --wa-color-brand: var(--wa-color-yellow);
  --wa-color-brand-key: var(--wa-color-yellow-key);
}
