@layer wa-theme {
  :where(:root),
  :host,
  .wa-theme-shoelace {
    wa-avatar {
      --background-color: var(--wa-color-neutral-fill-loud);
      --text-color: var(--wa-color-neutral-on-loud);
    }

    wa-button::part(label),
    wa-radio[appearance='button'],
    button,
    input:where([type='button'], [type='reset'], [type='submit']) {
      font-size: var(--wa-font-size-smaller);
    }

    wa-radio[appearance='button'] {
      font-weight: var(--wa-font-weight-action);

      &:state(checked) {
        background-color: var(--wa-form-control-activated-color);
        color: var(--wa-color-brand-on-loud);
      }
    }

    wa-breadcrumb {
      font-size: var(--wa-font-size-s);
    }

    wa-callout {
      --spacing: var(--wa-space-m);
      font-size: var(--wa-font-size-smaller);

      &:is([appearance~='outlined']) {
        border-top-width: var(--wa-border-width-l);
        border-color: var(--wa-color-surface-border);
        border-top-color: var(--border-color, var(--wa-color-border-loud));

        &:not([appearance~='accent']) {
          --border-color: var(--wa-color-fill-loud);
        }
      }
      &:not([appearance~='accent']) {
        --icon-color: var(--wa-color-fill-loud);
        --text-color: var(--wa-color-text-normal);
      }
    }

    wa-card {
      background-color: var(--wa-color-surface-raised);
    }

    wa-carousel {
      --pagination-color-active: var(--wa-color-neutral-fill-loud);
    }

    :is(
        wa-input,
        wa-select,
        wa-textarea,
        input:where(
            :not(
              [type='button'],
              [type='checkbox'],
              [type='color'],
              [type='file'],
              [type='hidden'],
              [type='image'],
              [type='radio'],
              [type='range'],
              [type='reset'],
              [type='submit']
            )
          ),
        select,
        textarea
      ):not([appearance='filled'], .wa-filled) {
      --wa-focus-ring: var(--wa-focus-ring-style) var(--wa-focus-ring-width)
        color-mix(in oklab, var(--wa-color-focus), transparent 50%);
      --wa-focus-ring-offset: 0;
    }

    wa-radio,
    input[type='radio'] {
      --checked-icon-color: var(--wa-color-surface-default);
      --checked-icon-scale: 0.4;

      &:checked,
      &:state(checked)::part(control) {
        background-color: var(--wa-form-control-activated-color);
      }
    }

    wa-slider::part(thumb) {
      border: none;
    }

    wa-switch {
      --background-color: var(--wa-color-gray-50);
      --border-color: var(--background-color);
      --height: calc(1em * var(--wa-form-control-value-line-height) - var(--border-width) * 2);
      --thumb-color: var(--wa-color-surface-default);
      --thumb-size: calc(var(--height) + 4px);
      --width: calc(var(--height) * 2);

      &::part(thumb) {
        border: var(--wa-border-width-s) var(--wa-border-style) var(--background-color);
      }
      &[checked]::part(thumb) {
        border-color: var(--background-color-checked);
      }
    }

    wa-progress-bar::part(base),
    progress {
      height: 1em;
    }

    wa-tab {
      font-size: var(--wa-font-size-smaller);
    }
  }
}
