:host {
  --spacing: var(--wa-space-xl);

  display: flex;
  flex-direction: column;
  background-color: var(--wa-color-surface-default);
  border-color: var(--wa-color-surface-border);
  border-radius: var(--wa-panel-border-radius);
  border-style: var(--wa-panel-border-style);
  border-width: var(--wa-panel-border-width);
  box-shadow: var(--wa-shadow-s);
  color: var(--wa-color-text-normal);
}

.image {
  display: flex;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  margin: calc(-1 * var(--border-width));
  overflow: hidden;

  &::slotted(img) {
    display: block;
    width: 100%;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.header {
  display: block;
  border-bottom: inherit;
  padding: calc(var(--spacing) / 2) var(--spacing);
}

:host(:not([with-image])) .header {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.body {
  display: block;
  padding: var(--spacing);
}

.footer {
  display: block;
  border-top: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: var(--spacing);
}

:host(:not([with-header])) .header,
:host(:not([with-footer])) .footer,
:host(:not([with-image])) .image {
  display: none;
}
