:host {
  --icon-color: var(--text-color);
  --icon-size: var(--wa-font-size-l);
  --spacing: var(--wa-space-m);

  display: flex;
  position: relative;
  align-items: stretch;
  border-radius: var(--wa-panel-border-radius);
  background-color: var(--background-color, var(--wa-color-fill-quiet));
  border-color: var(--border-color, transparent);
  border-style: var(--wa-panel-border-style);
  border-width: var(--wa-panel-border-width);
  color: var(--wa-color-text-normal);
  gap: var(--spacing);
  padding: var(--spacing);
}

:host([appearance~='accent']) {
  color: var(--text-color, var(--wa-color-text-normal));
}

[part~='icon'] {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  color: var(--icon-color);
  font-size: var(--icon-size);
}

[part~='message'] {
  flex: 1 1 auto;
  display: block;
  overflow: hidden;
}
