input[type='color'] {
  display: block;
  border-radius: calc(infinity * 1px);
  background: transparent;
  padding: 3px;
  width: calc(var(--wa-form-control-height) - 2px);
  height: calc(var(--wa-form-control-height) - 2px);
  border: var(--wa-border-width-s) var(--wa-border-style) var(--wa-form-control-border-color);
  cursor: pointer;
  margin-block-start: 3px;
  forced-color-adjust: none;

  &::-webkit-color-swatch-wrapper {
    border-radius: inherit;
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: inherit;
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: inherit;
  }

  &:focus-visible {
    outline: var(--wa-focus-ring);
    outline-offset: var(--wa-focus-ring-offset);
  }
}
