/* Tables */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

caption {
  color: var(--wa-color-text-quiet);
}

tbody {
  tr {
    border-top: solid var(--wa-border-width-s) var(--wa-color-border-quiet);

    :where(table.wa-zebra-rows) &:nth-child(odd) {
      background-color: color-mix(in oklab, var(--wa-color-fill-quiet) 60%, transparent);
    }

    &:hover {
      background-color: var(--wa-color-fill-quiet);

      &,
      + tr {
        border-top-color: var(--wa-color-border-normal);
      }
    }
  }
}

td,
th {
  text-align: start;
  padding: var(--wa-space-s) var(--wa-space-s);
  vertical-align: top;
}

th {
  font-size: var(--wa-font-size-s);
  font-weight: var(--wa-font-weight-bold);
  padding-block: var(--wa-space-xs);
}

/* Utilities */
