textarea:not(:host *, .wa-off, .wa-off-deep *),
:host {
  --background-color: var(--wa-form-control-background-color);
  --border-color: var(--wa-form-control-resting-color);
  --border-radius: var(--wa-form-control-border-radius);
  --border-style: var(--wa-form-control-border-style);
  --border-width: var(--wa-form-control-border-width);
  --box-shadow: initial;
}

textarea:not(:host *, .wa-off, .wa-off-deep *),
:host .textarea {
  background-color: var(--background-color);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  border-style: var(--border-style);
  border-width: var(--border-width);
  box-shadow: var(--box-shadow);
  display: grid;
  align-items: center;
  position: relative;
  width: 100%;
  font: inherit;
  line-height: var(--wa-form-control-value-line-height);
  vertical-align: middle;
  transition:
    background var(--wa-transition-normal) var(--wa-transition-easing),
    border var(--wa-transition-normal) var(--wa-transition-easing),
    outline var(--wa-transition-fast) var(--wa-transition-easing);
  cursor: text;
}

textarea:not(:host *, .wa-off, .wa-off-deep *):focus:not(:disabled),
:host .textarea:has(> textarea:focus:not(:disabled)) {
  outline: var(--wa-focus-ring);
  outline-offset: var(--wa-focus-ring-offset);
}

textarea:not(:host *, .wa-off, .wa-off-deep *):disabled,
:host .textarea:has(> textarea:disabled) {
  opacity: 0.5;
  cursor: not-allowed;
}

textarea:not(.wa-off, .wa-off-deep *) {
  font: inherit;
  line-height: var(--wa-line-height-normal);
  color: var(--wa-form-control-value-color);
  padding: calc(var(--wa-space-smaller) - var(--border-width)) var(--wa-space);

  &::placeholder {
    color: var(--wa-form-control-placeholder-color);
    user-select: none;
    -webkit-user-select: none;
  }
}
