html {
  background: var(--wa-color-surface-default);
  background-attachment: fixed;
  background-image: radial-gradient(var(--wa-color-surface-lowered) 1.5px, transparent 0);
  background-size: 28px 28px;
  background-position: -19px -19px;
  min-height: 100vh;
}

/* page layout */
.content {
  max-width: none;
  margin: 0;
}

.preview-container {
  background: var(--wa-color-surface-lowered);
  container-type: inline-size;
  padding: 0;
  max-inline-size: 1400px;
  margin-inline: auto;
  border: var(--wa-border-width-s) var(--wa-color-neutral-border-quiet) var(--wa-border-style);
  overflow: clip;
}

.overlap {
  position: relative;
  color: var(--wa-color-text-normal);
  z-index: 1;
}

.grid-12-col {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--wa-space-m);
}

/* general and utility */
.strata {
  padding: var(--wa-space-3xl) 7%;
}

pre wa-copy-button {
  display: none;
}

wa-input::part(input) {
  width: 100%;
}

.square-frame,
.landscape-frame {
  flex: 1 1 auto;
  overflow: hidden;

  &:not(wa-card *) {
    border-radius: calc(var(--wa-border-radius-l) - var(--wa-panel-border-width));
  }

  & > img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }
}

.square-frame {
  aspect-ratio: 1 / 1;
}

.landscape-frame {
  aspect-ratio: 16 / 9;
}

/* strata - hero/header */
.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-header .title {
  grid-column-end: col-end;
}

.project-header wa-icon-button {
  color: inherit;
  font-size: var(--wa-font-size-l);

  &:not(:last-of-type) {
    margin-right: var(--wa-space-m);
  }
}

/* strata product cards */

.products wa-card {
  height: 100%;
}

.products wa-card::part(body) {
  flex-grow: 1;
}

.product-card {
  grid-column: span 12;
  position: relative;
}

.product-card {
  max-width: 45ch;
  margin: 0 auto;
}

.product-card .title-rating {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: var(--wa-flow-spacing);
}

.product-card .title {
  margin: 0;
}

.product-card p:last-of-type {
  margin-bottom: 0;
}

/* strata - blog post */

.blog .column-post-header {
  grid-column: span 12;
  position: relative;
}

.blog .post-body {
  grid-column: span 12;
}

.blog .post-header {
  position: sticky;
  top: 1rem;
}

.blog .post-title {
  margin-top: 0;
  line-height: 1.2;
}

.blog .authors {
  margin: var(--wa-space-2xl) 0;
}

.blog .authors a {
  display: flex;
  align-items: center;
  gap: var(--wa-space-s);
}

/* strata - message composer */

.message-composer .card-header [slot='header'] {
  display: flex;
  align-items: center;
}

.message-composer .card-footer [slot='footer'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-composer wa-card p {
  margin-bottom: 0;
}

.message-composer .card-footer [slot='footer'] .tools {
  display: flex;
  align-items: center;
}

.message-composer .grouped-buttons:not(:first-of-type) {
  padding-inline-start: var(--wa-space-m);
}

.message-composer .grouped-buttons:not(:last-of-type) {
  padding-inline-end: var(--wa-space-m);
  border-right: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-neutral-border-quiet);
}

.message-composer wa-card::part(header) {
  border-start-start-radius: calc(var(--border-radius) - var(--border-width));
  border-start-end-radius: calc(var(--border-radius) - var(--border-width));
}

.message-composer wa-card::part(footer) {
  border-end-start-radius: calc(var(--border-radius) - var(--border-width));
  border-end-end-radius: calc(var(--border-radius) - var(--border-width));
}

/* strata - product detail */

.product-detail .product-detail-images {
  grid-column: span 12;
}

.product-detail .product-detail-info {
  grid-column: span 12;
}

.product-detail wa-carousel {
  max-width: 350px;
  margin: 0 auto;
}

.product-detail .title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.product-detail .price {
  font-size: var(--wa-font-size-xl);
}

.product-detail .price-discounted {
  text-decoration: line-through;
  color: var(--wa-color-text-quiet);
  margin-inline-end: var(--wa-space-m);
}

/* strata - support table */
.support-table {
  font-size: var(--wa-font-size-s);
}

.support-table th {
  padding: var(--wa-space-l);
}

.support-table td {
  padding: var(--wa-space-m) var(--wa-space-l);
}

.support-table .desc {
  max-width: 30ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.support-table .excerpt {
  color: var(--wa-color-text-quiet);
}

.support-table wa-avatar {
  --size: var(--wa-font-size-2xl);
}

.support-table wa-card > * {
  border-radius: calc(var(--border-radius) - var(--border-width));
}

/* strata - Checkout Form */
.checkout-form .payment {
  grid-column: span 12;
  order: 2;
}

.checkout-form .order {
  grid-column: span 12;
}

.checkout-form .payment wa-input,
.checkout-form .payment wa-switch {
  margin-bottom: var(--wa-space-l);
}

.checkout-form .order-item {
  display: grid;
  gap: var(--wa-space-xl);
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--wa-space-xl);
}

.order-item .square-frame {
  grid-column: span 2;
}

.order-item .name {
  grid-column: span 5;
}

.order-item .finish {
  display: block;
}

.order-item wa-input {
  grid-column: span 3;
  margin: 0;
}

.order-item .price {
  grid-column: span 2;
}

/* responsive */
@container preview (min-width: 1040px) {
  .product-card {
    grid-column: span 4;
  }

  .blog .column-post-header {
    grid-column: 1 / 5;
  }

  .blog .post-body {
    grid-column: 5 / 13;
  }

  .product-detail .product-detail-images {
    grid-column: 1 / 6;
  }

  .product-detail .product-detail-info {
    grid-column: 7 / 13;
  }

  .checkout-form .payment {
    grid-column: 1 / 6;
    order: 1;
  }

  .checkout-form .order {
    grid-column: 7 / 13;
    order: 2;
  }
}
