/*
 * This file contains utility classes that can't be contained in a component and must be applied to the light DOM. None
 * of the rules in this stylesheet should target component tags or HTML tags, and all classes *must* start with ".wa-"
 * to reduce the possibility of collisions.
 */

@supports (scrollbar-gutter: stable) {
  .wa-scroll-lock {
    scrollbar-gutter: var(--wa-scroll-lock-gutter) !important;
  }

  .wa-scroll-lock body {
    overflow: hidden !important;
  }
}

/** This can go away once Safari has scrollbar-gutter support. */
@supports not (scrollbar-gutter: stable) {
  .wa-scroll-lock body {
    padding-right: var(--wa-scroll-lock-size) !important;
    overflow: hidden !important;
  }
}
