:root {
  /**
   * Borders
   */
  --wa-border-style: dotted;

  /* Border widths are designed to scale according to a single base value.
    * The base value is intended for calculations and is not used by components directly. */
  --wa-border-width-base: 0.0625;
  --wa-border-width-thin: calc(var(--wa-border-width-base) * 1rem);
  --wa-border-width-medium: calc(var(--wa-border-width-base) * 2rem);
  --wa-border-width-thick: calc(var(--wa-border-width-base) * 3rem);

  --wa-form-controls-border-color-resting: var(--wa-color-neutral-outline-muted-alt);
  --wa-form-controls-border-color-activated: var(--wa-color-brand-outline-muted-alt);
  --wa-form-controls-border-style: var(--wa-border-style);
  --wa-form-controls-border-width: var(--wa-border-width-thin);

  --wa-panel-border-style: var(--wa-border-style);
  --wa-panel-border-width: var(--wa-border-width-thin);
}

/* #region Buttons */
wa-button[outline] {
  &[variant='brand'] {
    --border-color: var(--wa-color-brand-outline-muted-alt);
  }

  &[variant='success'] {
    --border-color: var(--wa-color-success-outline-muted-alt);
  }

  &[variant='neutral'] {
    --border-color: var(--wa-color-neutral-outline-muted-alt);
  }

  &[variant='warning'] {
    --border-color: var(--wa-color-warning-outline-muted-alt);
  }

  &[variant='danger'] {
    --border-color: var(--wa-color-danger-outline-muted-alt);
  }
}
/* #endregion */
