:root {
  /**
   * Borders
   */
  --wa-border-style: solid;

  /* Border widths are designed to scale according to a single base value.
    * The base value is intended for calculations and is not used by components directly. */
  --wa-border-width-base: 0.125;
  --wa-border-width-thin: calc(var(--wa-border-width-base) * 1rem);
  --wa-border-width-medium: calc(var(--wa-border-width-base) * 2rem);
  --wa-border-width-thick: calc(var(--wa-border-width-base) * 3rem);

  --wa-form-controls-border-style: var(--wa-border-style);
  --wa-form-controls-border-width: var(--wa-border-width-thin);

  --wa-panel-border-style: var(--wa-border-style);
  --wa-panel-border-width: var(--wa-border-width-thin);
}
