:root {
  /**
   * Borders
   */
  --wa-border-style: solid;

  /* Border widths are designed to scale according to a single base value.
    * The base value is intended for calculations and is not used by components directly. */
  --wa-border-width-base: 0.125;
  --wa-border-width-thin: calc(var(--wa-border-width-base) * 1rem);
  --wa-border-width-medium: calc(var(--wa-border-width-base) * 2rem);
  --wa-border-width-thick: calc(var(--wa-border-width-base) * 3rem);

  --wa-form-controls-border-style: var(--wa-border-style);
  --wa-form-controls-border-width: var(--wa-border-width-thin);

  --wa-panel-border-style: var(--wa-border-style);
  --wa-panel-border-width: var(--wa-border-width-thin);
}

/* #region Buttons */
wa-button {
  --border-color-hover: var(--border-color);
  --border-color-active: var(--border-color);
  --box-shadow-color: var(--border-color);

  &[variant='brand'] {
    --border-color: var(--wa-color-brand-spot-darker);
  }

  &[variant='success'] {
    --border-color: var(--wa-color-success-spot-darker);
  }

  &[variant='neutral'] {
    --border-color: var(--wa-color-neutral-spot-darker);
  }

  &[variant='warning'] {
    --border-color: var(--wa-color-warning-spot-darker);
  }

  &[variant='danger'] {
    --border-color: var(--wa-color-danger-spot-darker);
  }
}
/* #endregion */
