@import 'depth_2_chunky.css';
@import 'cera_typeface.css';

:root,
:host,
.wa-theme-fa-light {
  color-scheme: light;

  /**
   * Primitive colors
   * Each color is identified by a number that corresponds to its lightness value, where 100 is lightest (white) and 0 is darkest (black).
   * Lightness on this scale is directly related to relative luminance, so each lightness value has uniform WCAG 2.1 contrast across hues.
   * A difference of 40 between lightness values guarantees a minimum 3:1 contrast ratio.
   * A difference of 50 between lightness values guarantees a minimum 4.5:1 contrast ratio.
   * A difference of 60 between lightness values guarantees a minimum 7:1 contrast ratio.
   */
  --wa-color-red-95: #ffeeef;
  --wa-color-red-90: #fdd;
  --wa-color-red-80: #ffb2b2;
  --wa-color-red-70: #ff8585;
  --wa-color-red-60: #ff5c5c;
  --wa-color-red-50: #e12124;
  --wa-color-red-40: #aa1d00;
  --wa-color-red-30: #8a0b00;
  --wa-color-red-20: #700000;
  --wa-color-red-10: #46000c;
  --wa-color-red-05: #2e0008;

  --wa-color-yellow-95: #fff3bf;
  --wa-color-yellow-90: #f8e695;
  --wa-color-yellow-80: #eec637;
  --wa-color-yellow-70: #d8a815;
  --wa-color-yellow-60: #ce8500;
  --wa-color-yellow-50: #aa6300;
  --wa-color-yellow-40: #824c00;
  --wa-color-yellow-30: #663b00;
  --wa-color-yellow-20: #492b00;
  --wa-color-yellow-10: #2c1a00;
  --wa-color-yellow-05: #1b0e00;

  --wa-color-green-95: #dbfadf;
  --wa-color-green-90: #bbf3c3;
  --wa-color-green-80: #79df8a;
  --wa-color-green-70: #4dc661;
  --wa-color-green-60: #35aa4a;
  --wa-color-green-50: #298539;
  --wa-color-green-40: #20652d;
  --wa-color-green-30: #165025;
  --wa-color-green-20: #0d391c;
  --wa-color-green-10: #062312;
  --wa-color-green-05: #03140c;

  --wa-color-blue-95: #e4f1ff;
  --wa-color-blue-90: #cee6ff;
  --wa-color-blue-80: #96ccff;
  --wa-color-blue-70: #53b4ff;
  --wa-color-blue-60: #349bf1;
  --wa-color-blue-50: #0079cd;
  --wa-color-blue-40: #005aa8;
  --wa-color-blue-30: #00458c;
  --wa-color-blue-20: #003073;
  --wa-color-blue-10: #00175c;
  --wa-color-blue-05: #000e39;

  --wa-color-gray-95: #f1f2f5;
  --wa-color-gray-90: #e3e6eb;
  --wa-color-gray-80: #c5cad4;
  --wa-color-gray-70: #a8afbf;
  --wa-color-gray-60: #8b95aa;
  --wa-color-gray-50: #677490;
  --wa-color-gray-40: #4a5877;
  --wa-color-gray-30: #3a455d;
  --wa-color-gray-20: #2a3142;
  --wa-color-gray-10: #191e28;
  --wa-color-gray-05: #0e1117;

  --wa-color-primary-95: var(--wa-color-blue-95);
  --wa-color-primary-90: var(--wa-color-blue-90);
  --wa-color-primary-80: var(--wa-color-blue-80);
  --wa-color-primary-70: var(--wa-color-blue-70);
  --wa-color-primary-60: var(--wa-color-blue-60);
  --wa-color-primary-50: var(--wa-color-blue-50);
  --wa-color-primary-40: var(--wa-color-blue-40);
  --wa-color-primary-30: var(--wa-color-blue-30);
  --wa-color-primary-20: var(--wa-color-blue-20);
  --wa-color-primary-10: var(--wa-color-blue-10);
  --wa-color-primary-05: var(--wa-color-blue-05);

  --wa-color-base-95: var(--wa-color-gray-95);
  --wa-color-base-90: var(--wa-color-gray-90);
  --wa-color-base-80: var(--wa-color-gray-80);
  --wa-color-base-70: var(--wa-color-gray-70);
  --wa-color-base-60: var(--wa-color-gray-60);
  --wa-color-base-50: var(--wa-color-gray-50);
  --wa-color-base-40: var(--wa-color-gray-40);
  --wa-color-base-30: var(--wa-color-gray-30);
  --wa-color-base-20: var(--wa-color-gray-20);
  --wa-color-base-10: var(--wa-color-gray-10);
  --wa-color-base-05: var(--wa-color-gray-05);

  /**
   * Foundational theme colors
   */

  /* Surfaces are background layers that UI components and other content rest on.
   * Surface colors support elevation, where raised is closest to the user and lowered is farthest away. */
  --wa-color-surface-raised: white;
  --wa-color-surface-default: white;
  --wa-color-surface-lowered: var(--wa-color-base-95);
  --wa-color-surface-border: var(--wa-color-base-90);

  /* Text colors are used for standard text elements.
   * Text should have a minimum 4.5:1 contrast ratio against surfaces.
   * Inverse text should support appropriate contrast against background colors with opposing lightness. */
  --wa-color-text-normal: var(--wa-color-base-20);
  --wa-color-text-quiet: var(--wa-color-base-40);
  --wa-color-text-link: var(--wa-color-brand-on-quiet);

  /* Focus specifies the default color of the focus ring for predictable keyboard navigation.
   * Focus should have a minimum 3:1 contrast ratio against surfaces and background colors whenever possible. */
  --wa-color-focus: var(--wa-color-primary-60);

  /* Overlays provide a backdrop for isolated content, often allowing background colors or content to show through. */
  --wa-color-overlay-modal: color-mix(in oklab, var(--wa-color-base-10) 32%, transparent);
  --wa-color-overlay-inline: color-mix(in oklab, var(--wa-color-base-50) 8%, transparent);

  /* Shadow specifies the default color for box shadows that indicate elevation. */
  --wa-color-shadow: color-mix(
    in oklab,
    var(--wa-color-base-05) calc(var(--wa-shadow-blur-multiplier) * 8% + 6%),
    transparent
  );

  --wa-shadow-offset-x-multiplier: 0;
  --wa-shadow-offset-y-multiplier: 0.35;

  /* Mix colors are used in color-mix() to achieve consistent interaction effects across components. */
  --wa-color-mix-hover: black 8%;
  --wa-color-mix-active: black 20%;

  /**
   * Semantic theme colors
   * Five semantic groups reinforce a component's message, intended usage, or expected results through meaningful hues -
   *  *  Brand to reinforce product branding
   *  *  Success to express validity or confirmation
   *  *  Warning to express caution or uncertainty
   *  *  Danger to express errors or risk
   *  *  Neutral for elements that are innocuous or inert
   * Each semantic group specifies colors to use as fills, outlines, and text content with vivid and muted variations.
   * Vivid colors are the most noticeable against base theme colors, whereas muted colors draw less attention.
   * Vivid colors should have a minimum 3:1 contrast ratio against surfaces when possible.
   * Muted colors have no contrast requirements.
   * Text colors should have a minimum 4.5:1 contrast ratio on the intended background - vivid, muted, or surface.
  */

  --wa-color-brand-fill-loud: var(--wa-color-primary-70);
  --wa-color-brand-fill-quiet: var(--wa-color-primary-95);
  --wa-color-brand-fill-normal: var(--wa-color-primary-90);
  --wa-color-brand-border-quiet: var(--wa-color-primary-70);
  --wa-color-brand-border-normal: var(--wa-color-primary-50);
  --wa-color-brand-on-loud: var(--wa-color-text-normal);
  --wa-color-brand-on-normal: var(--wa-color-primary-40);
  --wa-color-brand-on-quiet: var(--wa-color-primary-50);

  --wa-color-success-fill-loud: var(--wa-color-green-80);
  --wa-color-success-fill-quiet: var(--wa-color-green-95);
  --wa-color-success-fill-normal: var(--wa-color-green-90);
  --wa-color-success-border-quiet: var(--wa-color-green-70);
  --wa-color-success-border-normal: var(--wa-color-green-50);
  --wa-color-success-on-loud: var(--wa-color-text-normal);
  --wa-color-success-on-normal: var(--wa-color-green-40);
  --wa-color-success-on-quiet: var(--wa-color-green-50);

  --wa-color-warning-fill-loud: var(--wa-color-yellow-80);
  --wa-color-warning-fill-quiet: var(--wa-color-yellow-95);
  --wa-color-warning-fill-normal: var(--wa-color-yellow-90);
  --wa-color-warning-border-quiet: var(--wa-color-yellow-70);
  --wa-color-warning-border-normal: var(--wa-color-yellow-60);
  --wa-color-warning-on-loud: var(--wa-color-text-normal);
  --wa-color-warning-on-normal: var(--wa-color-yellow-40);
  --wa-color-warning-on-quiet: var(--wa-color-yellow-50);

  --wa-color-danger-fill-loud: var(--wa-color-red-70);
  --wa-color-danger-fill-quiet: var(--wa-color-red-95);
  --wa-color-danger-fill-normal: var(--wa-color-red-90);
  --wa-color-danger-border-quiet: var(--wa-color-red-70);
  --wa-color-danger-border-normal: var(--wa-color-red-50);
  --wa-color-danger-on-loud: var(--wa-color-text-normal);
  --wa-color-danger-on-normal: var(--wa-color-red-40);
  --wa-color-danger-on-quiet: var(--wa-color-red-50);

  --wa-color-neutral-fill-loud: var(--wa-color-base-80);
  --wa-color-neutral-fill-quiet: var(--wa-color-base-95);
  --wa-color-neutral-fill-normal: var(--wa-color-base-90);
  --wa-color-neutral-border-quiet: var(--wa-color-base-60);
  --wa-color-neutral-border-normal: var(--wa-color-base-40);
  --wa-color-neutral-on-loud: var(--wa-color-text-normal);
  --wa-color-neutral-on-normal: var(--wa-color-base-40);
  --wa-color-neutral-on-quiet: var(--wa-color-text-normal);

  /**
   * Typography
   */
  --wa-font-family-heading: 'cera-round-pro', sans-serif;
  --wa-font-family-body: 'cera-round-pro', sans-serif;
  --wa-font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  --wa-font-family-longform: 'Lora', serif;

  --wa-font-weight-light: 300;
  --wa-font-weight-normal: 400;
  --wa-font-weight-semibold: 500;
  --wa-font-weight-bold: 700;

  --wa-font-weight-heading: var(--wa-font-weight-bold);
  --wa-font-weight-body: var(--wa-font-weight-normal);
  --wa-font-weight-action: var(--wa-font-weight-bold);

  /* The default typescale is based on the Major Second scale (x1.125).
   * Every other step on the scale is skipped for larger sizes in order to maximize variation. */
  --wa-font-size-root: 16px;
  --wa-font-size-2xs: 0.6875rem; /* 11px */
  --wa-font-size-xs: 0.75rem; /* 12px */
  --wa-font-size-s: 0.875rem; /* 14px */
  --wa-font-size-m: 1rem; /* 16px */
  --wa-font-size-l: 1.25rem; /* 20px */
  --wa-font-size-xl: 1.625rem; /* 26px */
  --wa-font-size-2xl: 2rem; /* 32px */
  --wa-font-size-3xl: 2.5625rem; /* 41px */
  --wa-font-size-4xl: 3.25rem; /* 52px */

  --wa-line-height-condensed: 1.25;
  --wa-line-height-normal: 1.75;
  --wa-line-height-expanded: 2;

  /**
   * Spacing
   * Used intentionally, space properties yield a predictable rhythm and support effective implementation of the proximity principle.
   * Space can be organized into three groups with distinct usage -
   *  *  Small-scale space (3xs, 2xs, and xs) is used for gaps between closely related elements, such as a dropdown button and its menu,
   *     and padding within small components, such as badges and tooltips
   *  *  Normal space (s, m, and l) is used for gaps between related elements with distinct purposes or touch targets and padding within
   *     typical interface elements, such as buttons and inputs
   *  *  Large-scale space (xl, 2xl, and 3xl) is used for gaps between unrelated elements and padding within larger components,
   *     such as cards and dialogs
   */
  /* Space is designed to scale according to a single base value.
   * The base value is intended for calculations and is not used by components directly. */
  --wa-space-multiplier: 1;
  --wa-space-3xs: calc(var(--wa-space-multiplier) * 0.125rem); /* 2px */
  --wa-space-2xs: calc(var(--wa-space-multiplier) * 0.25rem); /* 4px */
  --wa-space-xs: calc(var(--wa-space-multiplier) * 0.5rem); /* 8px */
  --wa-space-s: calc(var(--wa-space-multiplier) * 0.75rem); /* 12px */
  --wa-space-m: calc(var(--wa-space-multiplier) * 1rem); /* 16px */
  --wa-space-l: calc(var(--wa-space-multiplier) * 1.25rem); /* 20px */
  --wa-space-xl: calc(var(--wa-space-multiplier) * 1.5rem); /* 24px */
  --wa-space-2xl: calc(var(--wa-space-multiplier) * 2rem); /* 32px */
  --wa-space-3xl: calc(var(--wa-space-multiplier) * 3rem); /* 48px */

  /**
   * Borders
   */
  --wa-border-style: solid;

  /* Border widths are designed to scale according to a single base value.
     * The base value is intended for calculations and is not used by components directly. */
  --wa-border-width-multiplier: 0.125;
  --wa-border-width-s: calc(var(--wa-border-width-multiplier) * 1rem);
  --wa-border-width-m: calc(var(--wa-border-width-multiplier) * 2rem);
  --wa-border-width-l: calc(var(--wa-border-width-multiplier) * 3rem);

  --wa-form-control-border-style: var(--wa-border-style);
  --wa-form-control-border-width: var(--wa-border-width-s);

  --wa-panel-border-style: var(--wa-border-style);
  --wa-panel-border-width: var(--wa-border-width-s);

  /**
   * Corners
   */
  /* Corners are designed to scale according to a single base value.
   * The base value is intended for calculations and is not used by components directly. */
  --wa-border-radius-multiplier: 0.5;
  --wa-border-radius-xs: calc(var(--wa-border-radius-multiplier) * 0.75rem);
  --wa-border-radius-s: calc(var(--wa-border-radius-multiplier) * 1rem);
  --wa-border-radius-m: calc(var(--wa-border-radius-multiplier) * 2rem);
  --wa-border-radius-l: calc(var(--wa-border-radius-multiplier) * 3rem);

  /* Semantic corner properties create specific shapes beyond the theme's preferred corner styles. */
  --wa-border-radius-pill: 9999px;
  --wa-border-radius-circle: 50%;
  --wa-border-radius-square: 0;

  /**
   * Focus
   */
  --wa-focus-ring-style: solid;
  --wa-focus-ring-width: 0.1875rem; /* 3px */
  --wa-focus-ring: var(--wa-focus-ring-style) var(--wa-focus-ring-width)
    color-mix(in oklab, var(--wa-color-focus) 98%, transparent);
  --wa-focus-ring-offset: 0.0625rem; /* 1px */

  /**
   * Links
   */
  --wa-link-decoration-default: underline var(--wa-color-text-link) dotted;
  --wa-link-decoration-hover: underline;

  /**
   * Transitions
   */
  --wa-transition-slow: 250ms;
  --wa-transition-normal: 150ms;
  --wa-transition-fast: 50ms;

  /**
   * Component groups
   */
  --wa-form-control-background-color: var(--wa-color-surface-default);

  --wa-form-control-border-radius: var(--wa-border-radius-s);

  --wa-form-control-activated-color: var(--wa-color-neutral-border-normal);
  --wa-form-control-resting-color: var(--wa-color-neutral-border-normal);

  --wa-form-control-label-color: var(--wa-color-text-normal);
  --wa-form-control-label-font-weight: var(--wa-font-weight-bold);
  --wa-form-control-label-line-height: var(--wa-line-height-normal);

  --wa-form-control-value-color: var(--wa-color-text-normal);
  --wa-form-control-value-font-weight: var(--wa-font-weight-body);
  --wa-form-control-value-line-height: var(--wa-line-height-condensed);

  --wa-form-control-placeholder-color: var(--wa-color-base-60);

  --wa-form-control-height-s: calc(
    var(--wa-space-s) * 2 + var(--wa-font-size-s) * var(--wa-form-control-value-line-height)
  );
  --wa-form-control-height-m: calc(
    var(--wa-space-m) * 2 + var(--wa-font-size-m) * var(--wa-form-control-value-line-height)
  );
  --wa-form-control-height-l: calc(
    var(--wa-space-l) * 2 + var(--wa-font-size-l) * var(--wa-form-control-value-line-height)
  );

  --wa-form-control-required-content: '*';
  --wa-form-control-required-content-color: inherit;
  --wa-form-control-required-content-offset: -0.1em;

  --wa-panel-border-radius: var(--wa-border-radius-m);

  /**
  * From 2.x
  */
  --wa-tooltip-arrow-size: 0.375rem;
}

.wa-theme-fa-dark,
.wa-theme-fa-dark :host {
  color-scheme: dark;

  /**
   * Base theme colors
   */
  --wa-color-surface-raised: var(--wa-color-base-30);
  --wa-color-surface-default: var(--wa-color-base-20);
  --wa-color-surface-lowered: var(--wa-color-base-10);
  --wa-color-surface-border: var(--wa-color-base-30);

  --wa-color-text-normal: var(--wa-color-base-95);
  --wa-color-text-quiet: var(--wa-color-base-60);
  --wa-color-text-link: var(--wa-color-brand-on-quiet);

  --wa-color-focus: var(--wa-color-primary-60);

  --wa-color-overlay-modal: color-mix(in oklab, black 50%, transparent);

  --wa-color-shadow: color-mix(
    in oklab,
    var(--wa-color-base-05) calc(var(--wa-shadow-blur-multiplier) * 16% + 40%),
    transparent
  );

  --wa-color-mix-hover: black 8%;
  --wa-color-mix-active: black 16%;

  /**
    * Semantic theme colors
    */
  --wa-color-brand-fill-loud: var(--wa-color-primary-80);
  --wa-color-brand-fill-quiet: var(--wa-color-primary-10);
  --wa-color-brand-fill-normal: var(--wa-color-primary-20);
  --wa-color-brand-border-quiet: var(--wa-color-primary-60);
  --wa-color-brand-border-normal: var(--wa-color-primary-70);
  --wa-color-brand-on-loud: var(--wa-color-primary-10);
  --wa-color-brand-on-normal: var(--wa-color-primary-80);
  --wa-color-brand-on-quiet: var(--wa-color-primary-70);

  --wa-color-success-fill-loud: var(--wa-color-green-80);
  --wa-color-success-fill-quiet: var(--wa-color-green-10);
  --wa-color-success-fill-normal: var(--wa-color-green-20);
  --wa-color-success-border-quiet: var(--wa-color-green-60);
  --wa-color-success-border-normal: var(--wa-color-green-70);
  --wa-color-success-on-loud: var(--wa-color-green-10);
  --wa-color-success-on-normal: var(--wa-color-green-80);
  --wa-color-success-on-quiet: var(--wa-color-green-70);

  --wa-color-warning-fill-loud: var(--wa-color-yellow-80);
  --wa-color-warning-fill-quiet: var(--wa-color-yellow-10);
  --wa-color-warning-fill-normal: var(--wa-color-yellow-20);
  --wa-color-warning-border-quiet: var(--wa-color-yellow-60);
  --wa-color-warning-border-normal: var(--wa-color-yellow-70);
  --wa-color-warning-on-loud: var(--wa-color-yellow-10);
  --wa-color-warning-on-normal: var(--wa-color-yellow-80);
  --wa-color-warning-on-quiet: var(--wa-color-yellow-70);

  --wa-color-danger-fill-loud: var(--wa-color-red-80);
  --wa-color-danger-fill-quiet: var(--wa-color-red-10);
  --wa-color-danger-fill-normal: var(--wa-color-red-20);
  --wa-color-danger-border-quiet: var(--wa-color-red-60);
  --wa-color-danger-border-normal: var(--wa-color-red-70);
  --wa-color-danger-on-loud: var(--wa-color-red-10);
  --wa-color-danger-on-normal: var(--wa-color-red-80);
  --wa-color-danger-on-quiet: var(--wa-color-red-70);

  --wa-color-neutral-fill-loud: var(--wa-color-base-80);
  --wa-color-neutral-fill-quiet: var(--wa-color-base-20);
  --wa-color-neutral-fill-normal: var(--wa-color-base-30);
  --wa-color-neutral-border-quiet: var(--wa-color-base-60);
  --wa-color-neutral-border-normal: var(--wa-color-base-70);
  --wa-color-neutral-on-loud: var(--wa-color-base-10);
  --wa-color-neutral-on-normal: var(--wa-color-base-80);
  --wa-color-neutral-on-quiet: var(--wa-color-base-70);
}

/* #region Custom Styles */
@container preview (min-width: 0) {
  .project-header h1 {
    font-size: var(--wa-font-size-xl);
  }

  .hero {
    color: var(--wa-color-brand-on-normal);
    text-align: center;
  }

  .hero .title {
    background:
      url('/assets/images/themer/fa/hero.png') center center / cover no-repeat,
      var(--wa-color-brand-fill-normal);
    padding: calc(var(--wa-space-3xl) * 5) calc(var(--wa-space-3xl) * 2) calc(var(--wa-space-3xl) * 4);
    margin: calc(var(--wa-space-3xl) * -1) 0;
    border-radius: var(--wa-panel-border-radius);
  }

  h1.hero-title {
    font-size: var(--wa-font-size-4xl);
  }

  .badge-stock {
    position: absolute;
    top: -0.75rem;
    right: var(--wa-space-l);
  }

  pre.codeblock,
  .post-body code {
    background-color: color-mix(in oklab, var(--wa-color-base-50), transparent 90%);
  }

  .message-composer wa-card::part(header) {
    background-color: var(--wa-color-neutral-fill-normal);
    color: var(--wa-color-neutral-on-normal);

    & wa-icon-button {
      color: var(--wa-color-text-normal);
    }
  }

  wa-alert {
    --content-color: var(--wa-color-text-normal);
    --icon-color: var(--border-color);

    .wa-theme-fa-dark & {
      --background: var(--wa-color-surface-lowered);
    }

    &[variant='brand'] {
      --border-color: var(--wa-color-brand-border-normal);
    }
    &[variant='success'] {
      --border-color: var(--wa-color-success-border-normal);
    }
    &[variant='warning'] {
      --border-color: var(--wa-color-warning-border-normal);
    }
    &[variant='danger'] {
      --border-color: var(--wa-color-danger-border-normal);
    }
    &[variant='neutral'] {
      --border-color: var(--wa-color-neutral-border-normal);
    }
  }

  wa-badge {
    --border-color: var(--background);
    text-transform: uppercase;

    &::part(base) {
      font-weight: var(--wa-font-weight-bold);
    }
  }

  wa-button:not([variant='text']) {
    --border-color: var(--label-color);
    --border-color-hover: var(--border-color);
    --border-color-active: var(--border-color);
    --box-shadow-color: var(--border-color);
    --background-active: var(--border-color);
    --label-color-active: var(--background);

    &[appearance='outline'] {
      --background: var(--wa-color-surface-default);
    }

    .wa-theme-fa-dark & {
      &[variant='brand'] {
        --border-color: var(--wa-color-brand-border-loud);
      }
      &[variant='success'] {
        --border-color: var(--wa-color-success-border-loud);
      }
      &[variant='warning'] {
        --border-color: var(--wa-color-warning-border-loud);
      }
      &[variant='danger'] {
        --border-color: var(--wa-color-danger-border-loud);
      }
      &[variant='neutral'] {
        --border-color: var(--wa-color-neutral-border-loud);
      }
    }
  }

  wa-card {
    --border-width: 0px;

    & .title {
      font-size: var(--wa-font-size-xl);
    }

    & wa-rating {
      --symbol-size: var(--wa-font-size-m);
    }
  }

  wa-carousel {
    --pagination-color-activated: var(--wa-color-brand-fill-loud);
    --pagination-color-resting: var(--wa-color-neutral-fill-loud);
  }

  wa-checkbox,
  wa-radio {
    --checked-icon-color: var(--wa-color-surface-default);
  }

  wa-radio-group > wa-radio-button {
    --wa-transition-slow: 0ms;
    --wa-transition-normal: 0ms;
    --wa-transition-fast: 0ms;
    --background-active: var(--wa-color-neutral-on-quiet);
    --border-color-active: var(--background-active);
    --box-shadow: var(--wa-shadow-offset-x-s) var(--wa-shadow-offset-y-s) var(--wa-shadow-blur-s) var(--border-color);
    --label-color-active: var(--wa-color-surface-default);

    &:active,
    &[checked] {
      --background: var(--wa-color-neutral-on-quiet);
      --box-shadow: none;
      --label-color: var(--wa-color-surface-default);
      transform: translateX(var(--wa-shadow-offset-x-s)) translateY(var(--wa-shadow-offset-y-s));
    }
  }

  wa-switch {
    --background: transparent;
    --border-color: var(--wa-form-control-activated-color);
    --thumb-color: var(--border-color);
    --thumb-color-checked: var(--wa-color-neutral-fill-quiet);
    --thumb-size: 1em;
    --height: 1.5em;
    --width: calc(var(--thumb-size) * 2.5);
  }

  wa-tag {
    font-weight: var(--wa-font-weight-bold);
  }

  wa-input,
  wa-select {
    --wa-form-control-height-s: calc(
      var(--wa-space-s) * 2 + var(--wa-font-size-s) * var(--wa-form-control-value-line-height) +
        var(--wa-shadow-offset-y-s)
    );
    --wa-form-control-height-m: calc(
      var(--wa-space-m) * 2 + var(--wa-font-size-m) * var(--wa-form-control-value-line-height) +
        var(--wa-shadow-offset-y-s)
    );
    --wa-form-control-height-l: calc(
      var(--wa-space-l) * 2 + var(--wa-font-size-l) * var(--wa-form-control-value-line-height) +
        var(--wa-shadow-offset-y-s)
    );

    & > wa-icon {
      color: var(--wa-color-base-30);

      .wa-theme-fa-dark & {
        color: var(--wa-color-base-80);
      }
    }
  }
}
/* #endregion */
