.wa-invalid {
  --wa-form-controls-resting-color: var(--wa-color-danger-border-normal);
  --wa-form-controls-activated-color: var(--wa-color-danger-fill-loud);
  --wa-form-controls-value-color: var(--wa-color-danger-on-quiet);

  /* Focus ring */
  --wa-focus-ring: solid var(--wa-border-width-l) var(--wa-color-danger-fill-loud);

  /* Help text */
  --wa-color-text-quiet: var(--wa-color-danger-on-normal);
}

.wa-valid {
  --wa-form-controls-resting-color: var(--wa-color-success-border-normal);
  --wa-form-controls-activated-color: var(--wa-color-success-fill-loud);
  --wa-form-controls-value-color: var(--wa-color-success-on-quiet);

  /* Focus ring */
  --wa-focus-ring: solid var(--wa-border-width-l) var(--wa-color-success-fill-loud);

  /* Help text */
  --wa-color-text-quiet: var(--wa-color-success-on-normal);
}
