---
layout: null
permalink: "/docs/palettes/data.json"
eleventyExcludeFromCollections: true
---
{
{% for palette in collections.palettes %}
  {% set paletteId = palette.fileSlug -%}
  {% set colors = palettes[paletteId] -%}
  "{{ paletteId }}": {
    "title": "{{ palette.data.title }}",
    "colors": {
      {% for hue, tints in colors -%}
        "{{ hue }}": {
          {% for tint, value in tints -%}
            {% if tint != "05" -%}
              {% set value = value.coords or value -%}
              {% set key = "05" if tint == "5" else tint -%}
              "{{ key }}": {{ value | dump | safe }}{{ ', ' if not loop.last }}
            {%- endif %}
          {% endfor -%}
        }{{ ', ' if not loop.last }}
      {% endfor %} {# end of hue #}
    }
  }{{ ', ' if not loop.last }} {# end of palette #}
{% endfor %}
}
