.form-control .form-control__label {
  display: none;
}

/* Label */
.form-control--has-label .form-control__label {
  display: inline-block;
  color: var(--wa-form-control-label-color);
  font-weight: var(--wa-form-control-label-font-weight);
  line-height: var(--wa-form-control-label-line-height);
  margin-bottom: var(--wa-space-3xs);

  &:is(.form-control--small *) {
    font-size: var(--wa-font-size-s);
  }

  &:is(.form-control--medium *) {
    font-size: var(--wa-font-size-m);
  }

  &:is(.form-control--large *) {
    font-size: var(--wa-font-size-l);
  }
}

:host([required]) .form-control--has-label .form-control__label::after {
  content: var(--wa-form-control-required-content);
  margin-inline-start: var(--wa-form-control-required-content-offset);
  color: var(--wa-form-control-required-content-color);
}

/* Help text */
.form-control [part~='form-control-hint'] {
  display: none;
}

.form-control--has-hint [part~='form-control-hint'] {
  display: block;
  color: var(--wa-color-text-quiet);
  margin-top: var(--wa-space-3xs);
  font-size: var(--size-smaller, 85%);

  &:is(.form-control--small *) {
    font-size: var(--wa-font-size-xs);
  }

  &:is(.form-control--medium *) {
    font-size: var(--wa-font-size-s);
  }

  &:is(.form-control--large *) {
    font-size: var(--wa-font-size-m);
  }

  &:is(.form-control--radio-group *) {
    margin-top: var(--wa-space-2xs);
  }
}
