/**
 * Styles for elements that need to use display: contents on the host to enable styling with regular CSS properties (see #207, #259).
 * To use, make sure that the element that needs to inherit properties set on the host has a part of base or a class of .styling-host.
 */
@property --display {
  syntax: '*';
  inherits: false;
}

:host {
  display: contents !important;
}

:where([part~='base'], .styling-host) {
  all: inherit;

  /* Add any non-inherited custom properties here, as all: inherit won't cover them */
  --display: inherit;

  display: var(--display, inline);
}

:host([hidden]) {
  display: none !important;
}
