:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
:where([class^='wa-palette-'], [class*=' wa-palette-']),
.wa-warning-pink {
  --wa-color-warning-95: var(--wa-color-pink-95);
  --wa-color-warning-90: var(--wa-color-pink-90);
  --wa-color-warning-80: var(--wa-color-pink-80);
  --wa-color-warning-70: var(--wa-color-pink-70);
  --wa-color-warning-60: var(--wa-color-pink-60);
  --wa-color-warning-50: var(--wa-color-pink-50);
  --wa-color-warning-40: var(--wa-color-pink-40);
  --wa-color-warning-30: var(--wa-color-pink-30);
  --wa-color-warning-20: var(--wa-color-pink-20);
  --wa-color-warning-10: var(--wa-color-pink-10);
  --wa-color-warning-05: var(--wa-color-pink-05);
  --wa-color-warning: var(--wa-color-pink);

  --wa-color-warning-lt-50: var(--wa-color-pink-lt-50);
  --wa-color-warning-gte-50: var(--wa-color-pink-gte-50);

  --wa-color-warning-lt-60: var(--wa-color-pink-lt-60);
  --wa-color-warning-gte-60: var(--wa-color-pink-gte-60);

  --wa-color-warning-lt-70: var(--wa-color-pink-lt-70);
  --wa-color-warning-gte-70: var(--wa-color-pink-gte-70);

  --wa-color-warning-max-50: var(--wa-color-pink-max-50);
  --wa-color-warning-min-50: var(--wa-color-pink-min-50);
  --wa-color-warning-max-60: var(--wa-color-pink-max-60);
  --wa-color-warning-min-60: var(--wa-color-pink-min-60);
  --wa-color-warning-max-70: var(--wa-color-pink-max-70);
  --wa-color-warning-min-70: var(--wa-color-pink-min-70);

  --wa-color-warning-on: var(--wa-color-pink-on);
}
