:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
:where([class^='wa-palette-'], [class*=' wa-palette-']),
.wa-warning-red {
  --wa-color-warning-95: var(--wa-color-red-95);
  --wa-color-warning-90: var(--wa-color-red-90);
  --wa-color-warning-80: var(--wa-color-red-80);
  --wa-color-warning-70: var(--wa-color-red-70);
  --wa-color-warning-60: var(--wa-color-red-60);
  --wa-color-warning-50: var(--wa-color-red-50);
  --wa-color-warning-40: var(--wa-color-red-40);
  --wa-color-warning-30: var(--wa-color-red-30);
  --wa-color-warning-20: var(--wa-color-red-20);
  --wa-color-warning-10: var(--wa-color-red-10);
  --wa-color-warning-05: var(--wa-color-red-05);
  --wa-color-warning: var(--wa-color-red);

  --wa-color-warning-lt-50: var(--wa-color-red-lt-50);
  --wa-color-warning-gte-50: var(--wa-color-red-gte-50);

  --wa-color-warning-lt-60: var(--wa-color-red-lt-60);
  --wa-color-warning-gte-60: var(--wa-color-red-gte-60);

  --wa-color-warning-lt-70: var(--wa-color-red-lt-70);
  --wa-color-warning-gte-70: var(--wa-color-red-gte-70);

  --wa-color-warning-max-50: var(--wa-color-red-max-50);
  --wa-color-warning-min-50: var(--wa-color-red-min-50);
  --wa-color-warning-max-60: var(--wa-color-red-max-60);
  --wa-color-warning-min-60: var(--wa-color-red-min-60);
  --wa-color-warning-max-70: var(--wa-color-red-max-70);
  --wa-color-warning-min-70: var(--wa-color-red-min-70);

  --wa-color-warning-on: var(--wa-color-red-on);
}
