/**
 * Scrollable element in a vertical flex container
 * Showing shadows as an indicator of scrollability (PE wherever scroll-timeline is supported for now, can be polyfilled with JS later)
 */

.scrollable {
  --scroll-shadow-height: 0.5em;

  flex-shrink: 1;
  min-height: 0;
  overflow: auto;
  position: relative;
  scrollbar-width: inherit;

  &:is(.panel-content > div) {
    display: flex;
    flex-flow: column;
    gap: inherit;
  }

  .scroll-shadow {
    position: sticky;
    z-index: 1;
    inset-inline: 0;
    display: block;

    &::before {
      content: '';
      position: absolute;
      inset-inline: 0;
      height: var(--scroll-shadow-height);
      pointer-events: none;
      mix-blend-mode: multiply;
      background: radial-gradient(farthest-side, var(--wa-color-shadow) 10%, transparent) center / 120% 200%;
      transition: var(--wa-transition-slow);
      /* transition-property: opacity, transform, display, height, min-height; */
      transition-behavior: allow-discrete;
    }
  }

  &:not(.can-scroll-top) .scroll-shadow-top,
  &:not(.can-scroll-bottom) .scroll-shadow-bottom {
    opacity: 0;

    &::before {
      height: 0;
    }
  }

  &:not(.can-scroll-top) .scroll-shadow-top {
    &::before {
      transform: translateY(-100%);
    }
  }

  .scroll-shadow-top {
    top: 0;

    &::before {
      background-position: bottom;
    }
  }

  &:not(.can-scroll-bottom) .scroll-shadow-bottom {
    &::before {
      transform: translateY(100%);
    }
  }

  .scroll-shadow-bottom {
    top: 100%;

    &::before {
      bottom: 0;
      background-position: top;
    }
  }
}

.scrollable:where(.panel-content) {
  .scroll-shadow-top {
    /* TODO convert this magic number to a token that explains what it is */
    margin-bottom: -18px;
  }

  .scroll-shadow-bottom {
    transform: translateY(var(--padding-bottom, var(--panel-spacing)));
  }
}
