---
title: Component Reference
layout: docs
---

<style>
table code {
	white-space: nowrap;
}
</style>

<wa-input type=search label="Filter by name:" clearable id="name_search"></wa-input>
<script>
name_search.addEventListener("wa-input", e => {
	let value = e.target.value;

	if (value) {
		for (let th of document.querySelectorAll("table tbody th:first-child")) {
			let tr = th.parentNode;
			tr.toggleAttribute("hidden", !th.textContent.includes(value));
		}
	}
	else {
		for (let tr of document.querySelectorAll("table tbody tr[hidden]")) {
			tr.removeAttribute("hidden");
		}
	}

	// Update heading counts
	for (let h2 of document.querySelectorAll("h2:has(+ table)")) {
		let count = h2.querySelector(".count");
		if (!count) continue;
		let table = h2.nextElementSibling;
		let visibleRows = table.querySelectorAll("tbody tr:not([hidden])").length;
		count.textContent = visibleRows;
	}
});
</script>

{% for type, all in componentsBy -%}
{% set typeTitle = "CSS custom properties" if type == "cssProperty" else ("CSS parts" if type == "cssPart" else (type | title) + "s") %}
<h2 id="{{ typeTitle | slugify }}">
	All <span class="count">{{ (all | keys).length }}</span>
	{{ typeTitle }}
</h2>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Components</th>
		</tr>
	</thead>
	{% for name, thingComponents in all -%}
	<tr>
		<th><code>{{ name }}{{ "()" if type == "method" }}</code></th>
		<td>
			{% if thingComponents.length > 1 %}
				<details open>
					<summary><strong>{{ thingComponents.length }}</strong> components</summary>
			{% endif %}
			{% for component in thingComponents  %}
				<a href="../{{ component.slug }}"><code>&lt;{{ component.tagName }}&gt;</code></a>
			{%- endfor -%}
			{% if thingComponents.length > 1 %}
				</details>
			{% endif %}
		</td>
	</tr>
	{%- endfor %}
</table>

{%- endfor %}
