body:has(> .showcase-examples-wrapper) {
  background-color: var(--wa-color-surface-lowered);
}

.showcase-examples-wrapper {
  container-type: inline-size;
  inline-size: 100%;
  min-block-size: 100%;
  box-sizing: border-box;
  padding: var(--wa-space-xl);
  background-color: var(--wa-color-surface-lowered);
}

.showcase-examples {
  column-count: 1;
  column-gap: var(--wa-space-xl);

  & wa-card {
    display: inline-block;
    width: 100%;

    &:has(+ wa-card) {
      margin-block-end: var(--wa-space-xl);
    }
  }

  @container (width > 500px) {
    column-count: 2;
  }

  @container (width > 750px) {
    column-count: 3;
  }

  @container (width > 950px) {
    column-count: auto;
    column-width: 32ch;
  }
}
