:root {
  --docs-background-color: var(--wa-color-surface-default);
  --docs-content-max-width: 860px;
  --docs-sidebar-width: 320px;
  --docs-sidebar-transition-speed: 250ms;
  --docs-content-toc-max-width: 260px;
  --docs-content-padding: 2rem;
  --docs-content-vertical-spacing: 2rem;
  --docs-search-overlay-background: rgb(0 0 0 / 0.2);
  --docs-skip-to-main-width: 200px;
}

/* Light theme */
:root {
  color-scheme: normal;

  --docs-overlay-color: hsl(240 3.8% 46.1% / 33%);
  --docs-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
  --docs-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 24%);
  --docs-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 24%);
  --docs-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 24%);
  --docs-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 24%);
}

html {
  scrollbar-gutter: stable;
}

/* Utils */
html.wa-theme-dark .only-light,
html:not(.wa-theme-dark) .only-dark {
  display: none !important;
}

.nowrap {
  white-space: nowrap;
}

.visually-hidden:not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  border: none !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
}

.sidebar-content ul,
.sidebar-content details,
.sidebar-content summary {
  padding: unset;
  margin: unset;
}

.sidebar-content summary {
  text-indent: 0.5rem;
  margin-block: 0.5rem;
}

.sidebar-content a {
  text-decoration: unset;
}

.main-frame main h1 {
  margin: 0;
  margin-block-start: 1rem;
}

html {
  box-sizing: border-box;
  line-height: var(--wa-font-line-height-regular);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Common elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3rem 0 1.5rem 0;
}

h1:first-of-type {
  margin-top: 1rem;
}

.badges a {
  display: inline-block;
}

.badges img {
  border-radius: var(--wa-corners-s);
}

.callout img {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/** Overriding default <img> stuff */
img,
main .sl-markdown-content img,
/* Super hacky selector to get around some CSS that's too specific in Astro. */
[data-theme] main .sl-markdown-content ul > li img {
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* Color matching logos */
svg.logo {
  color: var(--wa-color-brand-text-on-surface);
}

/* Anchor headings */
.anchor-heading {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.anchor-heading a {
  text-decoration: none;
  color: inherit;
}

.anchor-heading a::after {
  content: '#';
  color: color-mix(in oklab, var(--wa-color-text-link) 100%, var(--wa-color-mix-hover));
  margin-inline: 0.5rem;
  opacity: 0;
  transition: 100ms opacity;
}

.anchor-heading:hover a::after,
.anchor-heading:focus-within a::after {
  opacity: 1;
}

/* External links */
.external-link__icon {
  width: 0.75em;
  height: 0.75em;
  vertical-align: 0;
  margin-left: 0.25em;
  margin-right: 0.125em;
}

/* Tables */
table th p:first-child,
table td p:first-child {
  margin-top: 0;
}

table th p:last-child,
table td p:last-child {
  margin-bottom: 0;
}

.table-scroll {
  max-width: 100%;
  overflow-x: auto;
}

.table-scroll code {
  white-space: nowrap;
}

th.table-name,
th.table-event-detail {
  min-width: 15ch;
}

th.table-description {
  min-width: 50ch !important;
  max-width: 70ch;
}

/* Code blocks */
pre {
  position: relative;
  overflow: auto;
}

pre > code {
  display: block;
  background: none !important;
  border-radius: 0;
  hyphens: none;
  tab-size: 2;
  white-space: pre;
}

.code-preview__source {
  position: relative;
}

/* Copy code button */
.copy-code-button {
  position: absolute;
  top: 0;
  right: 0;
  white-space: normal;
  color: var(--wa-color-neutral-text-on-fill-alt);
  transition:
    150ms opacity,
    150ms scale;
}

.copy-code-button::part(button) {
  background-color: var(--wa-color-primary-fill-subtle);
  border-radius: 0 var(--wa-corners-s) 0 var(--wa-corners-s);
  padding: 0.75rem;
}

.copy-code-button::part(button):hover {
  background-color: color-mix(in oklab, var(--wa-color-primary-fill-subtle), var(--wa-color-mix-hover));
}

.copy-code-button::part(button):active {
  background-color: color-mix(in oklab, var(--wa-color-primary-fill-subtle), var(--wa-color-mix-active));
}

:is(.code-preview__source, pre, .code-preview) > .copy-code-button {
  opacity: 0;
  scale: 0.75;
}

:is(.code-preview__source, pre, .code-preview):hover > .copy-code-button,
.copy-code-button:focus-within {
  opacity: 1;
  scale: 1;
}

/* Border demos */
.border-demo {
  height: 60px;
  border-left: solid 1px var(--wa-color-brand-spot);
}

.corner-demo {
  width: 3rem;
  height: 3rem;
  background: var(--wa-color-brand-spot);
}

/* Transition demo */
.transition-demo {
  position: relative;
  background: var(--wa-color-neutral-fill-subtle);
  width: 8rem;
  height: 2rem;
}

.transition-demo:after {
  content: '';
  position: absolute;
  background-color: var(--wa-color-brand-spot);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition-duration: inherit;
  transition-property: width;
}

.transition-demo:hover:after {
  width: 100%;
}

/* Spacing demo */
.spacing-demo {
  background: var(--wa-color-brand-spot);
}

/* Shadow demo */
.shadow-demo {
  background: transparent;
  border-radius: 3px;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

/* Color palettes */
.color-palette {
  display: grid;
  grid-template-columns: 200px repeat(11, 1fr);
  gap: var(--wa-space-m) 1px;
  margin: var(--wa-space-2xl) 0;
}

.color-palette__name {
  font-weight: var(--wa-font-weight-medium);
  grid-template-columns: repeat(11, 1fr);
}

.color-palette__name code {
  background: none;
  font-size: var(--wa-font-size-s);
}

.color-palette__example {
  font-size: var(--wa-font-size-s);
  text-align: center;
}

.color-palette__swatch {
  height: 3rem;
  border-radius: var(--wa-corners-xs);
}

.color-palette__swatch--border {
  box-shadow: inset 0 0 0 1px var(--wa-color-surface-border);
}

@media screen and (max-width: 1200px) {
  .color-palette {
    grid-template-columns: repeat(6, 1fr);
  }

  .color-palette__name {
    grid-column-start: span 6;
  }
}

.docs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
