:host {
  --icon-color: currentColor;
  --icon-size: var(--wa-font-size-l);

  display: flex;
}

[part~='icon'] {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  color: var(--icon-color);
  font-size: var(--icon-size);

  ::slotted(*) {
    margin-inline-end: var(--spacing);
  }
}

[part~='message'] {
  flex: 1 1 auto;
  display: block;
  overflow: hidden;
}
