:host {
  --icon-color: currentColor;
  --icon-size: var(--wa-font-size-l);
  --spacing: var(--wa-space-m);

  position: relative;
  display: flex;
  align-items: stretch;
  border-radius: var(--wa-panel-border-radius);
  background-color: var(--background-color, var(--wa-color-fill-quiet));
  border-color: var(--border-color, var(--wa-color-border-quiet));
  border-style: var(--wa-panel-border-style);
  border-width: var(--wa-panel-border-width);
  color: var(--text-color, var(--wa-color-on-normal));
  padding: var(--spacing);
}

[part~='icon'] {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  color: var(--icon-color);
  font-size: var(--icon-size);

  ::slotted(*) {
    margin-inline-end: var(--spacing);
  }
}

[part~='message'] {
  flex: 1 1 auto;
  display: block;
  overflow: hidden;
}
