/**
* Rounding
*/
:where(:root, :host) {
  /* A multiplier is provided to uniformly increase or decrease all border radii. */
  --wa-border-radius-scale: 1;
  --wa-border-radius-s: calc(var(--wa-border-radius-scale) * 0.1875rem);
  --wa-border-radius-m: calc(var(--wa-border-radius-scale) * 0.375rem);
  --wa-border-radius-l: calc(var(--wa-border-radius-scale) * 0.75rem);

  /* These common border radius properties can create specific shapes beyond the theme's preferred corner styles. */
  --wa-border-radius-pill: 9999px;
  --wa-border-radius-circle: 50%;
  --wa-border-radius-square: 0px;
}
