@layer wa-dimension {
  :where(:root) {
    wa-button,
    button,
    input:where([type='button'], [type='reset'], [type='submit']) {
      &:not([appearance='plain'], .wa-plain) {
        --wa-color-shadow: var(--wa-color-border-normal);
        --wa-transition-slow: 0;
        --wa-transition-normal: 0;
        --wa-transition-fast: 0;

        --background-color-active: var(--border-color-active);
        --border-color-hover: var(--wa-color-shadow);
        --border-color-active: var(--wa-color-shadow);
        --box-shadow: var(--wa-shadow-offset-x-s) var(--wa-shadow-offset-y-s) 0 0 var(--wa-color-shadow);

        .wa-dark &,
        .wa-invert & {
          --wa-color-shadow: var(--wa-color-border-quiet);
        }
      }

      &[appearance='filled'],
      &.wa-filled {
        --wa-color-shadow: var(--wa-color-border-quiet);
      }

      &[appearance~='outlined'],
      &.wa-outlined {
        --wa-color-shadow: var(--border-color);

        --border-color: oklab(from var(--background-color) calc(l - 0.07) a b);
        --text-color-active: var(--background-color);
        --outlined-background-color: var(--wa-color-surface-default);

        .wa-dark &,
        .wa-invert & {
          --border-color: var(--wa-color-border-quiet);
          --text-color-active: var(--wa-color-on-quiet);
        }
      }
    }

    :is(wa-button, button, input:where([type='button'], [type='reset'], [type='submit'])):not(
        [appearance='plain'],
        .wa-plain
      ) {
      &:where(:not(wa-button)),
      &::part(base) {
        height: calc(var(--wa-form-control-height) - var(--wa-shadow-offset-y-s));
        margin-bottom: var(--wa-shadow-offset-y-s);
        margin-right: var(--wa-shadow-offset-x-s);
      }
      &:not([disabled], [loading]):active {
        &:where(:not(wa-button)),
        &::part(base) {
          box-shadow: none;
          transform: translate(var(--wa-shadow-offset-x-s), var(--wa-shadow-offset-y-s));
        }
      }
    }

    wa-radio[appearance='button'] {
      &:state(checked) {
        background-color: var(--wa-form-control-activated-color);
        border-color: var(--wa-form-control-activated-color);
        color: var(--wa-color-surface-default);
      }
    }
    wa-radio-group[orientation='horizontal'] wa-radio[appearance='button'] {
      box-shadow: var(--wa-shadow-offset-x-s) max(var(--wa-shadow-offset-y-s), var(--border-width)) 0 0
        var(--wa-form-control-border-color);
      margin-bottom: var(--wa-shadow-offset-y-s);
      margin-right: var(--wa-shadow-offset-x-s);

      &:state(checked) {
        box-shadow: initial;
        transform: translate(var(--wa-shadow-offset-x-s), var(--wa-shadow-offset-y-s));
      }
    }

    :is(
        input:where(
            :not(
              [type='button'],
              [type='checkbox'],
              [type='color'],
              [type='file'],
              [type='hidden'],
              [type='image'],
              [type='radio'],
              [type='range'],
              [type='reset'],
              [type='submit']
            )
          ),
        select,
        textarea,
        wa-input,
        wa-select,
        wa-textarea
      ):not(:focus, [appearance='filled']) {
      --box-shadow: inset var(--wa-shadow-offset-x-s) max(var(--wa-shadow-offset-y-s), var(--border-width)) 0 0
        var(--wa-color-shadow);
    }
  }
}
