:host {
  --icon-color: var(--wa-color-text-quiet);
  --spacing: var(--wa-space-m);
  --show-duration: 200ms;
  --hide-duration: 200ms;
  --outlined-border-color: var(--wa-color-surface-border);

  display: block;
}

:host([appearance='plain']) {
  border-radius: 0;
}

:host summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;

  &::marker,
  &::-webkit-details-marker {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--wa-focus-ring);
    outline-offset: calc(var(--spacing) + var(--wa-focus-ring-offset));
  }
}

details {
  display: block;
  overflow-anchor: none;
  border: var(--wa-panel-border-width) var(--border-color) var(--wa-panel-border-style);
  background-color: var(--background-color, var(--wa-color-surface-default));
  border-radius: var(--wa-panel-border-radius);
  color: var(--text-color, inherit);

  /* Print styles */
  @media print {
    background: none;
    border: solid var(--wa-border-width-s) var(--wa-color-surface-border);

    summary {
      list-style: none;
    }
  }
}

:host([disabled]) details {
  opacity: 0.5;
  cursor: not-allowed;
}

:host summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  padding: var(--spacing); /* Add padding here */

  &::marker,
  &::-webkit-details-marker {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--wa-focus-ring);
    outline-offset: calc(var(--spacing) + var(--wa-focus-ring-offset));
  }
}

[part~='icon'] {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  color: var(--icon-color);
  transition: rotate var(--wa-transition-normal) var(--wa-transition-easing);
}

:host([open]) [part~='icon'] {
  rotate: 90deg;
}

:host([open]:dir(rtl)) [part~='icon'] {
  rotate: -90deg;
}

:host([open]) slot[name='expand-icon'],
:host(:not([open])) slot[name='collapse-icon'] {
  display: none;
}

/* Overflows get clipped during the closing animation if we don't wait until the close is gone. */
:host(:not([open])) .body {
  overflow: hidden;
}

.content {
  display: block;
  padding-block-start: var(--spacing);
  padding-inline: var(--spacing); /* Add horizontal padding */
  padding-block-end: var(--spacing); /* Add bottom padding */
}

@keyframes show {
  from {
  }
  to {
  }
}
