<svg width="112" height="56" viewBox="0 0 112 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 9H106C108.761 9 111 11.2386 111 14V50C111 52.7614 108.761 55 106 55H6C3.23857 55 1 52.7614 1 50V14C1 11.2386 3.23858 9 6 9Z" fill="var(--wa-color-surface-default)" stroke="var(--wa-color-surface-border)" stroke-width="2"/>
<path d="M104.293 51.2929L107.293 48.2929" stroke="var(--wa-color-neutral-on-quiet)" stroke-width="2" stroke-linecap="round"/>
<path d="M99 51L107 43" stroke="var(--wa-color-neutral-on-quiet)" stroke-width="2" stroke-linecap="round"/>
<rect width="48" height="4" rx="2" fill="var(--wa-color-neutral-border-loud)"/>
</svg>
