:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
.wa-palette-anodized {
  --wa-color-red-95: #fbeeeb /* oklch(95.851% 0.01469 33.071) */;
  --wa-color-red-90: #f8e0d9 /* oklch(92.431% 0.02823 36.865) */;
  --wa-color-red-80: #efbdb1 /* oklch(83.972% 0.06035 33.801) */;
  --wa-color-red-70: #e39f8d /* oklch(76.38% 0.08577 35.424) */;
  --wa-color-red-60: #d1806b /* oklch(68.083% 0.10573 35.329) */;
  --wa-color-red-50: #b35e49 /* oklch(57.764% 0.11532 34.927) */;
  --wa-color-red-40: #8e4330 /* oklch(47.527% 0.10671 35.325) */;
  --wa-color-red-30: #733223 /* oklch(40.293% 0.09564 34.326) */;
  --wa-color-red-20: #562317 /* oklch(32.748% 0.07905 34.548) */;
  --wa-color-red-10: #36130a /* oklch(23.979% 0.05887 35.518) */;
  --wa-color-red-05: #240a05 /* oklch(18.708% 0.04625 34.412) */;
  --wa-color-red: var(--wa-color-red-50);

  --wa-color-yellow-95: #fff2b8 /* oklch(95.764% 0.07527 96.955) */;
  --wa-color-yellow-90: #ffe578 /* oklch(92.163% 0.13215 96.194) */;
  --wa-color-yellow-80: #eac46c /* oklch(83.54% 0.11551 86.482) */;
  --wa-color-yellow-70: #d5a766 /* oklch(75.67% 0.0989 74.916) */;
  --wa-color-yellow-60: #bd8a5e /* oklch(67.327% 0.08618 61.351) */;
  --wa-color-yellow-50: #9d6a4f /* oklch(57.149% 0.0766 48.607) */;
  --wa-color-yellow-40: #794f3c /* oklch(46.965% 0.06418 45.076) */;
  --wa-color-yellow-30: #603d2f /* oklch(39.723% 0.05466 42.556) */;
  --wa-color-yellow-20: #482b21 /* oklch(32.256% 0.04681 39.773) */;
  --wa-color-yellow-10: #2c1912 /* oklch(23.678% 0.03339 40.974) */;
  --wa-color-yellow-05: #1d0e0a /* oklch(18.423% 0.02718 35.681) */;
  --wa-color-yellow: var(--wa-color-yellow-90);

  --wa-color-green-95: #dcf8ea /* oklch(95.5% 0.03463 164.16) */;
  --wa-color-green-90: #bcf1d8 /* oklch(91.473% 0.06399 164.58) */;
  --wa-color-green-80: #6dddad /* oklch(81.852% 0.12484 163.42) */;
  --wa-color-green-70: #33c685 /* oklch(73.519% 0.15428 158.98) */;
  --wa-color-green-60: #0a6 /* oklch(64.917% 0.15588 156.54) */;
  --wa-color-green-50: #008754 /* oklch(54.923% 0.12782 158.29) */;
  --wa-color-green-40: #006646 /* oklch(45.146% 0.09722 163.25) */;
  --wa-color-green-30: #00503b /* oklch(38.299% 0.07764 167.91) */;
  --wa-color-green-20: #003a2d /* oklch(31.045% 0.06006 172.22) */;
  --wa-color-green-10: #00231b /* oklch(22.853% 0.04344 174.1) */;
  --wa-color-green-05: #001610 /* oklch(17.856% 0.03405 173.73) */;
  --wa-color-green: var(--wa-color-green-60);

  --wa-color-cyan-95: #cbfaf9 /* oklch(95.226% 0.04791 194.77) */;
  --wa-color-cyan-90: #9ff4f3 /* oklch(91.294% 0.08228 194.86) */;
  --wa-color-cyan-80: #1adfdb /* oklch(81.816% 0.13749 192.46) */;
  --wa-color-cyan-70: #00c3be /* oklch(73.815% 0.1269 191.5) */;
  --wa-color-cyan-60: #1aa6a0 /* oklch(65.653% 0.10892 190.15) */;
  --wa-color-cyan-50: #15837e /* oklch(55.258% 0.09092 189.97) */;
  --wa-color-cyan-40: #10635e /* oklch(45.271% 0.07391 188.55) */;
  --wa-color-cyan-30: #0c4e4a /* oklch(38.439% 0.06211 188.63) */;
  --wa-color-cyan-20: #083936 /* oklch(31.289% 0.04971 188.74) */;
  --wa-color-cyan-10: #04221f /* oklch(22.881% 0.03588 185.7) */;
  --wa-color-cyan-05: #021513 /* oklch(17.794% 0.0276 186.43) */;
  --wa-color-cyan: var(--wa-color-cyan-80);

  --wa-color-blue-95: #ecf3ff /* oklch(96.238% 0.01777 261.34) */;
  --wa-color-blue-90: #d9e7ff /* oklch(92.484% 0.03602 261.3) */;
  --wa-color-blue-80: #abcaff /* oklch(83.49% 0.082 261.03) */;
  --wa-color-blue-70: #83b0fe /* oklch(75.655% 0.12308 260.97) */;
  --wa-color-blue-60: #5593fe /* oklch(67.328% 0.1713 260.55) */;
  --wa-color-blue-50: #3d74d2 /* oklch(57.024% 0.15628 260.38) */;
  --wa-color-blue-40: #2e589f /* oklch(46.829% 0.12443 260.23) */;
  --wa-color-blue-30: #24457c /* oklch(39.571% 0.10098 260.03) */;
  --wa-color-blue-20: #1b325b /* oklch(32.168% 0.07881 261.06) */;
  --wa-color-blue-10: #101d35 /* oklch(23.292% 0.05008 261.75) */;
  --wa-color-blue-05: #0a1222 /* oklch(18.375% 0.0352 263.19) */;
  --wa-color-blue: var(--wa-color-blue-60);

  --wa-color-indigo-95: #f5efff /* oklch(96.142% 0.02215 302.94) */;
  --wa-color-indigo-90: #ede0ff /* oklch(92.64% 0.04374 304.51) */;
  --wa-color-indigo-80: #d7bdff /* oklch(84.265% 0.09443 302.44) */;
  --wa-color-indigo-70: #bf9efe /* oklch(76.541% 0.13786 298.94) */;
  --wa-color-indigo-60: #a280fa /* oklch(68.571% 0.17519 294.14) */;
  --wa-color-indigo-50: #7f5bec /* oklch(58.581% 0.20817 289.86) */;
  --wa-color-indigo-40: #603dc8 /* oklch(48.557% 0.20262 287.93) */;
  --wa-color-indigo-30: #4c2ba5 /* oklch(41.119% 0.18229 287.94) */;
  --wa-color-indigo-20: #381d7f /* oklch(33.629% 0.15279 287.75) */;
  --wa-color-indigo-10: #210e53 /* oklch(24.589% 0.11518 287.13) */;
  --wa-color-indigo-05: #150739 /* oklch(19.258% 0.08946 287.81) */;
  --wa-color-indigo: var(--wa-color-indigo-50);

  --wa-color-purple-95: #fbedfd /* oklch(96.172% 0.02584 321.94) */;
  --wa-color-purple-90: #f7defa /* oklch(92.922% 0.04588 322.59) */;
  --wa-color-purple-80: #eeb6f5 /* oklch(84.707% 0.10462 322.7) */;
  --wa-color-purple-70: #e590f0 /* oklch(77.326% 0.15957 322.79) */;
  --wa-color-purple-60: #d56ae2 /* oklch(69.373% 0.19861 323.18) */;
  --wa-color-purple-50: #b547be /* oklch(59.084% 0.2006 324.63) */;
  --wa-color-purple-40: #952598 /* oklch(48.958% 0.19474 326.91) */;
  --wa-color-purple-30: #751d79 /* oklch(41.379% 0.16261 326.12) */;
  --wa-color-purple-20: #561658 /* oklch(33.585% 0.12607 326.65) */;
  --wa-color-purple-10: #340d36 /* oklch(24.532% 0.08615 325.79) */;
  --wa-color-purple-05: #210822 /* oklch(19.065% 0.0603 326.11) */;
  --wa-color-purple: var(--wa-color-purple-50);

  --wa-color-gray-95: #f1f2f4 /* oklch(96.095% 0.00288 264.54) */;
  --wa-color-gray-90: #e2e5e8 /* oklch(92.046% 0.00521 247.88) */;
  --wa-color-gray-80: #c2c9d0 /* oklch(83.255% 0.01246 247.98) */;
  --wa-color-gray-70: #a6b0ba /* oklch(75.244% 0.01824 248.07) */;
  --wa-color-gray-60: #8897a3 /* oklch(66.841% 0.02477 242.06) */;
  --wa-color-gray-50: #657888 /* oklch(56.309% 0.0335 243.8) */;
  --wa-color-gray-40: #435c6f /* oklch(46.235% 0.04323 241.6) */;
  --wa-color-gray-30: #2d485d /* oklch(38.946% 0.04864 242.89) */;
  --wa-color-gray-20: #18354a /* oklch(31.701% 0.05142 242.24) */;
  --wa-color-gray-10: #012034 /* oklch(23.295% 0.05299 241.23) */;
  --wa-color-gray-05: #001421 /* oklch(18.122% 0.03959 237.04) */;
  --wa-color-gray: var(--wa-color-gray-40);
}
