:root,
:host {
  --wa-color-rose-95: #fdeef4;
  --wa-color-rose-90: #fddde9;
  --wa-color-rose-80: #fbb6cf;
  --wa-color-rose-70: #f88fb4;
  --wa-color-rose-60: #ea6997;
  --wa-color-rose-50: #ca4171;
  --wa-color-rose-40: #a7204f;
  --wa-color-rose-30: #85183e;
  --wa-color-rose-20: #60112d;
  --wa-color-rose-10: #3b0b1c;
  --wa-color-rose-05: #240611;

  --wa-color-red-95: #ffeeef;
  --wa-color-red-90: #fdd;
  --wa-color-red-80: #ffb2b2;
  --wa-color-red-70: #ff8585;
  --wa-color-red-60: #ff5c5c;
  --wa-color-red-50: #e12124;
  --wa-color-red-40: #aa1d00;
  --wa-color-red-30: #8a0b00;
  --wa-color-red-20: #700000;
  --wa-color-red-10: #46000c;
  --wa-color-red-05: #2e0008;

  --wa-color-yellow-95: #fff3bf;
  --wa-color-yellow-90: #f8e695;
  --wa-color-yellow-80: #eec637;
  --wa-color-yellow-70: #d8a815;
  --wa-color-yellow-60: #ce8500;
  --wa-color-yellow-50: #aa6300;
  --wa-color-yellow-40: #824c00;
  --wa-color-yellow-30: #663b00;
  --wa-color-yellow-20: #492b00;
  --wa-color-yellow-10: #2c1a00;
  --wa-color-yellow-05: #1b0e00;

  --wa-color-lime-95: #e8f9c7;
  --wa-color-lime-90: #d2f19c;
  --wa-color-lime-80: #9edc41;
  --wa-color-lime-70: #7dc11d;
  --wa-color-lime-60: #68a514;
  --wa-color-lime-50: #50810b;
  --wa-color-lime-40: #3a630c;
  --wa-color-lime-30: #2b4e0b;
  --wa-color-lime-20: #1e3808;
  --wa-color-lime-10: #122206;
  --wa-color-lime-05: #081404;

  --wa-color-green-95: #dbfadf;
  --wa-color-green-90: #bbf3c3;
  --wa-color-green-80: #79df8a;
  --wa-color-green-70: #4dc661;
  --wa-color-green-60: #35aa4a;
  --wa-color-green-50: #298539;
  --wa-color-green-40: #20652d;
  --wa-color-green-30: #165025;
  --wa-color-green-20: #0d391c;
  --wa-color-green-10: #062312;
  --wa-color-green-05: #03140c;

  --wa-color-teal-95: #cafae6;
  --wa-color-teal-90: #aaf3d7;
  --wa-color-teal-80: #46e2b7;
  --wa-color-teal-70: #00cba0;
  --wa-color-teal-60: #00b28f;
  --wa-color-teal-50: #008f76;
  --wa-color-teal-40: #00705e;
  --wa-color-teal-30: #005c4d;
  --wa-color-teal-20: #00483d;
  --wa-color-teal-10: #00312b;
  --wa-color-teal-05: #001613;

  --wa-color-blue-95: #e4f1ff;
  --wa-color-blue-90: #cee6ff;
  --wa-color-blue-80: #96ccff;
  --wa-color-blue-70: #53b4ff;
  --wa-color-blue-60: #349bf1;
  --wa-color-blue-50: #0079cd;
  --wa-color-blue-40: #005aa8;
  --wa-color-blue-30: #00458c;
  --wa-color-blue-20: #003073;
  --wa-color-blue-10: #00175c;
  --wa-color-blue-05: #000e39;

  --wa-color-indigo-95: #f4f0fe;
  --wa-color-indigo-90: #e9e2fe;
  --wa-color-indigo-80: #d0c1fc;
  --wa-color-indigo-70: #b8a2fa;
  --wa-color-indigo-60: #9f81f9;
  --wa-color-indigo-50: #7d59ea;
  --wa-color-indigo-40: #5f3dc4;
  --wa-color-indigo-30: #4b309b;
  --wa-color-indigo-20: #36236f;
  --wa-color-indigo-10: #211543;
  --wa-color-indigo-05: #130c27;

  --wa-color-violet-95: #fbeefe;
  --wa-color-violet-90: #f6defc;
  --wa-color-violet-80: #ecb8f8;
  --wa-color-violet-70: #e191f4;
  --wa-color-violet-60: #cd70e3;
  --wa-color-violet-50: #a84ebe;
  --wa-color-violet-40: #892f9f;
  --wa-color-violet-30: #6c257e;
  --wa-color-violet-20: #4e1b5a;
  --wa-color-violet-10: #2f1037;
  --wa-color-violet-05: #1c0920;

  --wa-color-gray-95: #f1f2f5;
  --wa-color-gray-90: #e3e6eb;
  --wa-color-gray-80: #c5cad4;
  --wa-color-gray-70: #a8afbf;
  --wa-color-gray-60: #8b95aa;
  --wa-color-gray-50: #677490;
  --wa-color-gray-40: #4a5877;
  --wa-color-gray-30: #3a455d;
  --wa-color-gray-20: #2a3142;
  --wa-color-gray-10: #191e28;
  --wa-color-gray-05: #0e1117;
}
