:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
.wa-palette-classic {
  --wa-color-red-95: #feeeee /* oklch(96.175% 0.01736 17.459) */;
  --wa-color-red-90: #fedede /* oklch(92.701% 0.03551 17.81) */;
  --wa-color-red-80: #fdb8b8 /* oklch(84.646% 0.08038 18.878) */;
  --wa-color-red-70: #fa9292 /* oklch(76.951% 0.12587 20.376) */;
  --wa-color-red-60: #ee6c6c /* oklch(68.861% 0.16125 22.227) */;
  --wa-color-red-50: #d43c3c /* oklch(58.269% 0.18916 25.263) */;
  --wa-color-red-40: #ac1e1e /* oklch(48.229% 0.17712 27.066) */;
  --wa-color-red-30: #640f0f /* oklch(32.787% 0.11797 26.73) */;
  --wa-color-red-20: #631111 /* oklch(32.78% 0.11503 26.34) */;
  --wa-color-red-10: #3b0d0d /* oklch(24.059% 0.07249 24.391) */;
  --wa-color-red-05: #260606 /* oklch(18.371% 0.05502 24.325) */;
  --wa-color-red: var(--wa-color-red-50);

  --wa-color-yellow-95: #fef2c4 /* oklch(95.928% 0.0607 95.131) */;
  --wa-color-yellow-90: #fde494 /* oklch(92.185% 0.10303 92.708) */;
  --wa-color-yellow-80: #fbc129 /* oklch(84.088% 0.16334 85.185) */;
  --wa-color-yellow-70: #f29c0b /* oklch(76.145% 0.1631 70.065) */;
  --wa-color-yellow-60: #db7e13 /* oklch(68.058% 0.15388 60.67) */;
  --wa-color-yellow-50: #af6005 /* oklch(56.918% 0.13324 58.984) */;
  --wa-color-yellow-40: #904207 /* oklch(47.288% 0.12241 49.414) */;
  --wa-color-yellow-30: #713406 /* oklch(40.01% 0.10093 50.35) */;
  --wa-color-yellow-20: #532408 /* oklch(32.223% 0.07974 47.215) */;
  --wa-color-yellow-10: #321606 /* oklch(23.771% 0.05225 48.671) */;
  --wa-color-yellow-05: #1f0c01 /* oklch(18.046% 0.04102 55.818) */;
  --wa-color-yellow: var(--wa-color-yellow-80);

  --wa-color-green-95: #e9f5ed /* oklch(95.897% 0.01651 156.91) */;
  --wa-color-green-90: #cfedd9 /* oklch(91.883% 0.04142 156.31) */;
  --wa-color-green-80: #a2d5b4 /* oklch(82.826% 0.07031 156.17) */;
  --wa-color-green-70: #6cc08a /* oklch(73.992% 0.11416 154.35) */;
  --wa-color-green-60: #38a961 /* oklch(65.365% 0.14702 151.78) */;
  --wa-color-green-50: #178640 /* oklch(54.51% 0.14175 149.98) */;
  --wa-color-green-40: #006823 /* oklch(45.073% 0.13335 147.17) */;
  --wa-color-green-30: #0d5026 /* oklch(38.028% 0.09504 150.7) */;
  --wa-color-green-20: #0c391d /* oklch(30.614% 0.06954 152.08) */;
  --wa-color-green-10: #082213 /* oklch(22.658% 0.04352 155.31) */;
  --wa-color-green-05: #02140a /* oklch(17.084% 0.03423 159.06) */;
  --wa-color-green: var(--wa-color-green-60);

  --wa-color-teal-95: #d0fbf3 /* oklch(95.575% 0.04532 182.8) */;
  --wa-color-teal-90: #a9f4e8 /* oklch(91.479% 0.07585 183.56) */;
  --wa-color-teal-80: #5bdecd /* oklch(82.349% 0.1175 183.5) */;
  --wa-color-teal-70: #36c2b3 /* oklch(73.796% 0.11779 184.4) */;
  --wa-color-teal-60: #12a797 /* oklch(65.522% 0.11415 182.81) */;
  --wa-color-teal-50: #0b8278 /* oklch(54.658% 0.09409 185.3) */;
  --wa-color-teal-40: #09635b /* oklch(45.055% 0.07686 185.06) */;
  --wa-color-teal-30: #0a4e49 /* oklch(38.363% 0.06313 187.15) */;
  --wa-color-teal-20: #0a3835 /* oklch(30.997% 0.04799 188.56) */;
  --wa-color-teal-10: #082120 /* oklch(22.8% 0.03074 191.62) */;
  --wa-color-teal-05: #021413 /* oklch(17.442% 0.02643 190.53) */;
  --wa-color-teal: var(--wa-color-teal-70);

  --wa-color-blue-95: #e5f4fe /* oklch(95.896% 0.02085 236.75) */;
  --wa-color-blue-90: #c8ebfd /* oklch(92.061% 0.04406 230.21) */;
  --wa-color-blue-80: #80d4fc /* oklch(83.114% 0.09915 230.17) */;
  --wa-color-blue-70: #37bbf5 /* oklch(74.731% 0.13762 232.44) */;
  --wa-color-blue-60: #0d9ee0 /* oklch(66.354% 0.14388 237.59) */;
  --wa-color-blue-50: #027ab9 /* oklch(55.557% 0.13184 242.23) */;
  --wa-color-blue-40: #015d8d /* oklch(45.762% 0.10698 241.38) */;
  --wa-color-blue-30: #024970 /* oklch(38.805% 0.0903 241.59) */;
  --wa-color-blue-20: #04354f /* oklch(31.306% 0.06703 238.73) */;
  --wa-color-blue-10: #05202f /* oklch(23.154% 0.04349 236.83) */;
  --wa-color-blue-05: #04121b /* oklch(17.393% 0.0282 236.81) */;
  --wa-color-blue: var(--wa-color-blue-60);

  --wa-color-indigo-95: #eef2ff /* oklch(96.191% 0.01793 272.31) */;
  --wa-color-indigo-90: #dee5fd /* oklch(92.388% 0.03348 272.78) */;
  --wa-color-indigo-80: #bec8f2 /* oklch(83.901% 0.05981 274.54) */;
  --wa-color-indigo-70: #9dabf0 /* oklch(75.639% 0.10065 274.93) */;
  --wa-color-indigo-60: #818cf7 /* oklch(67.953% 0.15693 276.94) */;
  --wa-color-indigo-50: #6063eb /* oklch(57.366% 0.20061 277.06) */;
  --wa-color-indigo-40: #4941d3 /* oklch(48.251% 0.21482 277.09) */;
  --wa-color-indigo-30: #3930ad /* oklch(40.969% 0.18954 277.17) */;
  --wa-color-indigo-20: #29247a /* oklch(32.82% 0.14032 277.91) */;
  --wa-color-indigo-10: #191843 /* oklch(23.918% 0.07895 279.64) */;
  --wa-color-indigo-05: #0f0e26 /* oklch(18.064% 0.04799 282.35) */;
  --wa-color-indigo: var(--wa-color-indigo-40);

  --wa-color-purple-95: #f7efff /* oklch(96.298% 0.02281 308.2) */;
  --wa-color-purple-90: #efe0ff /* oklch(92.801% 0.0444 307.25) */;
  --wa-color-purple-80: #dcbdfe /* oklch(84.655% 0.09457 306.19) */;
  --wa-color-purple-70: #cb9afd /* oklch(76.897% 0.14583 306.03) */;
  --wa-color-purple-60: #b976f9 /* oklch(69.137% 0.19284 305.56) */;
  --wa-color-purple-50: #9d46ec /* oklch(58.928% 0.237 303.82) */;
  --wa-color-purple-40: #7d22cc /* oklch(49.256% 0.23487 302) */;
  --wa-color-purple-30: #631f9c /* oklch(41.597% 0.18675 303.6) */;
  --wa-color-purple-20: #48176e /* oklch(33.244% 0.14133 305.45) */;
  --wa-color-purple-10: #2e054e /* oklch(24.726% 0.11996 303.55) */;
  --wa-color-purple-05: #1d0331 /* oklch(18.767% 0.08707 305.63) */;
  --wa-color-purple: var(--wa-color-purple-50);

  --wa-color-gray-95: #f2f2f3 /* oklch(96.143% 0.00133 286.37) */;
  --wa-color-gray-90: #e5e5e8 /* oklch(92.276% 0.00403 286.32) */;
  --wa-color-gray-80: #c9c9cc /* oklch(83.679% 0.00413 286.31) */;
  --wa-color-gray-70: #aeafb1 /* oklch(75.381% 0.00306 264.54) */;
  --wa-color-gray-60: #94959b /* oklch(67.089% 0.00884 278.56) */;
  --wa-color-gray-50: #72747d /* oklch(56.027% 0.01402 275.93) */;
  --wa-color-gray-40: #565861 /* oklch(46.18% 0.01474 275.83) */;
  --wa-color-gray-30: #43454d /* oklch(39.154% 0.01373 274.58) */;
  --wa-color-gray-20: #313134 /* oklch(31.432% 0.00529 286.09) */;
  --wa-color-gray-10: #1d1d20 /* oklch(23.201% 0.00571 285.95) */;
  --wa-color-gray-05: #101113 /* oklch(17.739% 0.00442 264.46) */;
  --wa-color-gray: var(--wa-color-gray-40);
}
