:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
.wa-palette-elegant {
  --wa-color-red-95: #fdeeef /* oklch(96.122% 0.01629 12.781) */;
  --wa-color-red-90: #fcdfe0 /* oklch(92.771% 0.0321 15.37) */;
  --wa-color-red-80: #f8b9bc /* oklch(84.416% 0.07319 15.56) */;
  --wa-color-red-70: #f0969c /* oklch(76.649% 0.10862 15.608) */;
  --wa-color-red-60: #e3727d /* oklch(68.562% 0.1405 15.424) */;
  --wa-color-red-50: #cc465a /* oklch(58.534% 0.16911 15.341) */;
  --wa-color-red-40: #ac1d3d /* oklch(48.628% 0.17601 15.401) */;
  --wa-color-red-30: #8f012c /* oklch(41.346% 0.16471 15.45) */;
  --wa-color-red-20: #6b001c /* oklch(33.484% 0.13403 16.992) */;
  --wa-color-red-10: #44000d /* oklch(24.5% 0.09818 18.249) */;
  --wa-color-red-05: #2e0006 /* oklch(19.077% 0.07648 18.657) */;
  --wa-color-red: var(--wa-color-red-40);

  --wa-color-yellow-95: #f5f2e5 /* oklch(95.994% 0.01748 96.105) */;
  --wa-color-yellow-90: #ece6cc /* oklch(92.281% 0.03499 96.315) */;
  --wa-color-yellow-80: #dac992 /* oklch(83.686% 0.07427 92.946) */;
  --wa-color-yellow-70: #c9ac5c /* oklch(75.33% 0.10529 89.848) */;
  --wa-color-yellow-60: #b98f27 /* oklch(67.248% 0.12518 85.119) */;
  --wa-color-yellow-50: #9b6d09 /* oklch(56.774% 0.11557 78.692) */;
  --wa-color-yellow-40: #785007 /* oklch(46.422% 0.09514 74.644) */;
  --wa-color-yellow-30: #613e06 /* oklch(39.54% 0.08123 71.804) */;
  --wa-color-yellow-20: #492c05 /* oklch(32.206% 0.06602 68.329) */;
  --wa-color-yellow-10: #2b1a02 /* oklch(23.457% 0.04659 73.352) */;
  --wa-color-yellow-05: #191008 /* oklch(18.243% 0.02161 62.915) */;
  --wa-color-yellow: var(--wa-color-yellow-60);

  --wa-color-green-95: #ecf4f1 /* oklch(96.029% 0.00935 171.8) */;
  --wa-color-green-90: #dae9e3 /* oklch(92.11% 0.01786 170.06) */;
  --wa-color-green-80: #b0d1c4 /* oklch(83.284% 0.03952 169.54) */;
  --wa-color-green-70: #88b9a6 /* oklch(74.553% 0.05874 168.82) */;
  --wa-color-green-60: #5fa288 /* oklch(65.987% 0.07948 167.12) */;
  --wa-color-green-50: #2d8462 /* oklch(55.19% 0.09885 163.66) */;
  --wa-color-green-40: #00663e /* oklch(44.949% 0.10492 158.13) */;
  --wa-color-green-30: #005031 /* oklch(38.025% 0.08722 159.15) */;
  --wa-color-green-20: #003b24 /* oklch(31.092% 0.0701 160.21) */;
  --wa-color-green-10: #002316 /* oklch(22.679% 0.04824 164.14) */;
  --wa-color-green-05: #00160d /* oklch(17.744% 0.03707 165.47) */;
  --wa-color-green: var(--wa-color-green-40);

  --wa-color-teal-95: #ebf4f4 /* oklch(96.04% 0.00955 197) */;
  --wa-color-teal-90: #d9e9e9 /* oklch(92.209% 0.01702 196.86) */;
  --wa-color-teal-80: #add0d1 /* oklch(83.253% 0.03716 198.6) */;
  --wa-color-teal-70: #84b8ba /* oklch(74.697% 0.05455 199.05) */;
  --wa-color-teal-60: #5aa0a3 /* oklch(66.11% 0.07083 199.17) */;
  --wa-color-teal-50: #268285 /* oklch(55.592% 0.08321 198.23) */;
  --wa-color-teal-40: #006366 /* oklch(45.364% 0.07714 198.42) */;
  --wa-color-teal-30: #004e51 /* oklch(38.509% 0.06547 199.25) */;
  --wa-color-teal-20: #00393b /* oklch(31.287% 0.0532 198.64) */;
  --wa-color-teal-10: #002223 /* oklch(22.861% 0.03889 197.63) */;
  --wa-color-teal-05: #001415 /* oklch(17.367% 0.02953 198.81) */;
  --wa-color-teal: var(--wa-color-teal-50);

  --wa-color-blue-95: #ebf3fa /* oklch(96.015% 0.01271 244.25) */;
  --wa-color-blue-90: #d8e8f5 /* oklch(92.295% 0.02463 242.35) */;
  --wa-color-blue-80: #accee9 /* oklch(83.556% 0.05253 242.25) */;
  --wa-color-blue-70: #81b5dd /* oklch(75.142% 0.07972 242.18) */;
  --wa-color-blue-60: #559bd2 /* oklch(66.672% 0.10847 244.18) */;
  --wa-color-blue-50: #1c7ac3 /* oklch(56.462% 0.13979 247.89) */;
  --wa-color-blue-40: #005aa0 /* oklch(46.253% 0.13415 250.9) */;
  --wa-color-blue-30: #00477e /* oklch(39.201% 0.11116 250.07) */;
  --wa-color-blue-20: #00345d /* oklch(31.892% 0.08838 249.18) */;
  --wa-color-blue-10: #001f37 /* oklch(23.169% 0.0591 245.63) */;
  --wa-color-blue-05: #001221 /* oklch(17.475% 0.04178 242.4) */;
  --wa-color-blue: var(--wa-color-blue-50);

  --wa-color-indigo-95: #f1f1fa /* oklch(96.073% 0.01199 286.17) */;
  --wa-color-indigo-90: #e4e4f6 /* oklch(92.422% 0.02428 285.92) */;
  --wa-color-indigo-80: #c6c7eb /* oklch(84.051% 0.05002 284.01) */;
  --wa-color-indigo-70: #a9aae1 /* oklch(75.682% 0.07863 283.54) */;
  --wa-color-indigo-60: #8d8ed7 /* oklch(67.514% 0.10716 282.54) */;
  --wa-color-indigo-50: #696ccb /* oklch(57.448% 0.14365 279.49) */;
  --wa-color-indigo-40: #4649bf /* oklch(47.579% 0.1808 275.97) */;
  --wa-color-indigo-30: #36389c /* oklch(40.459% 0.15877 275.79) */;
  --wa-color-indigo-20: #272972 /* oklch(32.817% 0.12297 276.06) */;
  --wa-color-indigo-10: #171844 /* oklch(23.835% 0.08107 277.33) */;
  --wa-color-indigo-05: #0d0e27 /* oklch(17.951% 0.0503 278.32) */;
  --wa-color-indigo: var(--wa-color-indigo-40);

  --wa-color-purple-95: #f6f0f9 /* oklch(96.235% 0.01349 314.76) */;
  --wa-color-purple-90: #eee2f2 /* oklch(92.695% 0.0249 317.72) */;
  --wa-color-purple-80: #dbc0e4 /* oklch(84.178% 0.05727 317.65) */;
  --wa-color-purple-70: #c9a1d6 /* oklch(76.281% 0.08607 317.75) */;
  --wa-color-purple-60: #b781c9 /* oklch(68.27% 0.11848 317.44) */;
  --wa-color-purple-50: #a059b7 /* oklch(58.361% 0.1559 317.36) */;
  --wa-color-purple-40: #882ea5 /* oklch(48.708% 0.19016 316.59) */;
  --wa-color-purple-30: #6d2086 /* oklch(41.325% 0.16725 316.35) */;
  --wa-color-purple-20: #501862 /* oklch(33.549% 0.13014 316.64) */;
  --wa-color-purple-10: #300e3b /* oklch(24.365% 0.08778 316.83) */;
  --wa-color-purple-05: #1c0823 /* oklch(18.278% 0.05827 316.48) */;
  --wa-color-purple: var(--wa-color-purple-40);

  --wa-color-gray-95: #f2f2f3 /* oklch(96.143% 0.00133 286.37) */;
  --wa-color-gray-90: #e6e5e8 /* oklch(92.354% 0.00415 301.42) */;
  --wa-color-gray-80: #cbc8ce /* oklch(83.695% 0.00885 308.34) */;
  --wa-color-gray-70: #b1adb6 /* oklch(75.367% 0.01345 305.97) */;
  --wa-color-gray-60: #98939f /* oklch(67.134% 0.01834 304.67) */;
  --wa-color-gray-50: #7a7382 /* oklch(56.69% 0.0242 306.59) */;
  --wa-color-gray-40: #5d5568 /* oklch(46.422% 0.03185 304.29) */;
  --wa-color-gray-30: #494352 /* oklch(39.46% 0.02608 303.4) */;
  --wa-color-gray-20: #35313c /* oklch(32.176% 0.01998 301.84) */;
  --wa-color-gray-10: #1f1c23 /* oklch(23.288% 0.01397 304.73) */;
  --wa-color-gray-05: #131115 /* oklch(18.185% 0.00865 307.93) */;
  --wa-color-gray: var(--wa-color-gray-40);
}
