:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
.wa-palette-mild {
  --wa-color-red-95: #ffeeec /* oklch(96.202% 0.01869 25.602) */;
  --wa-color-red-90: #ffddda /* oklch(92.494% 0.0381 23.849) */;
  --wa-color-red-80: #f9bbb3 /* oklch(84.649% 0.07309 27.063) */;
  --wa-color-red-70: #f0978d /* oklch(76.461% 0.10897 26.832) */;
  --wa-color-red-60: #e47468 /* oklch(68.546% 0.14136 27.641) */;
  --wa-color-red-50: #cf443b /* oklch(58.246% 0.17685 27.636) */;
  --wa-color-red-40: #b40c12 /* oklch(48.783% 0.19389 27.697) */;
  --wa-color-red-30: #910000 /* oklch(41.235% 0.16921 29.234) */;
  --wa-color-red-20: #6d0000 /* oklch(33.581% 0.1378 29.234) */;
  --wa-color-red-10: #450002 /* oklch(24.549% 0.10017 27.414) */;
  --wa-color-red-05: #2f0001 /* oklch(19.191% 0.07829 27.331) */;
  --wa-color-red: var(--wa-color-red-40);
  --wa-color-red-key: 40;

  --wa-color-yellow-95: #fff4b3 /* oklch(96.064% 0.08319 99.657) */;
  --wa-color-yellow-90: #fee58c /* oklch(92.346% 0.11242 94.205) */;
  --wa-color-yellow-80: #e3c868 /* oklch(83.63% 0.12003 93.943) */;
  --wa-color-yellow-70: #c6ad4f /* oklch(75.09% 0.11724 94.514) */;
  --wa-color-yellow-60: #ab933a /* oklch(66.775% 0.11124 94.014) */;
  --wa-color-yellow-50: #897421 /* oklch(56.347% 0.10227 94.315) */;
  --wa-color-yellow-40: #695808 /* oklch(46.381% 0.09207 95.41) */;
  --wa-color-yellow-30: #534400 /* oklch(39.079% 0.08019 94.639) */;
  --wa-color-yellow-20: #3d3100 /* oklch(31.711% 0.06501 94.007) */;
  --wa-color-yellow-10: #251d00 /* oklch(23.339% 0.04787 94.382) */;
  --wa-color-yellow-05: #171200 /* oklch(18.295% 0.03771 96.891) */;
  --wa-color-yellow: var(--wa-color-yellow-80);
  --wa-color-yellow-key: 80;

  --wa-color-green-95: #e1f9e1 /* oklch(95.814% 0.04053 145.25) */;
  --wa-color-green-90: #bff2c0 /* oklch(91.282% 0.08527 145.33) */;
  --wa-color-green-80: #9fd7a1 /* oklch(82.641% 0.09444 145.54) */;
  --wa-color-green-70: #86bc88 /* oklch(74.373% 0.09308 145.46) */;
  --wa-color-green-60: #6ca170 /* oklch(65.848% 0.09138 146.27) */;
  --wa-color-green-50: #4e8153 /* oklch(55.447% 0.08949 146.53) */;
  --wa-color-green-40: #336339 /* oklch(45.387% 0.08557 146.75) */;
  --wa-color-green-30: #224e29 /* oklch(38.199% 0.07889 147.22) */;
  --wa-color-green-20: #123a1b /* oklch(31.105% 0.0705 148.25) */;
  --wa-color-green-10: #01230a /* oklch(22.432% 0.06139 149.06) */;
  --wa-color-green-05: #001701 /* oklch(17.759% 0.05792 143.81) */;
  --wa-color-green: var(--wa-color-green-80);
  --wa-color-green-key: 80;

  --wa-color-cyan-95: #edf3f3 /* oklch(95.962% 0.00639 197.05) */;
  --wa-color-cyan-90: #dbe8e7 /* oklch(92.095% 0.01393 191.38) */;
  --wa-color-cyan-80: #b4cfcc /* oklch(83.363% 0.02926 188.46) */;
  --wa-color-cyan-70: #8db7b3 /* oklch(74.796% 0.04527 189) */;
  --wa-color-cyan-60: #679f9b /* oklch(66.257% 0.05926 190.12) */;
  --wa-color-cyan-50: #36817c /* oklch(55.496% 0.07429 189.27) */;
  --wa-color-cyan-40: #006461 /* oklch(45.445% 0.0782 191.18) */;
  --wa-color-cyan-30: #004e4b /* oklch(38.26% 0.066 190.33) */;
  --wa-color-cyan-20: #003937 /* oklch(31.113% 0.05357 190.93) */;
  --wa-color-cyan-10: #002220 /* oklch(22.721% 0.03935 189.11) */;
  --wa-color-cyan-05: #001514 /* oklch(17.672% 0.03043 190.87) */;
  --wa-color-cyan: var(--wa-color-cyan-40);
  --wa-color-cyan-key: 40;

  --wa-color-blue-95: #eaf5ff /* oklch(96.485% 0.01782 245.38) */;
  --wa-color-blue-90: #d5e7ff /* oklch(92.2% 0.03803 255.61) */;
  --wa-color-blue-80: #b5cced /* oklch(83.888% 0.05268 257.37) */;
  --wa-color-blue-70: #95b1d7 /* oklch(75.273% 0.06312 256.12) */;
  --wa-color-blue-60: #7697c1 /* oklch(66.758% 0.07287 254.73) */;
  --wa-color-blue-50: #5078a5 /* oklch(56.23% 0.08347 252.2) */;
  --wa-color-blue-40: #305b88 /* oklch(46.183% 0.08806 251.23) */;
  --wa-color-blue-30: #1b4771 /* oklch(38.952% 0.0863 250.15) */;
  --wa-color-blue-20: #0a3458 /* oklch(31.794% 0.07822 249.27) */;
  --wa-color-blue-10: #011f39 /* oklch(23.373% 0.0615 248.28) */;
  --wa-color-blue-05: #001327 /* oklch(18.28% 0.04995 248.62) */;
  --wa-color-blue: var(--wa-color-blue-40);
  --wa-color-blue-key: 40;

  --wa-color-indigo-95: #f7efff /* oklch(96.298% 0.02281 308.2) */;
  --wa-color-indigo-90: #ede1ff /* oklch(92.831% 0.04213 303.7) */;
  --wa-color-indigo-80: #d3c0ff /* oklch(84.487% 0.08877 298.31) */;
  --wa-color-indigo-70: #baa1f9 /* oklch(76.409% 0.12586 296.37) */;
  --wa-color-indigo-60: #9f86e0 /* oklch(67.937% 0.13169 295.47) */;
  --wa-color-indigo-50: #7f67bd /* oklch(57.508% 0.13016 294.83) */;
  --wa-color-indigo-40: #624a9e /* oklch(47.598% 0.13133 294.01) */;
  --wa-color-indigo-30: #4e3589 /* oklch(40.435% 0.13395 293.19) */;
  --wa-color-indigo-20: #3a2074 /* oklch(33.206% 0.1353 291.46) */;
  --wa-color-indigo-10: #24045f /* oklch(25.226% 0.1388 287.21) */;
  --wa-color-indigo-05: #180044 /* oklch(19.806% 0.11332 288.23) */;
  --wa-color-indigo: var(--wa-color-indigo-40);
  --wa-color-indigo-key: 40;

  --wa-color-purple-95: #ffedff /* oklch(96.554% 0.03048 325.81) */;
  --wa-color-purple-90: #fbdbff /* oklch(92.864% 0.05886 322.51) */;
  --wa-color-purple-80: #e2bde9 /* oklch(84.412% 0.07219 320.92) */;
  --wa-color-purple-70: #c8a2d1 /* oklch(76.182% 0.07799 319.78) */;
  --wa-color-purple-60: #af87b9 /* oklch(67.852% 0.08482 319.46) */;
  --wa-color-purple-50: #8f679b /* oklch(57.383% 0.09035 318.24) */;
  --wa-color-purple-40: #714a7f /* oklch(47.4% 0.09437 316.77) */;
  --wa-color-purple-30: #5d366c /* oklch(40.395% 0.09808 316) */;
  --wa-color-purple-20: #492258 /* oklch(33.171% 0.10022 315.66) */;
  --wa-color-purple-10: #310c40 /* oklch(24.665% 0.097 314.25) */;
  --wa-color-purple-05: #22042d /* oklch(19.41% 0.08225 315.39) */;
  --wa-color-purple: var(--wa-color-purple-40);
  --wa-color-purple-key: 40;

  --wa-color-gray-95: #f4f3f4 /* oklch(96.52% 0.00169 325.59) */;
  --wa-color-gray-90: #e7e5e8 /* oklch(92.431% 0.00454 314.8) */;
  --wa-color-gray-80: #ccc8cd /* oklch(83.746% 0.00813 319.45) */;
  --wa-color-gray-70: #b2adb2 /* oklch(75.325% 0.00901 325.67) */;
  --wa-color-gray-60: #979498 /* oklch(67.032% 0.00675 317.75) */;
  --wa-color-gray-50: #777478 /* oklch(56.292% 0.00705 317.74) */;
  --wa-color-gray-40: #5b585d /* oklch(46.491% 0.0088 312.22) */;
  --wa-color-gray-30: #464547 /* oklch(39.209% 0.00357 308.36) */;
  --wa-color-gray-20: #333235 /* oklch(31.929% 0.00542 301.22) */;
  --wa-color-gray-10: #1f1d22 /* oklch(23.51% 0.0099 303.74) */;
  --wa-color-gray-05: #121214 /* oklch(18.309% 0.00404 285.99) */;
  --wa-color-gray: var(--wa-color-gray-40);
  --wa-color-gray-key: 40;
}
