:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
.wa-palette-rudimentary {
  --wa-color-red-95: #fee /* oklch(96.257% 0.01846 17.478) */;
  --wa-color-red-90: #fdd /* oklch(92.574% 0.03779 17.855) */;
  --wa-color-red-80: #ffb6b8 /* oklch(84.502% 0.08518 17.203) */;
  --wa-color-red-70: #fb9191 /* oklch(76.892% 0.12835 20.456) */;
  --wa-color-red-60: #f16b5e /* oklch(68.899% 0.16784 27.833) */;
  --wa-color-red-50: #da3c06 /* oklch(58.891% 0.20155 35.469) */;
  --wa-color-red-40: #a62c00 /* oklch(48.117% 0.16441 36.104) */;
  --wa-color-red-30: #812500 /* oklch(40.578% 0.1326 38.082) */;
  --wa-color-red-20: #601a00 /* oklch(32.994% 0.10679 38.524) */;
  --wa-color-red-10: #3d0d00 /* oklch(24.253% 0.07888 38.298) */;
  --wa-color-red-05: #290600 /* oklch(18.868% 0.06197 37.848) */;
  --wa-color-red: var(--wa-color-red-50);

  --wa-color-yellow-95: #fff497 /* oklch(95.586% 0.11473 102.45) */;
  --wa-color-yellow-90: #ffe571 /* oklch(92.08% 0.13847 96.881) */;
  --wa-color-yellow-80: #ffbd31 /* oklch(83.787% 0.16061 80.808) */;
  --wa-color-yellow-70: #f09d27 /* oklch(76.177% 0.15513 69.241) */;
  --wa-color-yellow-60: #d67f31 /* oklch(67.745% 0.13973 58.256) */;
  --wa-color-yellow-50: #b1612d /* oklch(57.606% 0.12242 50.859) */;
  --wa-color-yellow-40: #8b4527 /* oklch(47.274% 0.1046 42.804) */;
  --wa-color-yellow-30: #703422 /* oklch(40.129% 0.09009 37.442) */;
  --wa-color-yellow-20: #53251c /* oklch(32.68% 0.071 32.488) */;
  --wa-color-yellow-10: #311613 /* oklch(23.859% 0.04441 27.497) */;
  --wa-color-yellow-05: #1f0d0b /* oklch(18.561% 0.0315 27.209) */;
  --wa-color-yellow: var(--wa-color-yellow-80);

  --wa-color-green-95: #dafadc /* oklch(95.411% 0.05194 146.87) */;
  --wa-color-green-90: #b9f4bc /* oklch(91.261% 0.09639 146.02) */;
  --wa-color-green-80: #64e177 /* oklch(81.419% 0.18348 146.66) */;
  --wa-color-green-70: #2ec859 /* oklch(73.18% 0.19719 147.79) */;
  --wa-color-green-60: #00ac4a /* oklch(64.995% 0.18331 149.02) */;
  --wa-color-green-50: #008840 /* oklch(54.827% 0.14802 150.85) */;
  --wa-color-green-40: #006734 /* oklch(45.037% 0.11628 152.87) */;
  --wa-color-green-30: #005128 /* oklch(38.134% 0.09801 153.08) */;
  --wa-color-green-20: #003b1c /* oklch(30.9% 0.07883 153.44) */;
  --wa-color-green-10: #00230e /* oklch(22.462% 0.05754 153.24) */;
  --wa-color-green-05: #001607 /* oklch(17.557% 0.04482 153.41) */;
  --wa-color-green: var(--wa-color-green-70);

  --wa-color-teal-95: #d1f9f1 /* oklch(95.167% 0.04252 181.91) */;
  --wa-color-teal-90: #a9f4e6 /* oklch(91.421% 0.07655 181.59) */;
  --wa-color-teal-80: #56ddcd /* oklch(81.962% 0.11921 184.3) */;
  --wa-color-teal-70: #29c2ba /* oklch(73.788% 0.1202 189.37) */;
  --wa-color-teal-60: #11a5a8 /* oklch(65.588% 0.10925 197.16) */;
  --wa-color-teal-50: #06828e /* oklch(55.453% 0.09384 206.29) */;
  --wa-color-teal-40: #006271 /* oklch(45.569% 0.07965 212.74) */;
  --wa-color-teal-30: #004d5a /* oklch(38.635% 0.06787 213.86) */;
  --wa-color-teal-20: #003843 /* oklch(31.374% 0.0556 215.61) */;
  --wa-color-teal-10: #002129 /* oklch(22.851% 0.04085 217.17) */;
  --wa-color-teal-05: #00151b /* oklch(18.055% 0.03231 217.31) */;
  --wa-color-teal: var(--wa-color-teal-70);

  --wa-color-blue-95: #e1f4ff /* oklch(95.642% 0.02496 232.97) */;
  --wa-color-blue-90: #caebff /* oklch(92.258% 0.04407 234.57) */;
  --wa-color-blue-80: #87d1ff /* oklch(82.911% 0.09817 236.93) */;
  --wa-color-blue-70: #4cb8ff /* oklch(75.061% 0.14167 241.25) */;
  --wa-color-blue-60: #09f /* oklch(66.905% 0.18368 248.81) */;
  --wa-color-blue-50: #0072ed /* oklch(57.257% 0.20469 257.18) */;
  --wa-color-blue-40: #0053be /* oklch(47.006% 0.18201 258.98) */;
  --wa-color-blue-30: #00409b /* oklch(39.927% 0.15956 259.61) */;
  --wa-color-blue-20: #002e76 /* oklch(32.56% 0.13217 259.91) */;
  --wa-color-blue-10: #001a4e /* oklch(23.965% 0.10161 260.68) */;
  --wa-color-blue-05: #000f36 /* oklch(18.68% 0.08063 260.98) */;
  --wa-color-blue: var(--wa-color-blue-50);

  --wa-color-indigo-95: #f1efff /* oklch(95.834% 0.02142 291.74) */;
  --wa-color-indigo-90: #e7e3ff /* oklch(92.744% 0.03793 292.2) */;
  --wa-color-indigo-80: #cbc1ff /* oklch(84.027% 0.08632 291.82) */;
  --wa-color-indigo-70: #b3a3ff /* oklch(76.472% 0.13034 290.97) */;
  --wa-color-indigo-60: #9b81ff /* oklch(68.426% 0.17995 290.32) */;
  --wa-color-indigo-50: #7f56f9 /* oklch(58.841% 0.22979 288.88) */;
  --wa-color-indigo-40: #6427e7 /* oklch(49.439% 0.25627 286.93) */;
  --wa-color-indigo-30: #5102ca /* oklch(42.528% 0.24562 286.08) */;
  --wa-color-indigo-20: #3a009b /* oklch(34.649% 0.20256 284.92) */;
  --wa-color-indigo-10: #220064 /* oklch(25.227% 0.14791 284.49) */;
  --wa-color-indigo-05: #160046 /* oklch(19.835% 0.11578 285.15) */;
  --wa-color-indigo: var(--wa-color-indigo-40);

  --wa-color-purple-95: #f8edfd /* oklch(95.934% 0.02417 315.47) */;
  --wa-color-purple-90: #f2e0fc /* oklch(92.948% 0.04198 313.7) */;
  --wa-color-purple-80: #e3baf6 /* oklch(84.428% 0.09274 314.96) */;
  --wa-color-purple-70: #d498f1 /* oklch(76.886% 0.1383 314.23) */;
  --wa-color-purple-60: #c76ff2 /* oklch(69.246% 0.20034 313.36) */;
  --wa-color-purple-50: #ac44dc /* oklch(59.406% 0.2279 312.95) */;
  --wa-color-purple-40: #862dad /* oklch(48.893% 0.19805 313.21) */;
  --wa-color-purple-30: #6b218a /* oklch(41.428% 0.16916 313.67) */;
  --wa-color-purple-20: #4f1568 /* oklch(33.543% 0.13957 313.21) */;
  --wa-color-purple-10: #310a42 /* oklch(24.603% 0.10191 313.12) */;
  --wa-color-purple-05: #20052d /* oklch(19.24% 0.07931 312.44) */;
  --wa-color-purple: var(--wa-color-purple-50);

  --wa-color-gray-95: #f2f2f2 /* oklch(96.115% 0 none) */;
  --wa-color-gray-90: #e6e6e6 /* oklch(92.494% 0 none) */;
  --wa-color-gray-80: #c9c9c9 /* oklch(83.591% 0 none) */;
  --wa-color-gray-70: #afafaf /* oklch(75.402% 0 none) */;
  --wa-color-gray-60: #959595 /* oklch(66.984% 0 none) */;
  --wa-color-gray-50: #747474 /* oklch(55.897% 0 none) */;
  --wa-color-gray-40: #585858 /* oklch(46.04% 0 none) */;
  --wa-color-gray-30: #454545 /* oklch(39.042% 0 none) */;
  --wa-color-gray-20: #313131 /* oklch(31.317% 0 none) */;
  --wa-color-gray-10: #1d1d1d /* oklch(23.075% 0 none) */;
  --wa-color-gray-05: #131313 /* oklch(18.674% 0 none) */;
  --wa-color-gray: var(--wa-color-gray-60);
}
