:where(:root),
:host,
:where([class^='wa-theme-'], [class*=' wa-theme-']),
.wa-palette-vogue {
  --wa-color-red-95: #feeeee /* oklch(96.175% 0.01736 17.459) */;
  --wa-color-red-90: #fedddd /* oklch(92.486% 0.03666 17.834) */;
  --wa-color-red-80: #fdb8b8 /* oklch(84.646% 0.08038 18.878) */;
  --wa-color-red-70: #fb9191 /* oklch(76.892% 0.12835 20.456) */;
  --wa-color-red-60: #f66565 /* oklch(68.965% 0.17872 22.978) */;
  --wa-color-red-50: #e12b2b /* oklch(58.974% 0.21613 27.031) */;
  --wa-color-red-40: #af1b1b /* oklch(48.576% 0.18205 27.417) */;
  --wa-color-red-30: #851e1e /* oklch(40.835% 0.13843 25.838) */;
  --wa-color-red-20: #641414 /* oklch(33.307% 0.11308 25.859) */;
  --wa-color-red-10: #400809 /* oklch(24.44% 0.08486 25.315) */;
  --wa-color-red-05: #2b0404 /* oklch(19.055% 0.06569 26.078) */;
  --wa-color-red: var(--wa-color-red-50);

  --wa-color-yellow-95: #fef6ab /* oklch(96.234% 0.09455 102.83) */;
  --wa-color-yellow-90: #ffe759 /* oklch(92.242% 0.15928 99.624) */;
  --wa-color-yellow-80: #f3c41a /* oklch(83.803% 0.16708 90.67) */;
  --wa-color-yellow-70: #e0a502 /* oklch(75.733% 0.15552 82.666) */;
  --wa-color-yellow-60: #c88804 /* oklch(67.447% 0.14121 75.44) */;
  --wa-color-yellow-50: #a76706 /* oklch(57.104% 0.124 67.484) */;
  --wa-color-yellow-40: #834b0f /* oklch(46.963% 0.10211 60.864) */;
  --wa-color-yellow-30: #693910 /* oklch(39.742% 0.08578 56.326) */;
  --wa-color-yellow-20: #502809 /* oklch(32.489% 0.07269 53.649) */;
  --wa-color-yellow-10: #311704 /* oklch(23.775% 0.05173 54.627) */;
  --wa-color-yellow-05: #1f0e02 /* oklch(18.545% 0.03815 59.032) */;
  --wa-color-yellow: var(--wa-color-yellow-80);

  --wa-color-green-95: #d6fbe3 /* oklch(95.529% 0.04989 156.89) */;
  --wa-color-green-90: #acf5c6 /* oklch(90.962% 0.09709 155.72) */;
  --wa-color-green-80: #58e38b /* oklch(81.864% 0.17318 152.51) */;
  --wa-color-green-70: #25c861 /* oklch(73.149% 0.19247 149.75) */;
  --wa-color-green-60: #17ab4e /* oklch(64.955% 0.17611 149.25) */;
  --wa-color-green-50: #158740 /* oklch(54.761% 0.14352 149.99) */;
  --wa-color-green-40: #166635 /* oklch(45.105% 0.10874 151.56) */;
  --wa-color-green-30: #13502b /* oklch(38.277% 0.08756 152.42) */;
  --wa-color-green-20: #093a1d /* oklch(30.848% 0.07243 152.47) */;
  --wa-color-green-10: #032311 /* oklch(22.69% 0.05156 154.92) */;
  --wa-color-green-05: #02160a /* oklch(17.815% 0.03799 156.47) */;
  --wa-color-green: var(--wa-color-green-70);

  --wa-color-teal-95: #d1fbf2 /* oklch(95.61% 0.04472 180.87) */;
  --wa-color-teal-90: #9bf6e4 /* oklch(91.092% 0.09113 180.19) */;
  --wa-color-teal-80: #43e0ca /* oklch(82.113% 0.13179 181.48) */;
  --wa-color-teal-70: #1ac4b0 /* oklch(73.775% 0.12864 181.89) */;
  --wa-color-teal-60: #0ea798 /* oklch(65.521% 0.11439 183.58) */;
  --wa-color-teal-50: #0e837a /* oklch(55.027% 0.0937 186.25) */;
  --wa-color-teal-40: #11635e /* oklch(45.289% 0.07357 188.54) */;
  --wa-color-teal-30: #134d49 /* oklch(38.278% 0.05833 188.33) */;
  --wa-color-teal-20: #073938 /* oklch(31.345% 0.04977 192.86) */;
  --wa-color-teal-10: #022222 /* oklch(22.914% 0.03701 194.88) */;
  --wa-color-teal-05: #011515 /* oklch(17.806% 0.02865 194.89) */;
  --wa-color-teal: var(--wa-color-teal-80);

  --wa-color-blue-95: #ebf3ff /* oklch(96.164% 0.01825 258.35) */;
  --wa-color-blue-90: #d6e7fe /* oklch(92.238% 0.03631 255.96) */;
  --wa-color-blue-80: #a4cefe /* oklch(83.833% 0.08104 252.13) */;
  --wa-color-blue-70: #73b2fb /* oklch(75.087% 0.12447 253.02) */;
  --wa-color-blue-60: #4d95f9 /* oklch(67.127% 0.16539 257.15) */;
  --wa-color-blue-50: #2b6df0 /* oklch(57.128% 0.2086 262.06) */;
  --wa-color-blue-40: #1d4bd3 /* oklch(47.813% 0.21434 264.65) */;
  --wa-color-blue-30: #1e3d9c /* oklch(40.115% 0.15907 265.62) */;
  --wa-color-blue-20: #1c2e69 /* oklch(32.363% 0.10583 267.39) */;
  --wa-color-blue-10: #101b41 /* oklch(23.741% 0.07371 268.19) */;
  --wa-color-blue-05: #09102c /* oklch(18.584% 0.05736 269.49) */;
  --wa-color-blue: var(--wa-color-blue-40);

  --wa-color-indigo-95: #eef2ff /* oklch(96.191% 0.01793 272.31) */;
  --wa-color-indigo-90: #dde5ff /* oklch(92.379% 0.03641 272.07) */;
  --wa-color-indigo-80: #bbc8fd /* oklch(84.101% 0.07567 273.94) */;
  --wa-color-indigo-70: #9caafb /* oklch(75.877% 0.11749 275.74) */;
  --wa-color-indigo-60: #818bf8 /* oklch(67.82% 0.15961 277.29) */;
  --wa-color-indigo-50: #6164f0 /* oklch(57.986% 0.20564 276.94) */;
  --wa-color-indigo-40: #493fd8 /* oklch(48.428% 0.22298 276.96) */;
  --wa-color-indigo-30: #3932aa /* oklch(40.976% 0.18359 277.14) */;
  --wa-color-indigo-20: #2b2871 /* oklch(32.847% 0.12194 279.13) */;
  --wa-color-indigo-10: #1b1842 /* oklch(24.014% 0.0769 282.14) */;
  --wa-color-indigo-05: #100f29 /* oklch(18.672% 0.05145 281.93) */;
  --wa-color-indigo: var(--wa-color-indigo-40);

  --wa-color-purple-95: #f7efff /* oklch(96.298% 0.02281 308.2) */;
  --wa-color-purple-90: #efe0ff /* oklch(92.801% 0.0444 307.25) */;
  --wa-color-purple-80: #dcbdfe /* oklch(84.655% 0.09457 306.19) */;
  --wa-color-purple-70: #cb99fd /* oklch(76.728% 0.14746 306.23) */;
  --wa-color-purple-60: #b875fb /* oklch(68.999% 0.19637 304.88) */;
  --wa-color-purple-50: #9e44f3 /* oklch(59.348% 0.24636 302.91) */;
  --wa-color-purple-40: #7e22cd /* oklch(49.465% 0.23596 302.16) */;
  --wa-color-purple-30: #63209a /* oklch(41.52% 0.18376 304.12) */;
  --wa-color-purple-20: #4b1079 /* oklch(33.995% 0.16043 303.8) */;
  --wa-color-purple-10: #2f0451 /* oklch(25.081% 0.12442 302.96) */;
  --wa-color-purple-05: #1e0238 /* oklch(19.51% 0.09712 301.8) */;
  --wa-color-purple: var(--wa-color-purple-50);

  --wa-color-gray-95: #f1f2f4 /* oklch(96.095% 0.00288 264.54) */;
  --wa-color-gray-90: #e3e5e9 /* oklch(92.152% 0.00582 264.53) */;
  --wa-color-gray-80: #c5cad1 /* oklch(83.72% 0.01119 256.7) */;
  --wa-color-gray-70: #a9afba /* oklch(75.266% 0.01714 262.74) */;
  --wa-color-gray-60: #8e95a2 /* oklch(66.836% 0.02085 262.97) */;
  --wa-color-gray-50: #6e7583 /* oklch(56.134% 0.02325 264.37) */;
  --wa-color-gray-40: #505968 /* oklch(46.179% 0.02697 260.65) */;
  --wa-color-gray-30: #3c4656 /* oklch(39.174% 0.03024 259.75) */;
  --wa-color-gray-20: #293342 /* oklch(31.849% 0.03023 258.34) */;
  --wa-color-gray-10: #161e2d /* oklch(23.484% 0.03142 262.56) */;
  --wa-color-gray-05: #0c1220 /* oklch(18.396% 0.03036 265.82) */;
  --wa-color-gray: var(--wa-color-gray-40);
}
