@import url('../default/typography.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:where(:root),
:host,
.wa-theme-active {
  --wa-font-family-body: 'Inter', sans-serif;

  --wa-font-weight-semibold: 550;
  --wa-font-weight-bold: 650;
}
