:host {
  display: inline-flex;
}

.button-group {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  isolation: isolate;
}

:host([orientation='vertical']) .button-group {
  flex-direction: column;
}

/* Show the focus indicator above other buttons */
::slotted(:focus) {
  z-index: 1 !important;
}
