@import url('../default/typography.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:where(:root),
:host,
.wa-theme-tailspin {
  --wa-font-family-body: 'Inter', sans-serif;
  --wa-font-family-heading: var(--wa-font-family-body);

  --wa-font-weight-light: 300;
  --wa-font-weight-normal: 400;
  --wa-font-weight-semibold: 500;
  --wa-font-weight-bold: 700;

  --wa-font-size-scale: 0.875;

  --wa-link-decoration-default: none;
  --wa-link-decoration-hover: none;
}
